<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:substituteby="fragment/common :: head " />
  <body>
    <div class="wrapper">
	    <div th:substituteby="fragment/common :: navigation-default"></div>
	    <div class="container-fluid">
	      <div class="row-fluid">
	        <div class="span12">
	          <form method="post" th:action="@{/j_security_check}">
	            <legend th:text="#{Login}">Login</legend>
	            <div class="controls">
	              <label th:text="#{User Name}" for="input-user">User Name</label>
	              <input type="text" id="input-user" ng-model="user" name="j_username" autofocus />
	            </div>
	            <div class="controls">
	              <label th:text="#{Password}" for="input-password">Password</label>
	              <input type="password" id="input-password" name="j_password" />
	            </div>
	            <div class="controls">
	              <button type="submit" class="btn" th:text="#{Sign in}">Sign in</button>
	            </div>
	          </form>
	        </div>
	      </div>
	    </div>
	  </div>
    <footer th:substituteby="fragment/common :: footer" />
  </body>
</html>
