<module xmlns="urn:jboss:module:1.0" name="com.camunda.fox.platform.fox-platform-jobexecutor-core">
  <resources>
    <resource-root path="fox-platform-jobexecutor-core-@project.version@.jar" />
  </resources>

  <dependencies>
    
    <module name="com.camunda.fox.engine.fox-engine" />    
    <module name="com.camunda.fox.platform.fox-platform-api" />
    <module name="com.camunda.fox.platform.fox-platform-jobexecutor-api"/>
        
  </dependencies>
</module>
