<form name="generic-form"
      class="form-horizontal">

  <div class="form-group labels-left">
    <div class="col-xs-2 row-action">
      <a ng-click="addVariable()"
         ng-disabled="options.disableAddVariableButton">
        <span class="hidden-xs hidden-sm"
              translate="ADD_VARIABLE">Add variable</span>
        <span class="glyphicon glyphicon-plus-sign"></span>
      </a>
    </div>



    <div class="col-xs-10"
         ng-if="variables.length">
      <div class="row">
        <label class="control-label col-xs-4"
               translate="NAME">Name</label>



        <label class="control-label col-xs-4"
               translate="TYPE">Type</label>



        <label class="control-label col-xs-4"
               translate="VALUE">Value</label>
      </div>
    </div>
  </div>



  <div ng-if="variables.length"
       ng-repeat="(delta, variable) in variables"
       class="form-group">

    <div class="col-xs-2 row-action">
      <a ng-click="removeVariable(delta)">
        <span class="hidden-sm hidden-xs"
              translate="REMOVE">Remove</span>
        <span class="glyphicon glyphicon-minus-sign"></span>
      </a>
    </div>



    <div class="col-xs-10">
      <div class="row">
        <div class="col-xs-4">
          <input required
                 type="text"
                 class="form-control"
                 ng-pattern="/^[a-z]{1}[a-zA-Z0-9_]*$/"
                 placeholder="{{ 'VARIABLE_NAME' | translate }}"
                 ng-model="variable.name" />
        </div>



        <div class="col-xs-4">
          <select required
                  ng-readonly="!variable.name"
                  class="form-control"
                  placeholder="{{ 'VARIABLE_TYPE' | translate }}"
                  ng-model="variable.type">

            <option disabled
                    value=""
                    translate="TYPE">Type</option>

            <option ng-repeat="(type, inputType) in variableTypes"
                    value="{{ type }}">{{ type | translate }}</option>
          </select>
        </div>



        <div class="col-xs-4"
             ng-switch="variable.type">
          <input ng-switch-when=""
                 readonly
                 type="text"
                 class="form-control"
                 placeholder="{{ 'VARIABLE_VALUE' | translate }}" />


          <input ng-switch-when="Date"
                 class="form-control"
                 type="text"
                 required
                 placeholder="yyyy-MM-ddTHH:mm:ss"
                 ng-pattern="/^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}([0-9]{2}|)$/"
                 ng-model="variable.value"
                 cam-variable-name="{{ variable.name }}"
                 cam-variable-type="{{ variable.type }}" />


          <input ng-switch-when="Short"
                 class="form-control"
                 type="number"
                 required
                 ng-model="variable.value"
                 ng-pattern="/^(-|)[0-9]+$/"
                 min="-32768"
                 max="32768"
                 cam-variable-name="{{ variable.name }}"
                 cam-variable-type="{{ variable.type }}"
                 placeholder="{{ 'VARIABLE_VALUE' | translate }}" />

          <input ng-switch-when="Double"
                 class="form-control"
                 type="text"
                 required
                 ng-model="variable.value"
                 ng-pattern="/^(-|)[0-9]+(\.[0-9]+|)$/"
                 cam-variable-name="{{ variable.name }}"
                 cam-variable-type="{{ variable.type }}"
                 placeholder="{{ 'VARIABLE_VALUE' | translate }}" />

          <input ng-switch-when="Long"
                 class="form-control"
                 type="text"
                 required
                 ng-model="variable.value"
                 ng-pattern="/^(-|)[0-9]+$/"
                 cam-variable-name="{{ variable.name }}"
                 cam-variable-type="{{ variable.type }}"
                 placeholder="{{ 'VARIABLE_VALUE' | translate }}" />


          <input ng-switch-when="Boolean"
                 class="form-control"
                 type="checkbox"
                 ng-model="variable.value"
                 ng-checked="variable.value"
                 cam-variable-name="{{ variable.name }}"
                 cam-variable-type="{{ variable.type }}" />


          <input ng-switch-default
                 class="form-control"
                 type="{{ variableTypes[variable.type] }}"
                 required
                 ng-model="variable.value"
                 cam-variable-name="{{ variable.name }}"
                 cam-variable-type="{{ variable.type }}"
                 placeholder="{{ 'VARIABLE_VALUE' | translate }}" />
        </div>
      </div>
    </div>
  </div>
</form>
