<span class="view"
      ng-if="!editing"
      ng-click="startEditing()"
      ng-transclude>

</span>

<span class="edit"
      ng-if="editing">

  <span ng-if="varType === 'datetime' || varType === 'date' || varType === 'time'"
        class="preview">
    {{ dateValue | camDate }}
  </span>

  <span class="field">
    <input ng-if="simpleField"
           class="form-control"
           type="{{ varType }}"
           ng-model="editValue"
           ng-keyup="($event.keyCode == 13 && applyChange()) || ($event.keyCode == 27 && cancelChange())"
           placeholder="{{ placeholder }}" />

    <span ng-if="varType === 'datetime' || varType === 'date' || varType === 'time'">

      <datepicker class="datepicker"
                  ng-if="varType === 'datetime' || varType === 'date'"
                  type="text"
                  ng-required="true"
                  is-open="datePickerOptions.isOpen"
                  show-button-bar="false"

                  ng-model="dateValue"
                  ng-change="changeDate(this)" />


      <timepicker class="timepicker"
                  ng-if="varType === 'datetime' || varType === 'time'"
                  show-meridian="false"

                  ng-model="dateValue"
                  ng-change="changeDate(this)" />

    </span>
    <div ng-if="varType === 'option'">
      <span style="padding: 4px;">{{varValue}}</span>
      <ul class="dropdown-menu" style="display:block;" role="menu">
        <li ng-repeat="option in options">
          <a ng-click="applyChange(option)">
            {{option}}
          </a>
        </li>
      </ul>
    </div>
  </span>

  <span class="btn-group" ng-if="varType !== 'option'">
    <button type="button"
            class="btn btn-xs btn-default"
            ng-click="applyChange()">
      <span class="glyphicon glyphicon-ok"></span>
    </button>

    <button type="button"
            class="btn btn-xs btn-default"
            ng-click="cancelChange()">
      <span class="glyphicon glyphicon-remove"></span>
    </button>
  </span>
</span>
