<span class="view"
      ng-if="!editing"
      ng-click="startEditing()"
      ng-transclude>

</span>

<span class="edit"
      ng-if="editing">

  <span ng-if="varType === 'datetime' || varType === 'date' || varType === 'time'"
        class="preview">
    {{ editValue | amCalendar }}
  </span>

  <span class="field">
    <input ng-if="simpleField"
           class="form-control"
           type="{{ varType }}"
           ng-model="editValue"
           placeholder="{{ placeholder }}" />

    <span ng-if="varType === 'datetime' || varType === 'date' || varType === 'time'">

      <datepicker class="datepicker"
                  ng-if="varType === 'datetime' || varType === 'date'"
                  type="text"
                  ng-required="true"
                  is-open="datePickerOptions.isOpen"
                  show-button-bar="false"

                  ng-model="editValue"
                  ng-change="changeDate(this)" />


      <timepicker class="timepicker"
                  ng-if="varType === 'datetime' || varType === 'time'"
                  show-meridian="false"

                  ng-model="editValue"
                  ng-change="changeDate(this)" />

    </span>
  </span>

  <span class="btn-group">
    <button type="button"
            class="btn btn-xs btn-default"
            ng-click="applyChange()">
      <span class="glyphicon glyphicon-ok"></span>
    </button>

    <button type="button"
            class="btn btn-xs btn-default"
            ng-click="cancelChange()">
      <span class="glyphicon glyphicon-remove"></span>
    </button>
  </span>
</span>
