{
  "rules": {
    "space-before-blocks": [ 2, "always"],
    "indent-legacy": [ 2, 2, { "VariableDeclarator": { "var": 2, "let": 2, "const": 3 } } ],
    "space-before-function-paren": [ 2, "never" ],
    "quotes": [ 2, "single" ],
    "semi": [ 2, "always" ],
    "no-console": 1,
    "no-self-assign": 0,
    "no-useless-escape": "off"
  },
  "env": {
    "node": true,
    "browser": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:camunda-licensed/apache"
  ],
  "parserOptions": {
    "sourceType": "module"
  },
  "globals": {
    "requirejs": false,
    "expect": false,
    "it": false,
    "describe": false,
    "beforeEach": true,
    "afterEach": true,
    "before": true,
    "after": true
  }
}
