.idea
target
.classpath
.project
.settings
build.properties
bin
.metadata
transaction.log
nbactions*.xml
nb-configuration.xml
/webapps/fox-platform-tasklist/server-work
dependency-reduced-pom.xml
faces-config.NavData
dependency-reduced-pom.xml
*.iml
*.sublime-project
*.sublime-workspace
*.h2.db
*.lock.db
node_modules
test.*.log
webapp/*.log
debug.log
test-results
