<module xmlns="urn:jboss:module:1.1" name="org.postgresql.postgresql">
  <resources>
    <resource-root path="postgresql-@version.postgresql@.jar"/>
  </resources>
  
  <dependencies>
    <module name="java.base"/>
    <module name="java.desktop"/>
    <module name="java.management"/>
    <module name="java.naming"/>
    <module name="java.security.jgss"/>
    <module name="java.security.sasl"/>
    <module name="java.sql"/>
    <module name="jakarta.transaction.api" />
  </dependencies>
</module>