<div class="ctn-content-container ctn-collapsable-parent">

  <!-- tool bar -->
  <div class="ctn-toolbar">
  </div>

  <!-- sitebar -->
  <div class="ctn-column ctn-sitebar ctn-collapsable" collapsable="left">

    <div class="page-header">
      <small>Process Definition</small>
      <h1 ng-show="!!processDefinition.name">{{ processDefinition.name }}</h1>
      <h1 ng-show="!processDefinition.name">{{ processDefinition.key }}</h1>
    </div>

    <div class="filters" ng-controller="ProcessDefinitionFilterController">
      <h5>
        Filter
        <div class="btn-group btn-control">
          <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
            <i class="icon-plus"></i>
          </button>

          <ul class="dropdown-menu pull-right">
            <li>
              <a href ng-click="addVariableFilter()">
                by variable
              </a>
            </li>
            <li ng-hide="filterData.businessKey">
              <a href ng-click="addBusinessKeyFilter()">
                by business key
              </a>
            </li>
          </ul>
        </div>
      </h5>

      <form name="filterForm" novalidate ng-submit="filterChanged()">
        <ul class="unstyled">

          <li class="filter">
            <span class="name">
              Version
            </span>

            <div class="btn-group">
              <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
                {{ processDefinition.version }} <span class="caret"></span>
              </button>

              <ul class="dropdown-menu">
                <li ng-repeat="definition in filterData.allDefinitions">
                  <a ng-href="#/process-definition/{{ definition.id }}">
                    {{ definition.version }}
                  </a>
                </li>
              </ul>
            </div>
          </li>

          <li class="filter" ng-if="filterData.parent">
            <div class="name">
              Parent
            </div>

            <div class="search search-text">

              <button class="btn btn-link btn-mini btn-control remove"
                      ng-click="removeParentFilter()">
                <i class="icon-remove"></i>
              </button>

              <a ng-href="#/process-definition/{{ filterData.parent.id }}">
                {{ filterData.parent.name || filterData.parent.key }}
              </a>
            </div>
          </li>

          <li class="filter" ng-if="filterData.businessKey">
            <div class="name">
              Business Key
            </div>

            <div class="search">
              <button class="btn btn-link btn-mini btn-control remove"
                      ng-click="removeBusinessKeyFilter()">
                <i class="icon-remove"></i>
              </button>
              <input type="text" required placeholder="Filter Business Key"
                     name="businessKey"
                     ng-model="filterData.businessKey.value"
                     ng-change="filterChanged()" />
            </div>

            <div class="note note-small" ng-if="filterForm.businessKey.$invalid">
              Field is required
            </div>
          </li>

          <li class="filter" ng-if="filterData.variables.length">
            <div class="name">
              Variables <a href ng-click="toggleVariableFilterHelp()" title="Get help on variable filters"><i class="icon-question-sign"></i></a>
            </div>

            <div class="search" ng-repeat="variable in filterData.variables">

              <button class="btn btn-link btn-mini btn-control remove"
                      ng-click="removeVariableFilter(variable)">
                <i class="icon-remove"></i>
              </button>

              <input type="text"
                     required
                     name="variableFilter{{$index}}"
                     placeholder="Filter Variable"
                     ng-model="variable.value"
                     ng-change="filterChanged()" 
                     process-variable />

              <div class="note note-small" ng-show="filterForm['variableFilter' + $index].$invalid">
                <div ng-show="filterForm['variableFilter' + $index].$error.required">
                  Field is required.
                </div>
                <div ng-show="filterForm['variableFilter' + $index].$error.processVariableFilter">
                  Syntax for variable filters is <code>variableName OPERATOR value</code>.
                  <a href ng-show="!showVariableFilterHelp" ng-click="toggleVariableFilterHelp()">
                    Learn more.
                  </a>
                </div>
              </div>
            </div>

            <div class="note" ng-show="showVariableFilterHelp">
              <div class="name">
                Variable filter syntax
                <a href style="font-weight: normal" ng-click="toggleVariableFilterHelp()">
                  hide
                </a>
              </div>
              <div>
                Filters on variables must be specified as
                <code>variableName OPERATOR value</code> where <code>OPERATOR</code> may be any of 
                <span ng-repeat="op in operators"><span ng-show="$index > 0">, </span><code>{{ op }}</code></span>.
                All variable filters are applied using the logical <code>AND</code>.
                Strings must be properly enclosed in <code>"</code>.
              </div>
            </div>
          </li>

          <li class="filter" ng-if="filterData.activities.length">
            <div class="name">
              Activity
            </div>

            <div class="search search-text" ng-repeat="activity in filterData.activities">
              <button class="btn btn-link btn-mini btn-control remove"
                      ng-click="removeActivityFilter(activity)">
                <i class="icon-remove"></i>
              </button>
              {{ activity.name }}
            </div>
          </li>
        </ul>
      </form>
      
      <div class="footer" ng-show="filterChanged.$loading">
        <span>
          <i class="icon-loading"></i> refreshing...
        </span>
      </div>
    </div>

    <div>
      <strong>Running Instances</strong>
      <ul ng-show="instanceStatistics.$loaded">
        <li>
          <strong>Selected Version</strong> {{ instanceStatistics.current.count }}
        </li>
        <li>
          <strong>All Versions</strong> {{ instanceStatistics.all.count }}
        </li>
      </ul>
      <i ng-hide="instanceStatistics.$loaded" class="icon-loading"></i>
    </div>

    <a class="hide-collapsable pull-right"></a>
  </div>

  <div class="ctn-column ctn-content ctn-collapsable-parent">

    <!-- content top pane -->
    <div class="ctn-row ctn-content-top">
      <div process-diagram="processDiagram" process-diagram-overlay="processDiagramOverlay" on-element-click="handleBpmnElementSelection(id, $event)" selection="filter"></div>
    </div>

    <!-- content bottom pane -->
    <div class="ctn-row ctn-content-bottom ctn-tabbed ctn-collapsable" collapse="bottom">
      <div ng-show="processDefinitionViews.length">
        <ul class="nav nav-tabs">
          <li ng-class="{ active: selectedView == viewProvider }" ng-repeat="viewProvider in processDefinitionViews">
            <a href ng-click="selectView(viewProvider)">{{ viewProvider.label }}</a>
          </li>
        </ul>
  
        <div class="ctn-tabbed-content">
          <view provider="selectedView" vars="processDefinitionVars" />
        </div>
      </div>
    </div>    

    <a class="show-collapsable"></a>
  </div>
</div>
