<div class="ctn-content-container ctn-collapsable-parent">

  <!-- toolbar -->
  <div class="ctn-toolbar">
    <a class="btn btn-toolbar" href ng-click="openCancelProcessInstanceDialog()"
       help
       help-text="Cancel running process instance"
       help-placement="'left'">
      
      <i class="icon-remove-circle"></i>
    </a>

    <a class="btn btn-toolbar" href ng-click="openJobRetriesDialog()"
       help
       help-text="Increment Number of Retries of Failed Jobs"
       help-placement="'left'">
      <i class="icon-repeat"></i>
    </a>
  </div>

  <!-- sitebar -->
  <div class="ctn-column ctn-sitebar ctn-collapsable" collapsable="left">

    <div class="page-header">
      <small>Process Instance</small>
      <h1 ng-show="!!processInstance.processDefinition.name">{{ processInstance.processDefinition.name }} <span title="{{ processInstance.id }}">{{ processInstance.id | shorten:8 }}</span></h1>
      <h1 ng-show="!processInstance.processDefinition.name">{{ processInstance.processDefinition.key }} <span title="{{ processInstance.id }}">{{ processInstance.id | shorten:8 }}</span></h1>
    </div>

    <div activity-instance-tree="processInstance.activityInstanceTree" selection="selection"></div>

    <a class="hide-collapsable pull-right"></a>
  </div>

  <div class="ctn-column ctn-content ctn-collapsable-parent">

    <!-- content top pane -->
    <div class="ctn-row ctn-content-top">
      <div process-diagram="processInstance.semantic" process-definition="processInstance.processDefinition"
            annotations="processInstance.activityInstanceStatistics" incidents="processInstance.incidentsOnActivityArray"
            selection="selection" clickable-elements="processInstance.clickableElements">
      </div>
    </div>

    <!-- content bottom pane -->
    <div class="ctn-row ctn-content-bottom ctn-tabbed ctn-collapsable" collapse="bottom">
      <div ng-show="processInstanceViews.length">
        <ul class="nav nav-tabs">
          <li ng-class="{ active: selectedView == viewProvider }" ng-repeat="viewProvider in processInstanceViews">
            <a href ng-click="selectView(viewProvider)">{{ viewProvider.label }}</a>
          </li>
        </ul>
  
        <div class="ctn-tabbed-content">
          <view provider="selectedView" vars="processInstanceVars" />
        </div>
      </div>
    </div>
    
    <a class="show-collapsable"></a>
  </div>
</div>

<!-- begin cancel process instance confirmation-dialog -->
<div modal-dialog model="cancelProcessInstanceDialog" ng-cloak>
  <div class="modal hide" ng-controller="CancelProcessInstanceController" ng-if="cancelProcessInstanceDialog.renderHtml()"> 
    <div class="modal-header">
      <button ng-show="cancelProcessInstanceDialog.autoClosable" type="button" class="close" data-dismiss="modal">&times;</button>
      <h3>Cancel Process Instance</h3>
    </div>

    <div class="modal-body">
      <div notifications-panel></div>

      <div ng-hide="status === 'cancellationSuccess' || status === 'cancellationFailed' || status === 'beforeCancellation' || status === 'loadingFailed'">
        <i class="icon-loading"></i> loading process instance information...
      </div>

      <div ng-show="status === 'loadingFailed'">
        <p>It was not possible to get further process instance informations to be able to cancel this process instance. Refresh the current page by pressing F5 and try once again to cancel this process instance.</p>
      </div>

      <div ng-show="status === 'beforeCancellation'">

        <div ng-show="subProcessInstances.length > 0">
          <p>
            If you cancel this process instance the following sub process instances will also be canceled:
          </p>
          <table class="table table-bordered table-condensed">
            <thead>
              <tr><th>ID</th></tr>
            </thead>
            <tbody>
              <tr ng-repeat="subProcessInstance in subProcessInstances">
                <td>
                  <a target="__blank" ng-href="#/process-definition/{{ subProcessInstance.definitionId }}/process-instance/{{ subProcessInstance.id }}">
                    {{ subProcessInstance.id | shorten:8 }}
                  </a>
                </td>
              </tr>
              <tr>
                <td colspan="2" ng-hide="subProcessInstances.length === subProcessInstancesCount">
                  and {{ subProcessInstancesCount - subProcessInstances.length }} other process instances.
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <p>Do you really want to cancel this process instance?</p>

      </div>

      <div ng-show="status === 'cancellationSuccess'">
        <p>The process instance was canceled successfully.</p>
        <p>After closing this dialog you will be redirected to the corresponding process definition overview.</p>
      </div>

      <div ng-show="status === 'cancellationFailed'">
        <p>The process instance could not be canceled successfully.</p>
        <p>Maybe the process instance has already been cancelled or finished. Try to press F5 to refresh the page.</p>
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn" ng-click="close(status)"
              ng-disabled="status === 'performCancellation'"
              ng-hide="status === 'cancellationSuccess' || status === 'cancellationFailed' || status === 'loadingFailed'">Close</button>
      <button class="btn btn-primary" ng-click="close(status)"
              ng-show="status === 'cancellationSuccess' || status === 'cancellationFailed' || status === 'loadingFailed'">OK</button>        
      <button class="btn btn-primary" ng-click="cancelProcessInstance()"
              ng-disabled="status !== 'beforeCancellation'"
              ng-hide="status === 'cancellationSuccess' || status === 'cancellationFailed' || status === 'loadingFailed'">Cancel Process Instance</button>
      
    </div>
  </div>
</div>
<!-- end cancel process instance confirmation-dialog -->

<!-- begin set job retries dialog -->
<div modal-dialog model="jobRetriesDialog" ng-cloak>
  <div class="modal hide" ng-controller="JobRetriesController" ng-if="jobRetriesDialog.renderHtml()"> 
    <div class="modal-header">
      <button ng-show="jobRetriesDialog.autoClosable" type="button" class="close" data-dismiss="modal">&times;</button>
      <h3>Increment Number of Retries</h3>
    </div>

    <div class="modal-body">
      <div notifications-panel></div>

      <form name="selectFailedJobsForm" ng-hide="status === 'finished' || status === 'performing'">
        <fieldset>
          <p>Select one of the following failed jobs to increment their number of retries:</p>
          <table class="table table-bordered table-hover table-condensed">
            <thead>
              <th class="row-select">
                <input type="checkbox" title="Select all" ng-model="allJobsSelected" ng-click="selectAllJobs(allJobsSelected)">
              </th>
              <th>ID</th>
              <th>Scope</th>
              <th>Exception</th>
            </thead>
            <tbody>
              <tr ng-repeat="job in failedJobs">
                <td class="row-select">
                  <input type="checkbox" ng-model="job.selected" ng-click="selectFailedJob(job)">
                </td>
                <td>{{ job.id | shorten:8 }}</td>
                <td>{{ job.instance.name }}</td>
                <td>{{ job.exceptionMessage }}</td>
              </tr>

              <tr ng-if="!failedJobs">
                <td colspan="4">
                  <i class="icon-loading"></i> loading failed jobs...
                </td>
              </tr>

              <tr ng-if="failedJobs && !failedJobs.length">
                <td  colspan="4">
                  There are no failed jobs available to increment their retries.
                </td>
              </tr>

            </tbody>
          </table>

          <div paginator total-pages="jobPages.total" current-page="jobPages.current"></div>
        </fieldset>
      </form>

      <div ng-show="status === 'finished' || status === 'performing'">

        <table class="table table-bordered table-hover table-condensed">
          <thead>
            <th>ID</th>
            <th>Scope</th>
            <th>Status</th>
          </thead>
          <tbody>
            <tr ng-repeat="job in showJobsRetried">
              <td>{{ job.id | shorten:8 }}</td>
              <td>{{ job.instance.name }}</td>
              <td>
                <span ng-show="job.status && job.status === 'performing'">
                  <i class="icon-loading"></i>
                </span>
                <span ng-show="job.status && job.status === 'successful'">
                  <i class="icon-ok"></i>&nbsp;Successfull
                </span>
                <span ng-show="job.status && job.status === 'failed'">
                  <i class="icon-remove"></i>&nbsp;Failed
                </span>
              </td>
            </tr>
          </tbody>
        </table>

        <div paginator total-pages="summarizePages.total" current-page="summarizePages.current"></div>
      </div>

    </div>

    <div class="modal-footer">
      <button class="btn" ng-click="close()"
              ng-hide="status === 'finished' || status === 'performing'">Close</button>

      <button class="btn btn-primary" ng-click="retryFailedJobs(selectedFailedJobIds)"
              ng-disabled="!failedJobs || !failedJobs.length || !selectedFailedJobIds.length"
              ng-hide="status === 'finished' || status === 'performing'">Retry</button>

      <button class="btn btn-primary" ng-click="close()"
              ng-disabled="status === 'performing'"
              ng-show="status === 'performing' || status === 'finished'">OK</button>      
    </div>
  </div>
</div>
<!-- end set job retries dialog -->
