<form role="form">
  <div class="form-group">
    <label for="approver-field">Approver</label>
    <input type="text"
           required
           id="approver-field"
           class="form-control"
           cam-variable-name="approver"
           cam-variable-type="String"
           placeholder="{{ 'USER_NAME' | translate }}"
           ng-model="approver">
    <div class="help-block">Come on <strong>{{ approver }}</strong></div>
  </div>


  <div class="form-group">
    <label for="randomString-field">Something random</label>
    <input type="text"
           required
           id="randomString-field"
           class="form-control"
           cam-variable-name="randomString"
           cam-variable-type="String"
           ng-model="randomString">
    <div class="help-block">Come on <strong>{{ randomString }}</strong></div>
  </div>


  <div class="form-group">
    <label for="select-field">A choice</label>
    <select id="select-field"
            class="form-control"
            cam-variable-name="select"
            cam-variable-type="String"
            ng-model="select">
      <option value="">[{{ 'NONE' | translate }}]</option>
      <option value="a">Value A</option>
      <option value="b">Value B</option>
    </select>

    <div ng-if="selected"
         class="help-block">
      You selected <strong>{{ select }}</strong>
    </div>
  </div>


</form>
