<form class="form-horizontal"
      role="form">

  <div class="panel panel-info">Who should approve this invoice?</div>

  <div class="control-group">
    <label class="control-label">Creditor</label>
    <div class="controls">
      <input cam-variable-name="creditor"
             type="text"
             name="creditor"
             ng-model="creditor"
             readonly="true"
             class="form-control" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Amount</label>
    <div class="controls">
      <input cam-variable-name="amount"
             type="text"
             name="amount"
             ng-model="amount"
             readonly="true"
             class="form-control" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Invoice Number</label>
    <div class="controls">
      <input cam-variable-name="invoiceNumber"
             type="text"
             name="invoiceNumber"
             ng-model="invoiceNumber"
             readonly="true"
             class="form-control" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Approver: </label>
    <div class="controls">
      <input cam-variable-name="approver"
             cam-variable-type="String"
             type="text"
             name="approver"
             ng-model="approver"
             class="form-control"
             required />

      (i.e. &quot;john&quot;, &quot;mary&quot; or &quot;peter&quot;)
    </div>
  </div>
</form>
