<form class="form-horizontal"
      role="form">

  <div class="panel panel-default">
    <div class="panel-body">
      Who should approve this invoice?
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Creditor</label>
    <div class="controls">
      <input cam-variable-name="creditor"
             type="text"
             name="creditor"
             ng-model="creditor"
             readonly="true"
             class="form-control" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Amount</label>
    <div class="controls">
      <input cam-variable-name="amount"
             type="text"
             name="amount"
             ng-model="amount"
             readonly="true"
             class="form-control" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Invoice Number</label>
    <div class="controls">
      <input cam-variable-name="invoiceNumber"
             type="text"
             name="invoiceNumber"
             ng-model="invoiceNumber"
             readonly="true"
             class="form-control" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Approver: </label>
    <div class="controls">
      <input cam-variable-name="approver"
             cam-variable-type="String"
             type="text"
             name="approver"
             ng-model="approver"
             class="form-control"
             required />

      (i.e. &quot;john&quot;, &quot;mary&quot; or &quot;peter&quot;)
    </div>
  </div>


  <script cam-script type="text/form-script">
    var $ = angular.element;
    var each = angular.forEach;
    var variableManager = camForm.variableManager;

    camForm.on('variables-fetched', function() {
      // access to all process variables after the form has loaded
      console.log(variableManager.variables);
    });

    camForm.on('submit', function(evt) {
      var invalid = false;

      each(variableManager.variables, function(variable, name) {
        var $input = $('[cam-variable-name="'+ name +'"]');
        var $parent = $input.parents('.control-group');
        var required = $input.attr('required') && !$input.attr('readonly');
        var fieldValue = $input.val();
        var fieldValid = !!(required && !$input.val());

        $parent[fieldValid ? 'addClass' : 'removeClass']('has-error');

        invalid = invalid || !fieldValid;
      });

      // handle submit
      // may prevent the submit from being executed:
      evt.submitPrevented = invalid;
    });

  </script>
</form>
