<form role="form">

  <script cam-script type="text/form-script">
    camForm.on('form-loaded', function() {
      camForm.variableManager.fetchVariable('invoiceData');
    });
    camForm.on('variables-fetched', function() {
      $scope.invoiceData = camForm.variableManager.variableValue('invoiceData');
    });
  </script>

  <div class="form-group">
    <label for="invoiceNumber-field">Invoice Number</label>
    <input id="invoiceNumber-field"
           type="text"
           class="form-control"
           required
           ng-model="invoiceData.invoiceNumber">
  </div>
  <div class="form-group">
    <label for="amount-field">Amount</label>
    <input id="amount-field"
           type="text"
           class="form-control"
           required
           ng-model="invoiceData.amount">
  </div>
  <div class="form-group">
    <label for="creditor-field">Creditor</label>
    <input id="creditor-field"
           type="text"
           class="form-control"
           required
           ng-model="invoiceData.creditor">
  </div>
  <div class="form-group">
    <label for="priority-field">Priority</label>
    <input id="priority-field"
           type="number"
           class="form-control"
           required
           ng-model="invoiceData.priority">
  </div>

  <div class="form-group">
    <label for="approver-select">Approver</label>
    <select required
           id="approver-select"
           class="form-control"
           cam-variable-name="approver"
           cam-variable-type="String"
           cam-choices="potentialApprovers"
           ng-model="approver">
    <div class="help-block">Come on <strong>{{ approver }}</strong></div>
  </div>

</form>
