<form role="form" name="form">
  <div class="form-group">
    <label for="firstname">First name</label>
    <input cam-variable-name="FIRSTNAME"
           cam-variable-type="String"
           ng-model="modelProp"
           type="text"
           class="form-control"
           required
           id="firstname"
           name="firstname">

     <span ng-show="form.firstname.$invalid">Tell us your Firstname.</span>
     <span ng-show="form.firstname.$valid">Good job: '{{modelProp}}' is a valid Firstname.</span>

  </div>
  <div class="form-group">
    <label for="lastname">Last name</label>
    <input cam-variable-name="LASTNAME"
           cam-variable-type="String"
           ng-model="lastname"
           type="text"
           class="form-control"
           value="Pusterman"
           id="lastname">
  </div>

  <div class="form-group">
    <label for="longStringVar">A longer string</label>
    <textarea cam-variable-name="longStringVar"
              cam-variable-type="String"
              ng-model="longstring"
              cols="30"
              rows="10"
              class="form-control"
              id="longStringVar"></textarea>
  </div>

  <div class="form-group">
    <label for="singleChoiceSelect">1 choice</label>
    <select cam-variable-name="singleChoiceSelect"
            cam-variable-type="String"
            ng-model="singleChoice"
            class="form-control"
            id="singleChoiceSelect">
      <option> - None - </option>
      <option value="val1">Value 1</option>
      <option value="val2">Value 2</option>
    </select>
  </div>

  <div class="form-group">
    <label for="multipleChoicesSelect">Multple choices</label>
    <select cam-variable-name="multipleChoicesSelect"
            cam-variable-type="String"
            ng-model="multipleChoice"
            class="form-control"
            id="multipleChoicesSelect"
            multiple>
      <option value="val1">Value 1</option>
      <option value="val2">Value 2</option>
    </select>
  </div>

</form>
