<!-- # CE - src/main/webapp/app/cockpit/templates/navigation.html -->
<div class="nav-collapse collapse navbar-responsive-collapse" ng-cloak>
  <ul class="nav pull-right" ng-controller="AuthenticationController">

    <li engine-select></li>

    <li class="dropdown" if-logged-in ng-cloak>
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="icon-user icon-white"></i> {{ authentication.user.name }}
      </a>

      <ul class="dropdown-menu">
        <li>
          <a ng-href="{{ '../../admin/:engine/#/users/' + authentication.user.name + '?tab=profile' | uri }}">
            My Profile
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a ng-click="logout()">
            Sign out
          </a>
        </li>
      </ul>
    </li>

    <li class="divider-vertical" if-logged-in></li>

    <li class="dropdown">
      <a href class="dropdown-toggle" data-toggle="dropdown">
        <i class="icon-home icon-white"></i>
      </a>

      <ul class="dropdown-menu">
        <li>
          <a ng-href="{{ '../../admin/:engine/' | uri }}">Admin</a>
        </li>
        <li ng-show="authentication.canAccess('tasklist')">
          <a ng-href="{{ '../../tasklist/:engine/' | uri }}">Tasklist</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
<!-- / CE - src/main/webapp/app/cockpit/templates/navigation.html -->
