<form role="form"
      name="signinForm"
      ng-controller="userLoginModalFormCtrl"
      ng-submit="submitForm(signinForm)">

  <div class="modal-header">
    <h3 class="modal-title">camunda Tasklist | {{ 'LOGIN' | translate }}</h3>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="auth-fields">

        <h2 translate="PLEASE_SIGN_IN">Please sign in</h2>
        <div notifications-panel class="notifications-panel"></div>

        <div class="form-group">
          <!-- <label for="signinFormInputUsername">User name</label> -->
          <input required
                 autofocus="true"
                 tabindex="1"
                 ng-model="username"
                 name="username"
                 type="text"
                 class="form-control"
                 id="signinFormInputUsername"
                 placeholder="{{ 'USERNAME' | translate }}"
                 auto-fill>
        </div>

        <div class="form-group">
          <!-- <label for="signinFormInputPassword">Password</label> -->
          <input required
                 tabindex="2"
                 ng-model="password"
                 name="password"
                 type="password"
                 class="form-control"
                 id="signinFormInputPassword"
                 placeholder="{{ 'PASSWORD' | translate }}"
                 auto-fill>
        </div>


      </div>
    </div>


  </div>

  <div class="modal-footer">
    <div class="auth-actions">
      <button class="btn btn-primary"
              tabindex="3"
              type="submit"
              ng-disabled="signinForm.$invalid"
              ng-click="ok()"
              translate="SIGN_IN_ACTION">Sign in</button>
    </div>
  </div>
</form>
