<!-- # CE - camunda-cockpit-ui/client/scripts/directives/sortable-table-head.html -->
<th ng-repeat="column in headColumns" ng-class="column">
  <span ng-if="evaluateCondition(column.condition)" class="{{column.class}}">{{ column.content}}</span>
  <a ng-if="column.sortable === true"
     ng-click="changeOrder(column.request)">
    <span class="glyphicon" ng-class="orderClass(column.request)"></span>
  </a>
</th>
<!-- / CE - camunda-cockpit-ui/client/scripts/directives/sortable-table-head.html -->
