<!-- # CE - camunda-bpm-webapp/webapp/src/main/resources-plugin/base/app/views/dashboard/process-definition-tiles.html -->
<div>
  <div class="page-header">
    <h1>Deployed Processes (Icons)</h1>
  </div>

  <div class="tile-grid">

    <a ng-repeat="statistic in statistics | orderBy:orderByPredicate:orderByReverse"
         ng-cloak class="tile linkable-tile" href="#/process-definition/{{ statistic.definition.id }}">
      <span class="tile-header">
        <span ng-show="isProcessDefinitionNameLong(statistic.definition.name)" title="{{ statistic.definition.name }}">
          {{ shortcutProcessDefinitionName(statistic.definition.name) }}
        </span>
        <span ng-hide="isProcessDefinitionNameLong(statistic.definition.name)">
          {{ statistic.definition.name }}
        </span>
      </span>
      <span class="tile-body">
        <span process-diagram-preview process-definition-id="statistic.definition.id"></span>
      </span>
      <span class="tile-footer">
        Running Instances: {{ statistic.instances }} <span state-circle incidents="statistic.incidents" class="circle-tiles"></span>
      </span>
    </a>

    <span ng-if="!statistics">
      <i class="glyphicon glyphicon-loading"></i> loading deployed processes...
    </span>

    <span ng-if="statistics && !statistics.length">
      No processes deployed.
    </span>

  </div>
</div>
<!-- / CE - camunda-bpm-webapp/webapp/src/main/resources-plugin/base/app/views/dashboard/process-definition-tiles.html -->
