<!-- # CE - camunda-bpm-webapp/webapp/src/main/resources-plugin/base/app/views/dashboard/process-definition-list.html -->
<div>
  <div class="page-header">
    <h1>Deployed Processes (List)</h1>
  </div>

  <table class="table table-striped table-hover table-condensed processes-list">
    <thead>
      <tr>
        <th class="state">State</th>
        <th class="instances">Running Instances</th>
        <th class="name">Name</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="statistic in statistics | orderBy:orderByPredicate:orderByReverse">
        <td class="state">
          <div state-circle
               incidents="statistic.incidents"></div>
        </td>
        <td class="instances">
          {{ statistic.instances }}
        </td>
        <td class="name">
          <a href="#/process-definition/{{ statistic.definition.id }}">
            {{ statistic.definition.name }}
          </a>
        </td>
      </tr>
      <tr ng-if="!statistics">
        <td colspan="3">
          <i class="glyphicon glyphicon-loading"></i> loading statistics...
        </td>
      </tr>
      <tr ng-if="statistics && !statistics.length">
        <td colspan="3">
          No process definitions.
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- / CE - camunda-bpm-webapp/webapp/src/main/resources-plugin/base/app/views/dashboard/process-definition-list.html -->
