<!-- # CE - camunda-bpm-webapp/webapp/src/main/resources-plugin/base/app/views/dashboard/process-definitions.html -->
<div class="deployed-processes">
  <h3 ng-if="statistics && statistics.length">
    {{ statistics.length }} process {{ (statistics.length > 1 ? 'definitions' : 'definition') }} deployed
  </h3>

  <tabset ng-if="statistics && statistics.length">
    <tab heading="List"
         select="selectTab('list')">
      <table class="process-definitions-list cam-table">
        <thead>
          <tr>
            <th class="state">State</th>
            <th class="instances">Running Instances</th>
            <th class="name">Name</th>
            <th ng-if="hasHistoryPlugin"
                class="history-link">History view</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="statistic in statistics | orderBy:orderByPredicate:orderByReverse">
            <td class="state">
              <div state-circle
                   incidents="statistic.incidents"></div>
            </td>

            <td class="instances">
              {{ statistic.instances }}
            </td>

            <td class="name">
              <a href="#/process-definition/{{ statistic.definition.id }}">
                {{ statistic.definition.name }}
              </a>
            </td>

            <td ng-if="hasHistoryPlugin"
                class="history-link">
              <a href="#/process-definition/{{ statistic.definition.id }}/history">
                History view
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </tab><!-- / list tab -->

    <tab heading="Previews"
         select="selectTab('previews')">
      <div class="tile-grid">
        <div ng-repeat="statistic in statistics | orderBy:orderByPredicate:orderByReverse"
             class="tile">
          <a href="#/process-definition/{{ statistic.definition.id }}">
            <h4 class="tile-header">
              {{ statistic.definition.name }}
            </h4>

            <span class="tile-body">
              <span ng-if="selected === 'previews'"
                    process-diagram-preview
                    process-definition-id="statistic.definition.id"></span>
            </span>

            <span class="tile-footer">
              <span class="instances">
                {{ (statistic.instances < 1 ? 'No' : statistic.instances) }}
                running
                {{ ((statistic.instances === 1 || statistic.instances === '1') ? 'instance' : 'instances') }}
              </span>

              <span state-circle
                    incidents="statistic.incidents"
                    class="circle-tiles"></span>
            </span>
          </a>
        </div>
      </div>
    </tab><!-- grid tab -->
  </tabset>

  <h3 ng-if="!statistics || !statistics.length">
    No process definitions deployed
  </h3>

</div>
<!-- / CE - camunda-bpm-webapp/webapp/src/main/resources-plugin/base/app/views/dashboard/process-definitions.html -->
