<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name>fox cycle</display-name>
  <context-param>
    <param-name>resteasy.servlet.mapping.prefix</param-name>
    <param-value>/app/</param-value>
  </context-param>
  <context-param>
    <param-name>resteasy.scan</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:spring/*.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
  </listener>
  <listener>
    <listener-class>org.jboss.resteasy.plugins.spring.SpringContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
  
  <!-- 
    jaxrs servlet definition / mapping 
  -->
  <servlet>
    <servlet-name>Resteasy</servlet-name>
    <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Resteasy</servlet-name>
    <url-pattern>/app/*</url-pattern>
  </servlet-mapping>
  
  <!-- 
    filter definitions / mapping 
  -->
  <filter>
    <filter-name>SecurityFilter</filter-name>
    <filter-class>com.camunda.fox.security.web.SecurityFilter</filter-class>
  </filter>
  <filter>
    <filter-name>InitialConfigurationFilter</filter-name>
    <filter-class>com.camunda.fox.cycle.web.filter.InitialConfigurationFilter</filter-class>
  </filter>
  <filter>
    <filter-name>SlashUriFilter</filter-name>
    <filter-class>com.camunda.fox.cycle.web.filter.SlashUriFilter</filter-class>
  </filter>
  <filter>
    <filter-name>IdentityHolderFilter</filter-name>
    <filter-class>com.camunda.fox.cycle.web.filter.IdentityHolderFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>InitialConfigurationFilter</filter-name>
    <url-pattern>/app/secured/view/index</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>IdentityHolderFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SlashUriFilter</filter-name>
    <url-pattern>/app/secured/view/*</url-pattern>
  </filter-mapping>
    
  <!-- 
    error page definitions 
  -->
  <error-page>
    <error-code>404</error-code>
    <location>/app/error/not-found</location>
  </error-page>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
</web-app>
