<div notifications-panel></div>

<!-- task list -->
<table class="table table-hover task-table" multi-select="taskList.selection">
  <thead>
    <tr sortable="taskList.sort">
      <th><span sort-by="name">Name</span></th>
      <th><span>Process</span></th>
      <th><span sort-by="created">Created</span></th>
      <th><span sort-by="dueDate">Due</span></th>
      <th style="width: 120px">Actions</th>
    </tr>
  </thead>
  <tbody ngm-if="!taskList.tasks.length">
    <tr>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
  </tbody>
  <tbody class="task" ng-repeat="task in taskList.tasks" ng-class="{ selected: isSelected(task) }" select="task">
    <tr class="entry">
      <td>{{ task.name }}</td>
      <td>{{ processDefinitions[task.processDefinitionId].name }}</td>
      <td>{{ task.created | date:'medium' }}</td>
      <td>{{ task.due | date:'medium' }}</td>

      <td>
        <div class="btn-group" ngm-if="taskList.view.filter != 'colleague'">
          <a class="btn btn-small" title="Start to work on task" href="#/task/{{task.id}}"><i class="icon-play"></i> </a>
          <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu pull-right">
            <li ng-show="taskList.view.filter == 'mytasks'">
              <a href ng-click="unclaimTask(task)" title="Unassign this task from me">Unclaim</a>
            </li>
            <li ng-show="taskList.view.filter != 'mytasks' && taskList.view.filter != 'colleague'">
              <a href title="Claim task to work on it later" ng-click="claimTask(task)">Claim</a>
            </li>
            <li class="dropdown-submenu pull-left" ng-show="groupInfo.groupUsers.length && taskList.view.filter == 'mytasks'">
              <a tabindex="-1" href>Delegate</a>
              <ul class="dropdown-menu">
                <li data-ng-repeat="user in groupInfo.groupUsers">
                  <a href ng-click="delegateTask(task, user)" title="Delegate task to someone else">{{ user.displayName }}</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <button class="btn btn-small" ng-class="{ 'btn-info': isDiagramActive(task)}" data-ng-click="toggleShowDiagram(task, $index)" title="Display BPMN Diagram"><i class="icon-search"></i></button>
      </td>
    </tr>
    <tr ngm-if="isDiagramActive(task)">
      <td colspan="6">
        <div id="diagram" class="bpmn-diagram">
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4">
        <small>
          <a href ng-click="selectAllTasks()">select all</a> / <a href ng-click="deselectAllTasks()">deselect all</a> tasks or use <code>ctrl + click</code> to select multiple.
        </small>
      </td>
      <td>
        <div class="btn-group" ngm-if="taskList.view.filter != 'colleague'" ng-show="taskList.selection.length">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            All Selected
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li ng-show="taskList.view.filter == 'mytasks'">
              <a href ng-click="delegateTasks(taskList.selection)" title="Delegate selected tasks">Delegate</a>
            </li>
            <li ng-show="taskList.view.filter == 'mytasks'">
              <a href ng-click="unassignTasks(taskList.selection)" title="Unassign selected tasks">Unassign</a>
            </li>
            <li ng-show="taskList.view.filter != 'mytasks'">
              <a href title="Claim selected tasks to work on them later" ng-click="claimTasks(taskList.selection)">Claim</a>
            </li>
          </ul>
        </div>
      </td>
    </tr>
  </tfoot>
</table>