.sass-cache
.idea
.externalToolBuilders
projectFilesBackup
test-results.xml
/node_modules
/node
/bower_components
/src/main/webapp/assets/_vendor
/src/main/webapp/assets/_css
/src/main/webapp/assets/vendor
/doc
/selenium
