<module xmlns="urn:jboss:module:1.0" name="org.camunda.template-engines.camunda-template-engines-freemarker">
  <resources>
    <resource-root path="camunda-template-engines-freemarker-@project.version@.jar" />
  </resources>

  <dependencies>
    <module name="java.base" />
    <module name="java.scripting" />
    <module name="org.freemarker.freemarker" />
  </dependencies>
</module>
