.idea
target
.classpath
.project
.settings
.editorconfig
build.properties
bin
.metadata
transaction.log
nbactions*.xml
nb-configuration.xml
/webapps/fox-platform-tasklist/server-work
dependency-reduced-pom.xml
faces-config.NavData
*.iml
*.sublime-project
*.sublime-workspace
*.h2.db
*.lock.db
**/overlays

*.DS_Store
