
<module xmlns="urn:jboss:module:1.0" name="com.camunda.fox.fox-platform-api">
  <resources>
    <resource-root path="fox-platform-api-@project.version@.jar" />
  </resources>

  <dependencies>
    
    <module name="javax.api" />
    <module name="javax.transaction.api" />
    <module name="javax.enterprise.api" />
    <module name="javax.inject.api" />
        
    <module name="com.camunda.fox.fox-engine" />
    <module name="com.camunda.fox.fox-engine-cdi" />
    
  </dependencies>
</module>
