{
  "presets": [
    // "env",
    [
      "@babel/preset-env",
      {
        "corejs": 3,
        "modules": "commonjs", // resolves https://github.com/noppa/ng-hot-reload/issues/31
        "shippedProposals": true,
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-object-assign"
  ]
}
