.idea/
.classpath
.project
.settings
build.properties
bin/
.metadata
transaction.log
nbactions*.xml
nb-configuration.xml
faces-config.NavData
*.iml
*.sublime-project
*.sublime-workspace
*.h2.db
*.lock.db
test.*.log
webapp/*.log
debug.log
test-results
node_modules/
dist/
node/
target/
