<form class="form form-horizontal"
      name="newFilter"
      role="form">

  <div class="modal-header">
    <h3 class="modal-title">
      {{ (filter.id ? 'FILTER_EDIT' : 'FILTER_CREATE') | translate }}
    </h3>
  </div>



  <div class="modal-body">
    <accordion close-others="true"
               ng-show="!deletion">
      <accordion-group is-open="accordion.general">
        <accordion-heading>
          {{ 'FILTER_FORM_BASICS' | translate }}
          <span class="glyphicon glyphicon-exclamation-sign"
                ng-if="_generalErrors.length"></span>
        </accordion-heading>

        <div ng-if="hints.general"
             class="task-filter-hint text-help">
          <span class="glyphicon glyphicon-info-sign"></span>
          {{ hints.general }}
        </div>

        <div class="form-group">
          <div class="col-xs-8">
            <div class="row">
              <label for="filter-form-name"
                     class="col-xs-3 control-label"
                     translate="FILTER_NAME_LABEL">Name</label>

              <div class="col-xs-9">
                <input class="form-control"
                       id="filter-form-name"
                       ng-model="filter.name"
                       type="text"
                       required
                       placeholder="{{ 'FILTER_NAME_PLACEHOLDER' | translate }}" />
              </div>
            </div>
          </div>

          <div class="col-xs-4">
            <div class="row">
              <label for="filter-form-color"
                     class="col-xs-6 control-label"
                     translate="FILTER_COLOR_LABEL">Color</label>

              <div class="col-xs-6">
                <input class="form-control minicolors"
                       id="filter-form-color"
                       ng-model="filter.properties.color"
                       type="color" />
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-8">
            <div class="row">
              <label for="filter-form-description"
                     class="col-xs-3 control-label"
                     translate="FILTER_DESCRIPTION_LABEL">Description</label>

              <div class="col-xs-9">
                <input class="form-control"
                       id="filter-form-description"
                       ng-model="filter.properties.description"
                       type="text"
                       required
                       placeholder="{{ 'FILTER_DESCRIPTION_PLACEHOLDER' | translate }}" />
              </div>
            </div>
          </div>

          <div class="col-xs-4">
            <div class="row">
              <label for="filter-form-priority"
                     class="col-xs-6 control-label"
                     translate="FILTER_PRIORITY_LABEL">Priority</label>

              <div class="col-xs-6">
                <input class="form-control"
                       id="filter-form-priority"
                       ng-model="filter.properties.priority"
                       type="number" />
              </div>
            </div>
          </div>
        </div>
      </accordion-group>


      <accordion-group is-open="accordion.authorization">
        <accordion-heading>
          {{ 'FILTER_FORM_ACCESS_RULES' | translate }}
          <span class="glyphicon glyphicon-exclamation-sign"
                ng-if="_authorizationErrors.length"></span>
        </accordion-heading>

        <div ng-if="hints.authorizations"
             class="task-filter-hint text-help">
          <span class="glyphicon glyphicon-info-sign"></span>
          {{ hints.general }}
        </div>

        <div class="form-group labels-left">
          <div class="col-xs-2 row-action">
            <a ng-click="addAuthorization()"
               href>
              <span class="hidden-sm hidden-xs">{{ 'FILTER_ADD_ACCESS_RULE' | translate }}</span>
              <span class="glyphicon glyphicon-plus-sign"></span>
            </a>
          </div>

          <div class="col-xs-10">
            <div class="row">
              <label class="col-xs-3 control-label"
                     translate="FILTER_ACCESS_RULE_TYPE">Type</label>
              <label class="col-xs-5 control-label"
                     translate="FILTER_ACCESS_RULE_USER">User / Group</label>
              <label class="col-xs-4 control-label"
                     translate="FILTER_ACCESS_RULE_PERMISSIONS">Permissions</label>
            </div>
          </div>
        </div>


        <div class="form-group owner">
          <div class="col-xs-2 row-action"
               translate="FILTER_OWNER">
          </div>
          <div class="col-xs-10">
            <div class="row">
              <div class="col-xs-3 form-control-static">
                ALLOW
              </div>

              <div class="col-xs-1">
                <div class="identity-switch btn btn-link disabled">
                  <div title="{{ 'FILTER_IDENTITY_TYPE_USER' | translate }}">
                    <span class="glyphicon glyphicon-user"></span>
                  </div>
                </div>
              </div>

              <div class="col-xs-4 form-control-static">
                {{ filter.owner }}
              </div>

              <div class="col-xs-4 form-control-static">
                ALL
              </div>
            </div>
          </div>
        </div>


        <div ng-repeat="(delta, authorization) in _authorizations"
             class="form-group">


          <div class="col-xs-2 row-action">
            <a ng-click="removeAuthorization(delta)"
               href>
              <span class="hidden-sm hidden-xs">{{ 'FILTER_REMOVE_ACCESS_RULE' | translate }}</span>
              <span class="glyphicon glyphicon-minus-sign"></span>
            </a>
          </div>


          <div class="col-xs-10">
            <div class="row">

              <div class="col-xs-3">
                <select class="form-control"
                        ng-model="authorization.type">
                  <option value="0"
                          ng-selected="authorization.type == 0">GLOBAL</option>
                  <option value="1"
                          ng-selected="authorization.type == 1">ALLOW</option>
                  <option value="2"
                          ng-selected="authorization.type == 2">DENY</option>
                </select>
              </div>

              <input class="form-control"
                     type="hidden"
                     ng-model="authorization.identityType" />

              <div ng-show="authorization.type == 0"
                   class="col-xs-5">
                <button class="btn btn-default"
                        disabled>
                  <span class="glyphicon glyphicon-th"></span>
                </button>
              </div>

              <div ng-show="authorization.type">
                <div class="col-xs-1">

                  <button class="identity-switch btn btn-default"
                       tooltip="{{ 'FILTER_IDENTITY_TYPE_TOOLTIP' | translate }}: {{ (authorization.identityType === 'user' ? 'FILTER_IDENTITY_TYPE_USER' : 'FILTER_IDENTITY_TYPE_GROUP') | translate }}"
                       ng-click="identityTypeSwitch(authorization, delta)">

                    <div ng-show="authorization.identityType === 'user'">
                      <span class="glyphicon glyphicon-user"></span>
                    </div>

                    <div ng-show="authorization.identityType === 'group'">
                      <span class="glyphicon glyphicon-th"></span>
                    </div>
                  </button>
                </div>

                <div class="col-xs-4">
                  <input class="form-control"
                         type="text"
                         ng-model="authorization.identity"
                         ng-change="validateAuthorizations()" />
                </div>
              </div>

              <div class="col-xs-4">
                <div class="input-group">
                  <input type="text"
                         class="form-control"
                         ng-model="authorization.permissions" />

                  <div class="input-group-btn dropdown dropup">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                      <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu dropdown-menu-right"
                        role="menu">
                      <li ng-repeat="action in authorization.availablePermissions">
                        <a href
                           ng-click="addPermission(authorization, action)">
                          {{ action }}
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>

      </accordion-group>



      <accordion-group is-open="accordion.query">
        <accordion-heading>
          {{ 'FILTER_FORM_CRITERIA' | translate }}
          <span class="glyphicon glyphicon-exclamation-sign"
                ng-if="_queryErrors.length"></span>
        </accordion-heading>

        <div ng-if="hints.criteria"
             class="task-filter-hint text-help">
          <span class="glyphicon glyphicon-info-sign"></span>
          {{ hints.criteria }}
        </div>

        <div class="form-group labels-left">
          <div class="col-xs-2 row-action">
            <a ng-click="addCriterion()"
               href>
              <span class="hidden-sm hidden-xs">{{ 'FILTER_ADD_CRITERION' | translate }}</span>
              <span class="glyphicon glyphicon-plus-sign"></span>
            </a>
          </div>

          <div class="col-xs-10">
            <div class="row"
                 ng-show="_query.length">
              <label class="col-xs-6 control-label"
                     translate="FILTER_CRITERIA_KEY">Key</label>
              <label class="col-xs-6 control-label"
                     translate="FILTER_CRITERIA_VALUE">Value</label>
            </div>
          </div>
        </div>

        <div ng-repeat="(delta, queryParam) in _query"
             class="form-group">

          <div class="col-xs-2 row-action">
            <a ng-click="removeCriterion(delta)"
               href>
              <span class="hidden-sm hidden-xs">{{ 'FILTER_REMOVE_CRITERION' | translate }}</span>
              <span class="glyphicon glyphicon-minus-sign"></span>
            </a>
          </div>

          <div class="col-xs-10">
            <div class="row"
                 ng-class="{'has-error': queryParam.error}">

              <div class="col-xs-6">
                <select class="form-control"
                        ng-model="queryParam.key"
                        ng-change="validateCriteria()"
                        required>
                  <optgroup ng-repeat="criteriaGroup in criteria"
                            label="{{ criteriaGroup.group | translate }}">
                    <option ng-repeat="criterion in criteriaGroup.options"
                            ng-selected="criterion.name === queryParam.key"
                            ng-value="criterion.name">
                      {{ criterion.label | translate }}
                    </option>
                  </optgroup>
                </select>
                <span ng-if="queryParam.error && queryParam.error.field === 'key'"
                     class="help-block">
                  {{ queryParam.error.message | translate }}
                </span>
              </div>

              <div class="col-xs-6">
                <input class="form-control"
                       type="text"
                       ng-change="validateCriteria()"
                       ng-model="queryParam.value" />
                <span ng-if="queryParam.error && queryParam.error.field === 'value'"
                     class="help-block">
                  {{ queryParam.error.message | translate }}
                </span>
              </div>

            </div>
          </div>
        </div>

      </accordion-group>



      <accordion-group is-open="accordion.variables">
        <accordion-heading>
          {{ 'FILTER_FORM_VARIABLES' | translate }}
          <span class="glyphicon glyphicon-exclamation-sign"
                ng-if="_variableErrors.length"></span>
        </accordion-heading>

        <div ng-if="hints.variables"
             class="task-filter-hint text-help">
          <span class="glyphicon glyphicon-info-sign"></span>
          {{ hints.variables }}
        </div>

        <div ng-show="_variables.length > 5"
             class="alert alert-warning"
             role="alert">
          <span class="glyphicon glyphicon-exclamation-sign"></span>
          {{ 'FILTER_VARIABLES_AMOUNT_WARNING' | translate }}
        </div>

        <div class="form-group labels-left">

          <div class="col-xs-2 row-action">
            <a ng-click="addVariable()"
               href>
              <span class="hidden-sm hidden-xs">{{ 'FILTER_ADD_VARIABLE' | translate }}</span>
              <span class="glyphicon glyphicon-plus-sign"></span>
            </a>
          </div>

          <div class="col-xs-10">
            <div class="row"
                 ng-show="_variables.length">
              <label class="col-xs-6 control-label"
                     translate="FILTER_VARIABLE_NAME">Name</label>
              <label class="col-xs-6 control-label"
                     translate="FILTER_VARIABLE_LABEL">Label</label>
            </div>
          </div>
        </div>

        <div ng-repeat="(delta, variable) in _variables"
             class="form-group">


          <div class="col-xs-2 row-action">
            <a ng-click="removeVariable(delta)"
               href>
              <span class="hidden-sm hidden-xs">{{ 'FILTER_REMOVE_VARIABLE' | translate }}</span>
              <span class="glyphicon glyphicon-minus-sign"></span>
            </a>
          </div>


          <div class="col-xs-10">
            <div class="row"
                 ng-class="{'has-error': variable.error}">

              <div class="col-xs-6">
                <input class="form-control"
                       type="text"
                       ng-change="validateVariables()"
                       ng-model="variable.name"
                       placeholder="{{ 'FILTER_VARIABLE_NAME_PLACEHOLDER' | translate }}" />
                <span ng-if="variable.error && variable.error.field === 'name'"
                      class="help-block">
                  {{ variable.error.message | translate }}
                </span>
              </div>

              <div class="col-xs-6">
                <input class="form-control"
                       type="text"
                       ng-change="validateVariables()"
                       ng-model="variable.label"
                       placeholder="{{ 'FILTER_VARIABLE_LABEL_PLACEHOLDER' | translate }}" />
                <span ng-if="variable.error && variable.error.field === 'label'"
                     class="help-block">
                  {{ variable.error.message | translate }}
                </span>
              </div>

            </div>
          </div>
        </div>

      </accordion-group>
    </accordion>

    <div ng-show="deletion"
         class="alert alert-warning"
         role="alert">
      <span class="glyphicon glyphicon-exclamation-sign"></span>
      {{ 'FILTER_DELETION_WARNING' | translate }}
    </div>
  </div>


  <div class="modal-footer">
    <div class="row row-action">
      <div class="col-xs-4 align-left">
        <button ng-if="!deletion && filter.id"
                class="btn btn-xs btn-link"
                ng-if="filter.id"
                type="button"
                ng-click="confirmDeletion()"
                translate="FILTER_DELETE">Delete filter</button>


        <button ng-if="deletion"
                class="btn btn-xs btn-link"
                type="button"
                ng-click="abortDeletion()"
                translate="BACK">Back</button>
      </div>

      <div class="col-xs-8">
        <button class="btn btn-xs btn-link"
                type="button"
                ng-click="$dismiss()"
                translate="CLOSE">Close</button>

        <button ng-if="!deletion"
                class="btn btn-primary"
                type="submit"
                ng-disabled="$invalid"
                ng-click="submit()"
                translate="SAVE">Save</button>


        <button ng-if="deletion"
                class="btn btn-primary"
                type="submit"
                ng-click="delete()"
                translate="DELETE">Delete</button>
      </div>
    </div>
  </div>
</form>
