<!-- default navigation -->
<div class="navbar navbar-fixed-top content-container">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand ir" href="#/">
        camunda cockpit
      </a>

      <form class="navbar-search pull-right" ng-show="engines.length > 1" ng-controller="ProcessEngineSelectionController">
        <select
          class="span2"
          help
          help-text="If you have multiple engines running – e.g. for multiple tenants – you can select the process engine here. All data shown in this window is related to the selected engine, only."
          help-placement="'bottom'"
          ng-model="currentEngine"
          ng-options="engine.name for (id, engine) in engines">

        </select>
      </form>
    </div>
  </div>
</div>