<module xmlns="urn:jboss:module:1.0" name="org.camunda.bpm.dmn.camunda-engine-dmn">
  <resources>
    <resource-root path="camunda-engine-dmn-@project.version@.jar" />
  </resources>

  <dependencies>
    <module name="javax.api"/>
    <module name="org.joda.time" slot="2.1" />
    
    <module name="org.camunda.commons.camunda-commons-utils" />
    <module name="org.camunda.commons.camunda-commons-logging" />
    <module name="org.camunda.commons.camunda-commons-typed-values" export="true" />
    <module name="org.camunda.bpm.juel.camunda-juel" services="import"/>
    <module name="org.camunda.bpm.model.camunda-dmn-model" />
    <module name="org.camunda.bpm.dmn.camunda-engine-feel-api" />
    <module name="org.camunda.bpm.dmn.camunda-engine-feel-juel" />
    <module name="org.camunda.bpm.dmn.camunda-engine-feel-scala" export="true" />
  </dependencies>
</module>
