<module xmlns="urn:jboss:module:1.0" name="org.camunda.commons.camunda-commons-utils">
  <resources>
    <resource-root path="camunda-commons-utils-@project.version@.jar" />
  </resources>

  <dependencies>
    <module name="javax.api"/>
    <module name="org.camunda.commons.camunda-commons-logging" />
  </dependencies>
</module>
