<div ng-show="loading"
     class="loader">
  <i class="animate-spin glyphicon glyphicon-refresh"></i>
  {{ 'LOADING' | translate }}
</div>

<div ng-hide="loading"
     ng-repeat="(delta, filter) in filters | orderBy:'properties.priority'"
     class="task-filter-wrapper"
     ng-class="{active: filter.id === focusedId}"
     style="z-index: {{ ((filters.length + 10) - delta) }};">

  <div class="task-filter"
       style="background-color: {{ filter.properties.color }}">

    <div class="counter">{{ filter.itemCount }}</div>

    <h4 class="name"
        ng-click="focus(filter)">{{ filter.name }}</h4>

    <div class="info"
         style="background-color: {{ filter.properties.color }}">

      <ul class="filter-actions list-unstyled">
        <li>
          <a href
             ng-click="edit(filter)">
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="hidden-sm hidden-xs hidden-md"
                  translate="FILTER_EDIT">Edit filter</span>
          </a>
        </li>
        <li>
          <a href
             ng-click="delete(filter)">
            <span class="glyphicon glyphicon-trash"></span>
            <span class="hidden-sm hidden-xs hidden-md"
                  translate="FILTER_DELETE">Delete filter</span>
          </a>
        </li>
      </ul>

      <div ng-if="filter.properties.description"
           class="description">
        {{ filter.properties.description }}
      </div>
      <!--
      <ul class="query list-unstyled">
        <li ng-repeat="queryParam in filter.query">
          <span class="key">{{ queryParam.key }}</span>:

          <span class="operator"
                ng-if="queryParam.operator">{{ queryParam.operator }}</span>

          <span class="value">{{ queryParam.value }}</span>
        </li>
      </ul>
      -->
    </div>
  </div>
</div>
