<div ng-show="loading"
     class="loader">
  <i class="animate-spin glyphicon glyphicon-refresh"></i>
  {{ 'LOADING' | translate }}
</div>

<div ng-hide="loading"
     ng-repeat="(delta, filter) in filters"
     class="task-filter-wrapper"
     ng-class="{active: filter.id === focusedId}"
     style="z-index: {{ ((filters.length + 10) - delta) }};">

  <div class="task-filter"
       style="background-color: {{ filter.properties.color }}">

    <h4 class="name"
        ng-click="focus(filter)">{{ filter.name }}</h4>

    <div class="info"
         style="background-color: {{ filter.properties.color }}">
      <div ng-if="filter.properties.description"
           class="description">
        {{ filter.properties.description }}
      </div>

      <ul class="query list-unstyled">
        <li ng-click="edit()"
            ng-repeat="queryParam in filter.query">
          <span class="key">{{ queryParam.key }}</span>:

          <span class="operator"
                ng-if="queryParam.operator">{{ queryParam.operator }}</span>

          <span class="value">{{ queryParam.value }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
