<div ng-show="!state.$loaded"
     class="loader">
  <i class="animate-spin glyphicon glyphicon-refresh"></i>
  {{ 'LOADING' | translate }}
</div>

<div ng-hide="!state.$loaded">
  <div ng-hide="totalItems"
       class="well">
    <i class="glyphicon glyphicon-info-sign"></i>
    {{ 'NO_MATCHING_TASK' | translate }}
  </div>

  <div ng-show="totalItems">
    <ol class="tasks-list list-unstyled">
      <li class="task"
          ng-repeat="(delta, task) in tasks"
          ng-class="{active: currentTaskId === task.id}">

        <div class="names"
             ng-click="focus(task)">
          <h4 class="task">
            <a ng-href="{{ getHrefUrl(task) }}"
               tabindex="{{ (delta + 1) }}">{{ task.name || task.taskDefinitionKey || task.id }}</a>
          </h4>
          <h6 class="process-definition"
              ng-class="{suspended: task._embedded.processDefinition[0]}">
            {{ task._embedded.processDefinition[0].name || task._embedded.processDefinition[0].key }}
          </h6>
        </div>

        <ul class="dates list-inline">

          <li class="followup-date"
              ng-if="!!task.followUp"
              ng-class="{overdue: task.followUp && (task.followUp < now) }">
            <span tooltip-placement="top"
                  tooltip="{{ 'FOLLOW_UP_DATE' | translate }}"
                  class="glyphicon glyphicon-calendar"></span>
            <span tooltip-placement="top"
                  tooltip="{{ task.followUp | camDate:'long' }}"
                  am-time-ago="task.followUp">{{task.followUp}}</span>
          </li>

          <li class="due-date"
              ng-if="!!task.due"
              ng-class="{overdue: task.due && (task.due < now) }">
            <span tooltip-placement="top"
                  tooltip="{{ 'DUE_DATE' | translate }}"
                  class="glyphicon glyphicon-bell"></span>
            <span tooltip-placement="top"
                  tooltip="{{ task.due | camDate:'long' }}"
                  am-time-ago="task.due">{{task.due}}</span>
          </li>
        </ul>

        <div cam-tasklist-variables
             ng-if="task._embedded.variable.length"
             filter-properties="filterProperties"
             variables="task._embedded.variable"
             class="row variables" />
      </li>
    </ol>
  </div>
</div>

<pagination ng-show="state.$loaded && totalItems > pageSize"
            total-items="totalItems"
            items-per-page="pageSize"
            max-size="5"
            class="pagination-sm"
            boundary-links="true"
            ng-model="pageNum"
            ng-change="pageChange()"
            next-text="&rsaquo;"
            last-text="&raquo;"
            previous-text="&lsaquo;"
            first-text="&laquo;"></pagination>
