<div ng-show="!state.$loaded"
     class="loader">
  <i class="animate-spin glyphicon glyphicon-refresh"></i>
  {{ 'LOADING' | translate }}
</div>

<div ng-hide="!state.$loaded">
  <div ng-hide="totalItems"
       class="well">
    <i class="glyphicon glyphicon-info-sign"></i>
    {{ 'NO_AVAILABLE_FILTER' | translate }}
  </div>

  <div ng-show="totalItems"
       ng-repeat="(delta, filter) in filters | orderBy:'properties.priority'"
       class="task-filter-wrapper"
       ng-class="{active: isFocused(filter)}"
       ng-style="{'z-index': ((filters.length + 10) - delta) }"
       ng-controller="camEditFilterCtrl">

    <div class="task-filter"
         ng-style="filter.style"
         ng-click="focus(filter)">

      <div ng-if="isFocused(filter)"
           class="counter">{{ filterCount }}</div>

      <a ng-click="openDialog($event, 'EDIT_FILTER')"
         class="edit-filter">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm hidden-xs hidden-md"
              translate="FILTER_DETAILS">Filter details</span>
      </a>

      <h4 class="name"
          tooltip="{{ filter.properties.description }}"
          tooltip-placement="top">{{ filter.name }}</h4>
    </div>
  </div>
</div>
