


html, body {
  height: 100%;
  .font-regular;
}


.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -25px;
}
.page-wrap:after {
  content: ' ';
  display: block;
}
.footer.page,
.page-wrap:after {
  /* .push must be the same height as footer */
  height: 25px;
}

footer.page {
  position: fixed;
  z-index: 99;
  height: 25px;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: right;
  background-color: @body-bg;
  border-top: 1px solid @gray-lighter;
}


.task-filters,
.focused-task {
  > .actions {
    min-height: 50px;
  }
}


.controls {
  > .task-filters,
  > .task-list,
  > .current-task {
    padding-top: 20px;
  }
}

.task-board {
  .task-filters > .inner,
  .current-task > .inner,
  .task-list .well {
    margin-top: (@grid-gutter-width / 2);
  }
}


.page-wrap .container-fluid{
  margin: 0;
  padding: 0;
}


@media (min-width: 768px) {
  .ui-wrap {
    display: table;
    width: 100%;
  }

  .row.equal-height-cols {
    // display: table;
    display: table-row;
    width: 100%;
    height: 100%;
    margin: 0;

    // if left visible, a 1px wide line on the sides is appearing
    &:before,
    &:after {
      display: none;
    }

    > .cols {
      display: table-cell;
      vertical-align: top;
      float: none;
    }
  }
}



.cols {
  &.task-filters {
    background-color: @column-left-bg;
  }
  &.task-list {
    background-color: @column-center-bg;
  }
  &.current-task {
    background-color: @column-right-bg;
  }
}


[cam-task-search] {
  text-align: left;
}

.task-board [cam-task-search] {
  margin: (@grid-gutter-width / 2) 0;
}

.controls [cam-task-search] {
  margin-top: -10px;
}
