html,
body {
  height: 100%;
  .font-regular;
}


body {
  padding-bottom: @footer-height;
  padding-top: 41px;
  margin-top: -41px;
  overflow: hidden;
}

.site-wrap {
  position: absolute;
  z-index: 2;
  overflow: visible;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: (0 - @footer-height);
  overflow-x: hidden;
  overflow-y: scroll;
}

.page-wrap:after {
  content: ' ';
  display: block;
}

.footer.page,
.page-wrap:after {
  height: @footer-height;
}

.ui-wrap {
  width: 100%;

  min-height: 100%;
  position: absolute;

  > .row {
    width: 100%;
  }
}

footer.page {
  position: fixed;
  z-index: 99;
  height: @footer-height;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: right;
  background-color: @body-bg;
  border-top: 1px solid @gray-lighter;
}


.controls,
.task-board {
  > .cols {
    height: 100%;
    min-height: 55px;
  }
}


.task-filters,
.focused-task {
  > .actions {
    min-height: 50px;
  }
}


.controls {
  position: relative;

  > .task-filters,
  > .task-list,
  > .current-task {
    padding-top: 20px;
    position: relative;
  }

  .inner {
    white-space: nowrap;
  }

  h5,
  [cam-sorting-choices] {
    white-space: nowrap;
  }

  h5 {
    margin-top: 0;
    text-align: right;
  }

  [cam-sorting-choices] {
    margin-top: -2px;
  }
}

// // unfortunately.. have glitches..
// .row > .cols {
//   -webkit-transition: padding 0.218s ease-in-out,
//                       margin 0.218s ease-in-out,
//                       width 0.218s ease-in-out;
//       -ms-transition: padding 0.218s ease-in-out,
//                       margin 0.218s ease-in-out,
//                       width 0.218s ease-in-out;
//           transition: padding 0.218s ease-in-out,
//                       margin 0.218s ease-in-out,
//                       width 0.218s ease-in-out;
// }

.task-board {
  > .cols > .inner {
    border-top: 1px @line-style @line-color;
    padding-top: (@grid-gutter-width / 2);
  }

  > .task-list > .inner {
    padding-top: 0;
  }

  .task-list .well {
    margin-top: (@grid-gutter-width / 2);
  }
}


.fake-columns {
  display: none;
}

.authenticated .fake-columns {
  display: block;
}


.task-filters {
  z-index: 3;
  background-color: @column-left-bg;
}
.task-list {
  z-index: 2;
  background-color: @column-center-bg;
}
.current-task {
  z-index: 1;
  background-color: @column-right-bg;
}

// .task-filters {
//   z-index: 3;
//   background-color: fade(@column-left-bg, 50%);
// }
// .task-list {
//   z-index: 2;
//   background-color: fade(@column-center-bg, 50%);
// }
// .current-task {
//   z-index: 1;
//   background-color: fade(@column-right-bg, 50%);
// }

// .controls {
//   .task-filters {
//     background-color: blue;
//   }
//   .task-list {
//     background-color: green;
//   }
//   .current-task {
//     background-color: yellow;
//   }
// }

// .fake-columns > .row {
//   .task-filters {
//     background-color: blue;
//   }
//   .task-list {
//     background-color: green;
//   }
//   .current-task {
//     background-color: yellow;
//   }
// }









button.off-canvas-toggle {
  display: none;
  height: 22px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 17px;

  // Bars
  .icon-bar {
    display: block;
    width: 22px;
    height: 3px;
    background-color: @brand-primary;
  }

  .icon-bar + .icon-bar {
    margin-top: 3px;
  }

  &:focus {
    outline: none;
  }
}


@media (min-width: @screen-sm-min) {
  body > .navbar,
  .page-wrap {
    position: relative;
    z-index: 5;
  }
  body > .navbar {
    z-index: 6;
  }

  .page-wrap {
    .container-fixed();
    .controls {
      z-index: 10;
    }
  }
}

.authenticated .fake-columns {
  display: block;
  position: fixed;
  z-index: 1;
  // width: 100%;
  height: 100%;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0 30px 0 15px;
  overflow: hidden;

  > .row {
    height: 100%;
    > .cols {
      position: relative;
      height: 100%;
    }
  }
}


[cam-task-search] {
  text-align: left;
}

.task-board [cam-task-search] {
  margin: (@grid-gutter-width / 2) 0;
}

.controls [cam-task-search] {
  margin-top: -9px;
  margin-bottom: 10px;
  .search-dropdown {
    margin-top: -11px;
  }
}
