// bootstrap variables
@import "../../../camunda-commons-ui/resources/less/common-variables";
@import "../../../camunda-commons-ui/node_modules/bootstrap/less/variables";
@brand-logo:                        '../images/app-logo.png';
@header-height:                     @navbar-height + 1;

@grid-gutter-width:                 30px;

@brand-primary:                     #B5152B;
@link-color:                        @brand-primary;

@border-radius-base:                0;
@border-radius-large:               0;
@border-radius-small:               0;

@navbar-default-bg:                 @brand-primary;
@navbar-default-color:              #fff;
@navbar-default-link-color:         @navbar-default-color;
@navbar-default-link-hover-color:   darken(@navbar-default-link-color, 12%);
@navbar-default-link-active-color:  @navbar-default-color;
@navbar-default-link-active-bg:     @brand-primary;
@navbar-height:                     41px;

@modal-header-bg:                   lighten(@gray-lighter, 3%);
@modal-footer-bg:                   @modal-header-bg;

@icon-font-path:                    '../fonts/bootstrap/';




// tasklist specific variables
@color-shift:                       4%;
@column-left-bg:                    darken(@body-bg, @color-shift * 6.18);
@column-center-bg:                  darken(@body-bg, @color-shift * (6.18 * 0.618));
@column-right-bg:                   darken(@body-bg, @color-shift * 0);
@column-top-height:                 22px;


@footer-height:                     25px;


@line-style:                        dotted;
@line-color:                        @gray-light;

@line-style-alt:                    solid;
@line-color-alt:                    #ddd;




/**
 * Advanced customization using less variables
 * If you want to customize the appearance of the tasklist using variables, it is recommended to
 * change the content of the `_variables-override` and uncomment the following line.
 *
 * After changes have been made, you will need to re-compile the styles.
 */
// @import "_variables-override";


@import "../../../camunda-commons-ui/resources/less/_fonts";




// Core variables and mixins
  @import "../../../camunda-commons-ui/node_modules/bootstrap/less/mixins";

  // Reset and dependencies
  @import "../../../camunda-commons-ui/node_modules/bootstrap/less/normalize";
  @import "../../../camunda-commons-ui/node_modules/bootstrap/less/print";
  @import "../../../camunda-commons-ui/node_modules/bootstrap/less/glyphicons";

  // Core CSS
  @import "../../../camunda-commons-ui/node_modules/bootstrap/less/scaffolding";
  @import "../../../camunda-commons-ui/node_modules/bootstrap/less/type";
  // @import "../../../camunda-commons-ui/node_modules/bootstrap/less/code";
  @import "../../../camunda-commons-ui/node_modules/bootstrap/less/grid";
  @import "../../../camunda-commons-ui/node_modules/bootstrap/less/tables";
  @import "../../../camunda-commons-ui/node_modules/bootstrap/less/forms";
  @import "../../../camunda-commons-ui/node_modules/bootstrap/less/buttons";

  // Components
  @import "../../../camunda-commons-ui/node_modules/bootstrap/less/component-animations";
  @import "../../../camunda-commons-ui/node_modules/bootstrap/less/dropdowns";
  @import "../../../camunda-commons-ui/node_modules/bootstrap/less/button-groups";
  @import "../../../camunda-commons-ui/node_modules/bootstrap/less/input-groups";
  @import "../../../camunda-commons-ui/node_modules/bootstrap/less/navs";
  @import "../../../camunda-commons-ui/node_modules/bootstrap/less/navbar";
  @import "../../../camunda-commons-ui/node_modules/bootstrap/less/breadcrumbs";
  @import "../../../camunda-commons-ui/node_modules/bootstrap/less/pagination";
  @import "../../../camunda-commons-ui/node_modules/bootstrap/less/pager";
  @import "../../../camunda-commons-ui/node_modules/bootstrap/less/labels";
  @import "../../../camunda-commons-ui/node_modules/bootstrap/less/badges";
  // @import "../../../camunda-commons-ui/node_modules/bootstrap/less/jumbotron";
  // @import "../../../camunda-commons-ui/node_modules/bootstrap/less/thumbnails";
  @import "../../../camunda-commons-ui/node_modules/bootstrap/less/alerts";
  // @import "../../../camunda-commons-ui/node_modules/bootstrap/less/progress-bars";
  // @import "../../../camunda-commons-ui/node_modules/bootstrap/less/media";
  @import "../../../camunda-commons-ui/node_modules/bootstrap/less/list-group";
  @import "../../../camunda-commons-ui/node_modules/bootstrap/less/panels";
  // @import "../../../camunda-commons-ui/node_modules/bootstrap/less/responsive-embed";
  @import "../../../camunda-commons-ui/node_modules/bootstrap/less/wells";
  // @import "../../../camunda-commons-ui/node_modules/bootstrap/less/close";

  // Components w/ JavaScript
  @import "../../../camunda-commons-ui/node_modules/bootstrap/less/modals";
  @import "../../../camunda-commons-ui/node_modules/bootstrap/less/tooltip";
  @import "../../../camunda-commons-ui/node_modules/bootstrap/less/popovers";
  // @import "../../../camunda-commons-ui/node_modules/bootstrap/less/carousel";

  // Utility classes
  @import "../../../camunda-commons-ui/node_modules/bootstrap/less/utilities";
  @import "../../../camunda-commons-ui/node_modules/bootstrap/less/responsive-utilities";

@import "../../../camunda-commons-ui/resources/less/common";
@import "../../../camunda-commons-ui/lib/auth/page/login";
@import "../../../camunda-commons-ui/lib/widgets/inline-field/cam-widget-inline-field";
@import "../../../camunda-commons-ui/lib/widgets/search/cam-widget-search";



h1,
h2,
h3,
h4 {
  .font-light;
}

h1 {
  text-transform: uppercase;
}


label,
strong {
  .font-bold();
}


a,
a:link,
a:hover,
a:focus,
a:active {
  color: @link-color;
  text-decoration: none;
}
a:focus {
  outline: none;
}

[ng-click],
[onclick] {
  cursor: pointer;
}



.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}



.text-help {
  font-style: italic;
  font-size: 90%;
  color: @gray;
  margin-bottom: (@grid-gutter-width / 2);
}





.list-inline > li {
  padding: 1px 5px;
}


.tab-content {
  position: relative;
  padding-top: @grid-gutter-width;
}


.tooltip .tooltip-inner {
  word-wrap: break-word;
}


.pagination {
  display: block;
  clear: both;
  overflow: visible;
  text-align: center;
  margin: (@grid-gutter-width / 2) auto;
  li {
    overflow: visible;
    a {
      float: none;
      border: none;
    }
  }
  .active a {
    background-color: @gray-light;
  }
}




@import "_mixins";

@import "_layout";

@import "_forms";
@import "_loader";
@import "_modal";

@import "_notifications-panel";




@import "../scripts/filter/directives/cam-tasklist-filters";
@import "../scripts/filter/directives/cam-tasklist-filter-modal-form";
@import "../scripts/filter/directives/cam-tasklist-filter-modal-form-permission";


@import "../scripts/task/plugins/detail/cam-tasklist-task-detail-diagram-plugin";
@import "../scripts/task/plugins/detail/cam-tasklist-task-detail-history-plugin";
@import "../scripts/task/plugins/action/cam-tasklist-task-action-comment-plugin";
@import "../scripts/task/directives/cam-tasklist-task-meta";
@import "../scripts/task/directives/cam-tasklist-task";
@import "../scripts/task/modals/cam-tasklist-groups-modal";


@import "../scripts/tasklist/plugins/cam-tasklist-search-plugin.less";
@import "../scripts/tasklist/directives/cam-tasklist-sorting.less";
@import "../scripts/tasklist/directives/cam-tasklist-tasks.less";


@import "../scripts/navigation/directives/cam-tasklist-navigation";

@import "../scripts/process/plugins/action/modals/cam-tasklist-process-start-modal";


@import "../scripts/variable/directives/cam-tasklist-variables";
@import "../scripts/variable/modals/cam-tasklist-variables-detail-modal";


@import "../scripts/form/directives/cam-tasklist-form-generic";
@import "../scripts/form/directives/cam-tasklist-form-external";
