/*
.navbar .navbar-brand {
  background-image: url(../images/your-app-logo.png);
}
.navbar-collapse {
  background-color: #4960B2;
}

.navbar-default {
  background-color: #4960B2;
}

.navbar-right > .divider-vertical {
  border-left-color: #4960B2;
  border-right-color: #4960B2;
}
*/
