<div>
  <div class="bpmn-model thumbnail" data-ng-show="diagram && contentAvailable == true">
    <h3>{{diagram.modeler}}</h3>
    <div class="holder">
      <div class="diagram vertical-center">
        <span class="name" data-ng-hide="imageAvailable == true">{{diagram.label}}</span>
        <img alt="{{diagram.label}}" data-ng-show="imageAvailable == true" data-ng-src="{{imageUrl}}" data-ng-click="showImage(identifier)" />
        <p data-ng-show="imageAvailable != true" th:text="#{'There is no up to date image available.'}">
        </p>
      </div>
    </div>
  </div>
  <span class="label" data-ng-show="imageAvailable == true && contentAvailable == true">{{diagram.label}}</span>

  <div class="bpmn-model thumbnail" data-ng-hide="diagram && contentAvailable == true">
    <h3 data-ng-show="identifier == 'leftHandSide'" th:text="#{'Your modeler'}">Your modeler</h3>
    <h3 data-ng-show="identifier == 'rightHandSide'">fox designer</h3>
    <div class="holder">
      <div class="diagram vertical-center">
        <p data-ng-show="contentAvailable == false" th:text="#{'The model on this side could not be loaded and might have been moved. You may add a new model for this side.'}"></p>
        <span class="name"><a class="btn btn-primary btn-large" data-ng-show="diagram == undefined || contentAvailable == false" data-ng-click="addDiagram()" data-hint-title="Add a process model" data-hint="You need two process models for a Roundtrip, the right side is reserved for the fox designer (the engine model)" >Add Process Model</a></span>
      </div>
    </div>
  </div>
  <span class="badge badge-success" data-ng-show="diagram.status == 'SYNCED' && contentAvailable == true">no changes since last sync</span>
  <span class="badge badge-important" data-ng-show="diagram.status == 'OUT_OF_SYNC' && contentAvailable == true">changed since last sync, last modified : {{diagram.lastModified | date:'yyyy-MM-dd, HH:mm:ss'}}</span>
  <span class="badge" data-ng-show="(roundtrip.lastSync == undefined || diagram.status == 'UNSPECIFIED') && contentAvailable == true">unknown sync status</span>
  
  <!-- begin add-model-roundtrip-dialog -->
  <dialog model="editDiagramDialog" ng-cloak>
    <div class="modal" ng-controller="EditDiagramController" ngm-if="editDiagramDialog.renderHtml()">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 th:text="#{Add Diagram}"></h3>
      </div>
      <div class="modal-body">
        <div class="alert alert-error" ng-show="error">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <span>
            <strong th:text="#{A problem occured:}"></strong>
            {{error.message}}
          </span>
        </div>
        <form class="form-horizontal" novalidate ng-submit="save()" name="addModelForm">
          <fieldset>
            <div class="control-group">
              <label th:attr="data-hint=#{'The Name of the Modeling tool you used.'}" data-hint-title="Modeler Name" class="control-label" for="modelerName" th:text="#{'Modeler Name'}">Modeler Name</label>
              <div class="controls">
                <!-- display a combobox on leftside, otherwise a disabled input field -->
                <select ngm-if="canEditModeler()" id="modelerName" name="modelerName" required autofocus ng-model="editDiagram.modeler" ng-combobox values="modelerNames"
                  ng-options="modeler for modeler in modelerNames" th:attr="data-placeholder=#{Enter the name of your modeler}">
                  <option value=""></option>
                </select>
                <span ngm-if="!canEditModeler()" id="modelerName" name="modelerName" required class="uneditable-input" type="text">{{editDiagram.modeler}}</span>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="connectors" th:text="#{Select Connector}">Select Connector</label>
              <div class="controls">
                <select id="connectors" class="span8" data-ng-model="connector" required ng-options="c.name for c in connectors">
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="tree" th:text="#{'Select BPMN File'}">Select BPMN File</label>
              <div class="controls">
                <div class="claro tree" data-selected="selectedNode" data-cycle-tree data-id="connectorTree" data-connector="connector">
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn" ng-click="cancel()" th:text="#{Cancel}">Cancel</button>
        <button href="#" class="btn btn-primary" ng-click="save()" ng-disabled="!isValid()" th:text="#{Add}">Add</button>
      </div>
    </div>
  </dialog>
  <!-- end add-model-roundtrip-dialog -->
</div>