<div>
  <div class="bpmn-model thumbnail" data-ng-show="diagram" data-ng-class="diagramClass(diagram)">
    <h3>
      {{diagram.modeler}} 
      <a class="pull-right btn sync-status-refresh">
        <i class="icon-refresh" th:title="#{'Refresh model status'}" ng-click="refreshStatus(diagram)"></i>
      </a>
    </h3>
    <div class="holder">
      <div class="diagram" ng-show="modelStatus != 'UNAVAILABLE'">
        <diagram-image data-diagram="diagram" data-status="imageStatus" data-click="showImage(identifier)"/>
      </div>
      <div class="diagram error" ng-show="modelStatus == 'UNAVAILABLE'">
        <div class="centered">
          <p class="note">
            <i class="icon-warning-sign"></i>
            <span th:text="#{'The model on this side could not be loaded and might have been moved. You may add a new model for this side.'}"></span>
          </p>
          <a class="btn btn-primary btn-large" 
               data-ng-click="addDiagram()" 
               data-color-invert="true" 
               data-help-title="Find process model" 
               data-help="You need two process models for a Roundtrip, the right side is reserved for the fox designer (the engine model)">Find process model</a>
        </div>
      </div>
    </div>
    
    <div class="info">
      <span class="filename" ng-hide="imageStatus != 'LOADED' && modelStatus != 'UNAVAILABLE'">{{diagram.label}}</span>
      <div class="pull-right" ng-switch on="modelStatus">
        <div ng-switch-when="UNAVAILABLE" class="status label label-important">
          <span th:text="#{'Not available'}">Not available</span>
        </div>
        <div ng-switch-when="UNSPECIFIED" class="status label">
          <span th:text="#{'Not yet synchronized'}">Not yet synchronized</span>
        </div>
        <div ng-switch-when="SYNCED" class="status label label-success">
          <span th:text="#{'In sync'}">In sync</span>
        </div>
        <div ng-switch-when="OUT_OF_SYNC" class="status label label-important">
          <span th:text="#{'Changed since last sync'}">Changed since last sync</span>
        </div>
      </div>
    </div>
  </div>

  <div class="bpmn-model thumbnail" data-ng-hide="diagram">
    <h3 data-ng-show="identifier == 'leftHandSide'" th:text="#{'Your modeler'}">Your modeler</h3>
    <h3 data-ng-show="identifier == 'rightHandSide'">fox designer</h3>
    <div class="holder">
      <div class="diagram">
        <div class="centered">
          <a class="btn btn-primary btn-large" 
             data-ng-show="!diagram || !contentAvailable" 
             data-ng-click="addDiagram()" 
             data-color-invert="true" 
             data-help-title="Add a process model" 
             data-help="You need two process models for a Roundtrip, the right side is reserved for the fox designer (the engine model)" >Add Process Model</a>
        </div>
      </div>
    </div>
  </div>

  <!-- begin add-model-roundtrip-dialog -->
  <dialog model="editDiagramDialog" ng-cloak>
    <div class="modal" ng-controller="EditDiagramController" ngm-if="editDiagramDialog.renderHtml()">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 th:text="#{Add Diagram}"></h3>
      </div>
      <div class="modal-body">
        <div class="alert alert-error" ng-show="error">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <span>
            <strong th:text="#{A problem occured:}"></strong>
            {{error.message}}
          </span>
        </div>
        <form class="form-horizontal" novalidate ng-submit="save()" name="addModelForm">
          <fieldset>
            <div class="control-group">
              <label class="control-label" for="modelerName" 
                     th:text="#{'Modeler Name'}" 
                     th:attr="data-help=#{'The Name of the Modeling tool you used.'}" 
                     data-help-title="Modeler Name">Modeler Name</label>
              <div class="controls">
                <!-- display a combobox on leftside, otherwise a disabled input field -->
                <select id="modelerName" required autofocus 
                        ngm-if="canEditModeler()" 
                        ng-model="editDiagram.modeler" 
                        ng-combobox values="modelerNames"
                        ng-options="modeler for modeler in modelerNames" 
                        th:attr="data-placeholder=#{Enter the name of your modeler}">
                  <option value=""></option>
                </select>
                <span ngm-if="!canEditModeler()" id="modelerName" name="modelerName" required class="uneditable-input" type="text">{{editDiagram.modeler}}</span>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="connectors" 
                     th:text="#{Connector}" 
                     th:attr="data-help=#{'The connector to get the model from'}" 
                     data-help-title="Connector">Connector</label>
              <div class="controls">
                <select id="connectors" class="span8" data-ng-model="connector" required ng-options="c.name for c in connectors">
                </select>
              </div>
            </div>
            <div class="control-group" ng-show="connector">
              <label class="control-label" for="tree" 
                     th:text="#{'BPMN File'}" 
                     th:attr="data-help=#{'Select a BPMN 2.0 file from the connector contents. Note that only <code>.xml</code> and <code>.bpmn</code> files may be selected by you.'}" 
                     data-help-title="BPMN File">BPMN File</label>
              
              <div class="controls" style="margin-bottom: 10px;" >
                <input data-ng-show="!diagram && editDiagram" data-ng-model="selectedNode.label" class="span8" disabled />
                <div data-ng-switch on="!diagram && editDiagram">
                    <!-- were are using form validation which has no support to check ng-show or ng-hide, 
                    so switch is needed here to remove the element from dom: see https://groups.google.com/forum/?fromgroups=#!topic/angular/WxnYFbqjj30 -->
                    <input data-ng-switch-when="false" data-ng-model="editDiagram.label" class="span8" required />
                </div>
              </div>
              
              <div class="controls">
                <div class="claro tree" data-cycle-tree data-selected="selectedNode" data-id="connectorTree" data-connector="connector">
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn" ng-click="cancel()" th:text="#{Cancel}">Cancel</button>
        <button href="#" class="btn btn-primary" data-ng-click="save()" data-ng-disabled="!isValid()" th:text="#{Add}">Add</button>
        <button href="#" class="btn btn-primary" data-ng-click="create()" data-ng-disabled="!isValid()" th:text="#{Create}">Create</button>
      </div>
    </div>
  </dialog>
  <!-- end add-model-roundtrip-dialog -->
</div>