<div>
  <div class="bpmn-model thumbnail" ng-show="diagram">
    <h3>{{diagram.modeler}}</h3>
    <div class="holder">
      <div class="diagram">
        <span class="name">{{diagram.label}}</span>
      </div>
    </div>
  </div>
  <div class="bpmn-model thumbnail" ng-hide="diagram">
    <h3>&nbsp;</h3>
    <div class="holder">
      <div class="diagram">
        <span class="name"><a class="btn btn-primary btn-large" ng-click="addDiagram()" data-hint-title="Add a model" data-hint="You need two models for a Roundtrip, the right side is reserved for the fox designer (the engine model)" >Add Model</a></span>
      </div>
    </div>
  </div>
  
  <!-- begin add-model-roundtrip-dialog -->
  <dialog model="editDiagramDialog" ng-cloak>
    <div class="modal" ng-controller="EditDiagramController" ngm-if="editDiagramDialog.renderHtml()">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 th:text="#{Add Diagram}">Add Diagram ({{identifier}})</h3>
      </div>
      <div class="modal-body">
        <div class="alert alert-error" ng-show="error">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <span ng-switch ng-switch-on="error.component"> <strong
            ng-switch-when="tree"
            th:text="#{A problem occured when updating the tree}"></strong> <strong
            ng-switch-default th:text="#{A problem occured}"></strong>
          </span> {{error.message}}
        </div>
        <form class="form-horizontal" novalidate ng-submit="save()" name="addModelForm">
          <fieldset>
            <div class="control-group">
              <label th:attr="data-hint=#{'The Name of the Modeling tool you used.'}" data-hint-title="Modeler Name" class="control-label" for="input01" th:text="#{'Modeler Name'}">Modeler Name</label>
              <div class="controls">
                <!-- ads-data-typeahead data-values="modelerNames" -->
                <input class="span8" ng-model="editDiagram.modeler" name="modelerName" ng-disabled="!canEditModeler()" type="text" required autofocus th:attr="placeholder=#{Enter the name of your modeler}"/>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="connectors" th:text="#{Select Connector}">Select Connector</label>
              <div class="controls">
                <select id="connectors" class="span8" data-ng-model="connector" required ng-options="c.name for c in connectors">
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="tree" th:text="#{Select BPMN File}">Select BPMN File</label>
              <div class="controls">
                <p class="alert alert-info" ng-hide="selectedNode != undefined && selectedNode.type == 'FILE'" th:text="#{Select a bpmn file}"></p>
                <div class="claro tree" data-selected="selectedNode" data-cycle-tree data-id="connectorTree" data-connector="connector">
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn" ng-click="cancel()" th:text="#{Cancel}">Cancel</button>
        <button href="#" class="btn btn-primary" ng-click="save()" ng-disabled="!isValid()" th:text="#{Add}">Add</button>
      </div>
    </div>
  </dialog>
  <!-- end add-model-roundtrip-dialog -->
</div>