<div data-ng-cloak>
  <div class="page-header">
    <h1>{{roundtrip.name}}</h1>
  </div>

  <div class="row-fluid" data-ng-hide="roundtrip.id == undefined">
    <div class="span5">
      <bpmn-diagram roundtrip="roundtrip" diagram="roundtrip.leftHandSide" identifier="leftHandSide" />
    </div>

    <div class="span2">
      <div class="sync-options">
        <div class="actions">
          <button class="btn btn-large sync-btn"
                  ng-disabled="!(roundtrip.rightHandSide && roundtrip.leftHandSide)"
                  ng-click="openSyncDialog('LEFT_TO_RIGHT')">sync &rarr;</button>
        </div>
        <div>
          <span ng-show="roundtrip.lastSync">
            Last sync {{roundtrip.lastSync | date:'yyyy-MM-dd @ HH:mm:ss'}}
          </span>
          <p data-ng-show="roundtrip.lastSyncMode=='LEFT_TO_RIGHT'">from left to right</p>
          <p data-ng-show="roundtrip.lastSyncMode=='RIGHT_TO_LEFT'">from right to left</p>
          <span ng-hide="roundtrip.lastSync">
            Not synced yet
          </span>
        </div>
        <div class="actions">
          <button class="btn btn-large sync-btn"
                  ng-disabled="!(roundtrip.rightHandSide && roundtrip.leftHandSide)"
                  ng-click="openSyncDialog('RIGHT_TO_LEFT')">&larr; sync</button>
        </div>
      </div>
    </div>
    
    <div class="span5">
      <bpmn-diagram roundtrip="roundtrip" diagram="roundtrip.rightHandSide" identifier="rightHandSide" />
    </div>
  </div>
  
  <!-- begin sync-roundtrip-dialog -->
  <dialog model="syncDialog" ng-cloak>
    <div class="modal" ng-controller="SyncRoundtripController" ngm-if="syncDialog.renderHtml()">
      <div class="modal-header">
        <button ng-show="syncDialog.autoClosable" type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 th:text="#{Synchronize models}">Synchronize models</h3>
      </div>
      <div class="modal-body">
        <div ng-switch on="status">
          <div ng-switch-when="beforeStart">
          	<p>
              <span ng-show="syncMode == 'LEFT_TO_RIGHT'" th:text="#{The synchronization will perform from left to right and the model at the right hand side will be overwritten.}"></span>
              <span ng-hide="syncMode == 'LEFT_TO_RIGHT'" th:text="#{The synchronization will perform from right to left and the model at the left hand side will be merged with changes from the left hand side model.}"></span>
            </p>
            <p>
              <span th:text="#{'Are you sure to synchronize the models?'}" />
            </p>
          </div>
          <div ng-switch-when="performSynchronize">
            <p th:text="#{Synchronization in progress}">Synchronization in progress</p>          
            <div class="progress progress-striped active">
              <div class="bar" style="width: 100%;"></div>
            </div>
          </div>
          <div ng-switch-when="synchronizationFailed">
            <p>
              <span th:text="#{The synchronization of the models failed.}">
                The synchronization of the models failed.
              </span>
            </p>
          </div>
          <div ng-switch-when="synchronizationSuccess">
            <p>
              <span th:text="#{The synchronization of the models was successful.}">
                The synchronization of the models was successful.
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn" ng-click="cancel()" th:text="#{Cancel}"
                ng-disabled="status == 'performSynchronize'"
                ng-hide="status == 'synchronizationFailed' || status == 'synchronizationSuccess'">Cancel</button>
        <button href="#" class="btn btn-primary" ng-click="cancel()" th:text="#{OK}"
                ng-show="status == 'synchronizationFailed' || status == 'synchronizationSuccess'">OK</button>
        <button href="#" class="btn btn-primary" ng-click="performSync()" th:text="#{Synchronize}"
                ng-disabled="status == 'performSynchronize'"
                ng-hide="status == 'synchronizationFailed' || status == 'synchronizationSuccess'">Synchronize</button>
      </div>
    </div>
  </dialog>
  <!-- end sync-roundtrip-dialog -->
</div>

<div class="modal hide fade" id="pictureModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"
      aria-hidden="true">&times;</button>
    <h3 th:text="#{'Model View'}"></h3>
  </div>
  <div class="modal-body">
    <div id="myCarousel" class="carousel slide" data-interval="false">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="active item leftHandSide" data-ng-show="roundtrip.leftHandSide != undefined">
          <img data-ng-src="{{imageUrl('leftHandSide')}}" />
        </div>
        <div class="item rightHandSide" data-ng-show="roundtrip.rightHandSide != undefined" >
          <img data-ng-src="{{imageUrl('rightHandSide')}}" />
        </div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" 
        href="#myCarousel" data-slide="prev" data-ng-show="leftHandSideImage == true && currentPicture == 'rightHandSide' && roundtrip.leftHandSide != undefined" data-ng-click="setCurrentPicture('leftHandSide')">&lsaquo;</a> 
      <a class="carousel-control right"
        href="#myCarousel" data-slide="next" data-ng-show="rightHandSideImage == true && currentPicture == 'leftHandSide' && roundtrip.rightHandSide != undefined" data-ng-click="setCurrentPicture('rightHandSide')" >&rsaquo;</a>
    </div>
  </div>
  <div class="modal-footer">
    <button data-dismiss="modal" class="btn">Close</button>
  </div>
</div>
