<div ng-cloak>
  <div class="page-header">
    <h1>{{roundtrip.name}}</h1>
  </div>

  <div class="row-fluid">
    <div class="span5">
      <bpmn-diagram roundtrip="roundtrip" diagram="roundtrip.leftHandSide" identifier="leftHandSide" />
    </div>

    <div class="span2">
      <div class="sync-options">
        <div class="actions">
          <button class="btn btn-large" ng-disabled="!(roundtrip.rightHandSide && roundtrip.leftHandSide)">sync &rarr;</button>
        </div>
        <div>
          <span ng-show="roundtrip.lastSync">
            Last sync {{roundtrip.lastSync | date}}
          </span>
          <span ng-hide="roundtrip.lastSync">
            Not synced yet
          </span>
        </div>
        <div class="actions">
          <button class="btn btn-large" ng-disabled="!(roundtrip.rightHandSide && roundtrip.leftHandSide)">&larr; sync</button>
        </div>
      </div>
    </div>
    
    <div class="span5">
      <bpmn-diagram roundtrip="roundtrip" diagram="roundtrip.rightHandSide" identifier="rightHandSide" />
    </div>
  </div>
  
  <!-- begin sync-roundtrip-dialog -->
  <dialog model="syncActive">
    <div class="modal" id="sync-roundtrip-dialog" style="display: none;" data-ng-init="initModal()">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 th:text="#{Add file}">Add file</h3>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" novalidate ng-submit="save()" name="addModelForm">
          <fieldset>
            <div class="control-group">
              <label class="control-label" for="input01" th:text="#{Modeler Name}">Modeler Name</label>
              <div class="controls">
                <!--input data-typeahead data-values="modelerNames" ng-model="modelerName" name="modelerName" type="text" id="input01" /-->
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="connectors" th:text="#{Select Connector}">Select Connector</label>
              <div class="controls">
                <select id="connectors" data-ng-model="connector" data-ng-options="c.name for c in connectors">
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="tree" th:text="#{Select BPMN File}">Select BPMN File</label>
              <div class="controls">
                <div id="tree" class="claro" data-selected="selectedTreeItem" data-cycle-tree data-id="connectorTree" data-connector="connector">
                </div>
              </div>
            </div>
            <tabs>
            </tabs>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn" ng-click="cancel()" th:text="#{Cancel}">Cancel</button>
        <button href="#" class="btn btn-primary" ng-click="save()" th:text="#{Add}">Add</button>
      </div>
    </div>
  </dialog>
  <!-- end add-model-roundtrip-dialog -->
</div>
