$text-color: #555;
$link-color: #155cb5;
$background-color: #eee;
$border-color: #ddd;
$success-color: #5cb85c;
$warn-color: #f89406;
$important-color:#b94a48;
$running-color: #70b8db;
$completed-color: #bbb;
