<div ng-show="!state.$loaded && !state.$error"
     class="loader">
  <span class="animate-spin glyphicon glyphicon-refresh"></span>
  {{ 'LOADING' | translate }}
</div>

<div ng-show="state.$error" class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign"></span>
  <strong class="status">{{ 'FAILURE' | translate }}:</strong>
  <span class="message">{{ 'FILTERS_LOADING_FAILURE' | translate }}</span>
</div>

<div ng-show="state.$loaded && !state.$error"
     class="list-unstyled">

  <div ng-hide="totalItems"
       class="well">
    <span class="glyphicon glyphicon-info-sign"></span>
    {{ 'NO_AVAILABLE_FILTER' | translate }}
  </div>

  <div ng-show="totalItems"
       ng-repeat="(delta, filter) in filters | orderBy:'properties.priority'"
       class="item task-filter cells-wrapper"
       ng-class="{active: isFocused(filter)}"
       ng-style="filter.style"
       ng-click="focus(filter)">

    <h4 class="name"
        tooltip="{{ filter.properties.description }}"
        tooltip-placement="top">
      <a href
         ng-style="{color: filter.properties.color}">
        {{ filter.name }}

        <span ng-show="isFocused(filter)"
              class="counter">{{ filterCount }}</span>
      </a>
    </h4>

    <div class="actions"
         ng-style="{visibility: isFocused(filter) ? 'visible' : 'hidden'}">
      <a ng-click="openModal($event, filter)"
         tooltip="{{ 'FILTER_DETAILS' | translate }}"
         tooltip-placement="top"
         href>
        <span class="glyphicon glyphicon-pencil"></span>
      </a>
    </div>
  </div>
</div>
