<div ng-show="!state.$loaded && !state.$error"
     class="loader">
  <span class="animate-spin glyphicon glyphicon-refresh"></span>
  {{ 'LOADING' | translate }}
</div>

<div ng-show="state.$error" class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign"></span>
  <strong class="status">{{ 'FAILURE' | translate }}:</strong>
  <span class="message">{{ 'FILTERS_LOADING_FAILURE' | translate }}</span>
</div>

<div ng-show="state.$loaded && !state.$error"
     class="list-unstyled">

  <div ng-hide="totalItems"
       class="well">
    <span class="glyphicon glyphicon-info-sign"></span>
    {{ 'NO_AVAILABLE_FILTER' | translate }}
  </div>

  <div ng-show="totalItems"
       ng-repeat="(delta, filter) in filters | orderBy:'properties.priority'"
       class="item task-filter-wrapper"
       ng-class="{active: isFocused(filter)}"
       ng-style="filter.style"
       ng-click="focus(filter)">

    <div class="task-filter">
      <div ng-if="isFocused(filter)"
           class="counter">{{ filterCount }}</div>

      <div class="actions">
        <a ng-click="openModal($event, filter)"
           tooltip="{{ 'FILTER_DETAILS' | translate }}"
           tooltip-placement="top">
          <span class="glyphicon glyphicon-pencil"></span>
        </a>
      </div>

      <h4 class="name"
          tooltip="{{ filter.properties.description }}"
          tooltip-placement="top">
        <span ng-style="{'background-color': filter.properties.color}"></span>
        <a href>{{ filter.name }}</a>
      </h4>
    </div>
  </div>
</div>
