/********************************************************************\
 * Web interface customization variables                            *
 *                                                                  *
 * You can find some information about less variables here:         *
 * http://lesscss.org/features/#features-overview-feature-variables *
\********************************************************************/

// Colors ------------------------------------------------------------

// this is the "main" color (like in the header)
@main-color:    #b5152b;

// slightly darker variant
// @main-darker: #9c3930;
@main-darker:   darken(@main-color, 25%);

@link-color: #08c;

@important-color: #b94a48;
@important-darker: darken(@important-color, 45%);

@warning-color: #f89406;
@warning-darker: #c67605;//darken(@warning-color, 45%);


// process state colors
@running-color: desaturate(lighten(@link-color, 25%), 40%);
@running-darker: darken(@running-color, 45%);

@completed-color: #bbb;
@completed-darker: darken(@completed-color, 45%);

@canceled-color: desaturate(lighten(#f89406, 20%), 25%);
@canceled-darker: darken(@canceled-color, 45%);

// Logos -------------------------------------------------------------

@logo-admin:    '../../img/admin/app-logo.png';

@logo-tasklist: '../../img/tasklist/app-logo.png';

@logo-cockpit:  '../../img/cockpit/app-logo.png';

