<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- Only for local testing. This file will not make it into any distribution -->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="default" class="org.apache.log4j.ConsoleAppender">
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%m%n"/>
        </layout>
    </appender>

    <root>
        <priority value="info"/>
        <appender-ref ref="default"/>
    </root>

</log4j:configuration>