<div class="actions">
  <view ng-repeat="deploymentPlugin in deploymentPlugins"
        provider="deploymentPlugin"
        vars="deploymentVars" />
</div>

<h4 class="name">{{ deployment.name || deployment.id }}</h4>

<dl>
  <dt>Time:</dt>
  <dd class="time">{{ deployment.deploymentTime | camDate:'normal' }}</dd>

  <dt>Source:</dt>
  <dd class="source"
      ng-if="deployment.source">{{ deployment.source }}</dd>
  <dd class="source undefined"
      ng-if="!deployment.source"><span class="null-value">null</span>

  <dt>Tenant ID:</dt>
  <dd class="tenant-id"
      ng-if="deployment.tenantId">{{ deployment.tenantId }}</dd>
  <dd class="tenant-id"
      ng-if="!deployment.tenantId"><span class="null-value">null</span></dd>

</dl>
