<div class="actions">
  <view ng-repeat="deploymentPlugin in deploymentPlugins"
        provider="deploymentPlugin"
        vars="deploymentVars" />
</div>

<h4 class="name">{{ deployment.name || deployment.id }}</h4>

<dl>
  <dt>Time:</dt>
  <dd class="time">{{ deployment.deploymentTime | camDate:'normal' }}</dd>

  <dt>Source:</dt>
  <dd ng-class="{ undefined: !deployment.source}" class="source">
    {{ deployment.source ? deployment.source : '&lt;undefined&gt;' }}
  </dd>
  
  <dt>Tenant ID:</dt>
  <dd class="tenant-id"
      ng-if="deployment.tenantId">{{ deployment.tenantId }}</dd>
  <dd class="tenant-id"
      ng-if="!deployment.tenantId"><span class="null-value">null</span></dd>
      
</dl>
