<?xml version="1.0"?>
<beans xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://jboss.org/schema/cdi/beans_1_0.xsd">
	<interceptors>
		<class>org.activiti.cdi.impl.annotation.StartProcessInterceptor</class>
	</interceptors>

	<!-- comment out to "fall back" on the default one using the Activiti IdentityService -->
	<!-- <alternatives>
		<class>com.camunda.fox.tasklist.identity.ldap.LdapIdentityServiceImpl</class>
	</alternatives> -->
</beans>
