.dashboard {
  .stats {
    margin-bottom: -10px;
  }
  .stats-section {
    margin-bottom: 10px;
  }

  .stats-label {
    display: block;
  }

  section.actual,
  section.metrics,
  section.deployed.no-metrics {
    padding-left: 0;
    padding-right: 0;
  }

  header {
    overflow: hidden;
  }

  section > .inner {
    min-height: auto;
  }

  .entry {
    padding-bottom: 10px;
  }

  view.row {
    display: block;
  }


  .metrics {
    header ul {
      margin-top: 4px;
      float: right;
      border-bottom: none;
      a {
        padding-bottom: 8px;
      }
    }

    .legend-color {
      display: inline-block;
      border-radius: 100%;
      width: 12px;
      height: 12px;
    }

    .chart {
      position: relative;
      padding-top: 10px;

      [cam-sparkline] {
        position: relative;
        z-index: 10;
      }

      [cam-sparkline].no-data:before {
        content: 'No Data';
        position: absolute;
        display: block;
        top: 50%;
        font-size: 32px;
        margin-top: -36px;
        line-height: 100%;
        left: 0;
        width: 100%;
        text-align: center;
        z-index: 5;
        color: @gray-lighter;
      }
    }

    [cam-sparkline] {
      min-height: 220px;
    }
  }

  .loading .value {
    color: @gray-lighter;
  }
}