<!-- # CE - camunda-cockpit-ui/client/scripts/pages/dashboard.html -->
<div class="ctn-view dashboard container-fluid">
  <div class="sections row">
    <section ng-repeat="plugin in mainPlugins"
             ng-if="!plugin.noDashboardSection && plugin.accessible"
             class="col-sm-6 col-md-4 col-lg-3">
      <div class="inner">
        <header>
          <h1 class="section-title">
            <a ng-if="plugin.pagePath"
               ng-href="{{ plugin.pagePath }}">{{ plugin.label }}</a>
            <span ng-if="!plugin.pagePath">{{ plugin.label }}</span>
          </h1>
        </header>

        <div class="stats">
          <view data-plugin-id="{{ plugin.id }}"
                provider="plugin"></view>
        </div>
      </div>
    </section>
  </div>

  <hr ng-if="deprecateDashboardProviders.length" />

  <div ng-repeat="plugin in deprecateDashboardProviders"
       class="deprecate-dashboard-view row"
       data-plugin-id="{{ plugin.id }}">
    <view vars="dashboardVars"
          provider="plugin"></view>
  </div>
</div>
<!-- / CE - camunda-cockpit-ui/client/scripts/pages/dashboard.html -->
