<!-- # CE - camunda-cockpit-ui/client/scripts/pages/decision-instance.html -->
<div class="ctn-fixed-view">

  <div class="ctn-header">
    <h1>
      <span class="inner">
        <span class="process-name-prefix">
          <span>Decision</span>
          <span>instance</span>
        </span>

        <span class="process-name">{{ decisionInstance.decisionDefinitionName || decisionInstance.decisionDefinitionKey }}</span>
      </span>
    </h1>

    <div class="view-pills-wrapper">
      <div class="view-pills"
           id="cockpit.decisionInstance.view"></div>
    </div>
  </div>


  <div class="ctn-content-container"
       ctn-collapsable-parent="sidebar">

    <!-- tool bar -->
    <div class="ctn-toolbar">

      <!-- Toolbar actions are provided by plugins -->
      <span ng-repeat="tabProvider in decisionInstanceActions">
        <view provider="tabProvider"
              vars="decisionInstanceVars" />
      </span>

    </div>



    <!-- sidebar -->
    <div class="ctn-column ctn-sidebar ctn-scroll"
         ctn-collapsable="left">
      <dl class="process-information">
        <dt>
          <span tooltip="Decision instance ID as it appears in the database">Instance ID:</span>
        </dt>
        <dd class="instance-id">{{ decisionInstance.id }}</dd>

        <dt>Definition ID:</dt>
        <dd class="definition-id">
          <a ng-href="#/decision-definition/{{ decisionInstance.decisionDefinitionId }}">{{ decisionInstance.decisionDefinitionId }}</a>
        </dd>

        <dt>Definition Key:</dt>
        <dd class="definition-key">{{ decisionInstance.decisionDefinitionKey }}</dd>

        <dt>Definition Name:</dt>
        <dd class="definition-name"
            ng-if="decisionInstance.decisionDefinitionName && decisionInstance.decisionDefinitionName !== decisionInstance.key">{{ decisionInstance.decisionDefinitionName }}</dd>
        <dd class="definition-name"
            ng-if="!decisionInstance.decisionDefinitionName || decisionInstance.decisionDefinitionName === decisionInstance.key"><span class="null-value">null</span></dd>

        <dt>Definition Version:</dt>
        <dd class="definition-version">{{decisionDefinition.version}}</dd>

        <dt>Tenant ID:</dt>
        <dd class="tenant-id"
            ng-if="decisionDefinition.tenantId">{{ decisionDefinition.tenantId }}</dd>
        <dd class="tenant-id"
            ng-if="!decisionDefinition.tenantId"><span class="null-value">null</span></dd>

        <dt>Deployment ID:</dt>
        <dd class="deployment-id"
            ng-if="decisionDefinition"><a ng-href="{{ getDeploymentUrl() }}">{{ decisionDefinition.deploymentId }}</a></dd>

      </dl>

      <a class="hide-collapsable pull-right"></a>
    </div>

    <div class="ctn-column ctn-content"
         ctn-collapsable-parent="tabs">

      <!-- content top pane -->
      <div class="ctn-row ctn-content-top">
        <div decision-table="tableXml"
             control="control"
             on-load="initializeTablePlugins()"
             style="height: 100%;padding:20px 10px;margin:0;"></div>
      </div>

      <!-- content bottom pane -->
      <div class="ctn-row ctn-content-bottom ctn-tabbed"
           ctn-collapsable="bottom">
        <div ng-show="decisionInstanceTabs.length">
          <ul class="nav nav-tabs">
            <li ng-class="{ active: selectedTab == tabProvider }"
                ng-repeat="tabProvider in decisionInstanceTabs">
              <a href ng-click="selectTab(tabProvider)">{{ tabProvider.label }}</a>
            </li>
          </ul>

          <div class="ctn-tabbed-content ctn-scroll">
            <view provider="selectedTab"
                  vars="decisionInstanceVars" />
          </div>
        </div>
      </div>

      <a class="show-collapsable"></a>
    </div>

  </div>

</div><!-- end .ctn-fixed-view -->
<!-- / CE - camunda-cockpit-ui/client/scripts/pages/decision-instance.html -->
