<!-- # CE - camunda-cockpit-ui/client/scripts/pages/decision-definition.html -->
<div class="ctn-fixed-view decision-page-layout">
  <div class="ctn-content-container"
       ctn-collapsable-parent="sidebar">

    <!-- tool bar -->
    <div class="ctn-toolbar">

      <!-- Toolbar actions are provided by plugins -->
      <span ng-repeat="tabProvider in decisionDefinitionActions">
        <view provider="tabProvider"
              vars="decisionDefinitionVars" />
      </span>

    </div>

    <!-- sidebar -->
    <div class="ctn-column ctn-sidebar ctn-scroll"
         cam-hover-area
         ctn-collapsable="left">
      <dl class="process-information">
        <dt>Definition Version:</dt>
        <dd class="definition-version">
          <span ng-if="!allDefinitions || !decisionDefinition"
                class="glyphicon glyphicon-refresh animate-spin"></span>

          <div class="dropdown"
               ng-if="allDefinitions && allDefinitions.length > 1">
            <a href
               class="dropdown-toggle">
              {{ decisionDefinition.version }}
              <span class="caret"></span>
            </a>

            <ul class="dropdown-menu">
              <li ng-repeat="definition in allDefinitions">
                <a ng-href="#/decision-definition/{{ definition.id }}">
                  {{ definition.version }}
                </a>
              </li>
            </ul>
          </div>

          <span ng-if="allDefinitions && allDefinitions.length < 2 && decisionDefinition">
            {{ decisionDefinition.version }}
          </span>
        </dd>

        <dt cam-widget-clipboard="decisionDefinition.id"
            cam-hoverable-title="definition-id">Definition ID:</dt>
        <dd cam-hover-trigger="definition-id">{{ decisionDefinition.id }}</dd>

        <dt cam-widget-clipboard="decisionDefinition.key"
            cam-hoverable-title="definition-key">Definition Key:</dt>
        <dd class="definition-key"
            cam-hover-trigger="definition-key">{{ decisionDefinition.key }}</dd>

        <dt>Definition Name:</dt>
        <dd class="definition-name"
            ng-if="decisionDefinition.name && decisionDefinition.name !== decisionDefinition.key">{{ decisionDefinition.name }}</dd>
        <dd class="definition-name"
            ng-if="!decisionDefinition.name || decisionDefinition.name === decisionDefinition.key"><span class="null-value">null</span></dd>

        <dt ng-if="decisionDefinition.tenantId"
            cam-widget-clipboard="decisionDefinition.tenantId"
            cam-hoverable-title="tenant-id">Tenant ID:</dt>
        <dd class="tenant-id"
            ng-if="decisionDefinition.tenantId"
            cam-hover-trigger="tenant-id">{{ decisionDefinition.tenantId }}</dd>
        <dt ng-if="!decisionDefinition.tenantId">Tenant ID:</dt>
        <dd class="tenant-id"
            ng-if="!decisionDefinition.tenantId"><span class="null-value">null</span></dd>

        <dt cam-widget-clipboard="decisionDefinition.deploymentId"
            cam-hoverable-title="deployment-id">Deployment ID:</dt>
        <dd class="deployment-id"
            cam-hover-trigger="deployment-id">
          <a ng-href="{{ getDeploymentUrl() }}">{{ decisionDefinition.deploymentId }}</a>
        </dd>

        <dt ng-if="decisionDefinition.decisionRequirementsDefinitionId"
            cam-widget-clipboard="decisionDefinition.decisionRequirementsDefinitionId"
            cam-hoverable-title="drd">Decision Definition Requirement:</dt>
        <dd class="super-case-instance-id"
            ng-if="decisionDefinition.decisionRequirementsDefinitionId"
            cam-hover-trigger="drd">
          <a ng-if="hasDrdPlugin"
             ng-href="#/decision-requirement/{{decisionDefinition.decisionRequirementsDefinitionId}}/history">
            {{ decisionDefinition.decisionRequirementsDefinitionId }}
          </a>
          <span ng-if="!hasDrdPlugin">
            {{ decisionDefinition.decisionRequirementsDefinitionId }}
          </span>
        </dd>
        <dt ng-if="!decisionDefinition.decisionRequirementsDefinitionId">Decision Requirements Definition:</dt>
        <dd class="super-case-instance-id"
            ng-if="!decisionDefinition.decisionRequirementsDefinitionId"><span class="null-value">null</span></dd>
      </dl>

      <a class="hide-collapsable pull-right"></a>
    </div>


    <div class="ctn-column ctn-content"
         ctn-collapsable-parent="tabs">

      <!-- content top pane -->
      <div class="ctn-row ctn-content-top"
           ctn-collapsable="top">
        <div decision-table="tableXml"
             control="control"
             table="{{decisionDefinition.key}}"
             on-load="initializeTablePlugins()"
             style="height: 100%;padding:20px 10px;margin:0;"></div>
        <a class="hide-collapsable vertical-collapse"
           title="Show tabs"></a>
      </div>

      <!-- content bottom pane -->
      <div class="ctn-row ctn-content-bottom ctn-tabbed">
        <a class="show-collapsable vertical-collapse"
           title="Hide tabs"></a>
        <ul class="nav nav-tabs"
            ng-if="decisionDefinitionTabs.length > 1">
          <li ng-class="{ active: selectedTab == tabProvider }"
              ng-repeat="tabProvider in decisionDefinitionTabs">
            <a href ng-click="selectTab(tabProvider)">{{ tabProvider.label }}</a>
          </li>
        </ul>

        <h4 ng-if="decisionDefinitionTabs.length === 1">{{ decisionDefinitionTabs[0].label }}:</h4>

        <div class="ctn-tabbed-content ctn-scroll"
             ng-if="decisionDefinitionTabs.length">
          <view provider="selectedTab"
                vars="decisionDefinitionVars" />
        </div>
      </div>

      <a class="show-collapsable"></a>
    </div>

  </div>

</div><!-- end .ctn-fixed-view -->
<!-- / CE - camunda-cockpit-ui/client/scripts/pages/decision-definition.html -->
