.tasks-dashboard {
  [cam-widget-search] {
    margin-bottom: 5px;
  }

  .pagination {
    margin-bottom: 0;
  }

  #task-group-counts {
    margin-bottom: @grid-gutter-width * 0.5;
  }
  #multiple-groups-info {
    margin-bottom: 0;
  }
}
