<module xmlns="urn:jboss:module:1.0" name="org.camunda.commons.camunda-commons-logging">
  <resources>
    <resource-root path="camunda-commons-logging-@project.version@.jar" />
  </resources>

  <dependencies>
    <module name="java.base" />
    <module name="org.slf4j" />
  </dependencies>
</module>
