<web-app>
  <display-name>camunda bpm tasklist</display-name>

  <filter>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>org.camunda.bpm.tasklist.AuthenticationFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/engine/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>Engine API</servlet-name>
    <servlet-class>
      org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
    </servlet-class>
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>org.camunda.bpm.tasklist.EngineApiApplication</param-value>
    </init-param>
    <init-param>
      <param-name>resteasy.servlet.mapping.prefix</param-name>
      <param-value>/engine</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>Tasklist API</servlet-name>
    <servlet-class>
      org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
    </servlet-class>
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>org.camunda.bpm.tasklist.TasklistApplication</param-value>
    </init-param>
    <init-param>
      <param-name>resteasy.servlet.mapping.prefix</param-name>
      <param-value>/api</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>Engine API</servlet-name>
    <url-pattern>/engine/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Tasklist API</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>

</web-app>