/**
 * Logo styling
 */
.navbar .brand {
   background-image: url('../../img/admin/app-logo.png');
   width: 210px;
}

/** box */
.box {
  padding: 19px;
  position: relative;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  margin-bottom: 20px;

}

.controls .help-inline {
  color: #b94a48;
}