
<div ng-controller="camLayoutCtrl"
     class="row controls equal-height-cols">
  <div class="cols col-sm-2 task-filters"
       ng-controller="camEditFilterCtrl">
    <div class="inner">
      <h5>
        <a href
           ng-show="userCanCreateFilter"
           ng-click="openDialog($event, 'CREATE_NEW_FILTER')">
          {{ 'FILTER_CREATE' | translate }}
          <span class="glyphicon glyphicon-plus-sign"></span>
        </a>
      </h5>

      <button ng-click="toggleOffCanvas($event)"
              data-off-canvas-toggle="filters"
              class="off-canvas-toggle btn btn-link">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
  </div>

  <div class="cols col-sm-4 task-list">
    <div class="inner">
      <div class="row">
        <div class="col-xs-8">
          <div cam-task-search
               tasklist-data="tasklistData"
               tasklist-app="tasklistApp"></div>
        </div>
        <div class="col-xs-4">
          <div cam-sorting-choices
               tasklist-data="tasklistData"></div>
        </div>
      </div>

      <button ng-click="toggleOffCanvas($event)"
              data-off-canvas-toggle="list"
              class="off-canvas-toggle btn btn-link">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
  </div>

  <div class="cols col-sm-6 current-task"
       ng-controller="camTaskActionCtrl">
    <div class="inner">
      <h5 ng-show="task">
        <span ng-repeat="taskAction in taskActions">
          <view provider="taskAction" vars="taskVars">
        </span>
      </h5>
    </div>
  </div>
</div>

<div class="row task-board equal-height-cols">
  <div class="cols col-sm-2 task-filters">
    <div class="inner"
         cam-tasklist-filters
         tasklist-data="tasklistData"></div>
  </div>

  <div class="cols col-sm-4 task-list">
    <div class="inner">
      <!--
      <div cam-task-search
           tasklist-data="tasklistData"></div>
      -->

      <div cam-tasklist-filter-tasks
           tasklist-data="tasklistData"></div>
    </div>

    <!--
    <div class="inner"
         cam-tasklist-filter-tasks
         tasklist-data="tasklistData"></div>
    -->
  </div>

  <div class="cols col-sm-6 current-task">
    <div class="inner"
         cam-tasklist-task
         tasklist-data="tasklistData"></div>
  </div>
</div>
