form[name="generatedForm"] {
  .form-control {

    &.ng-invalid {

      &.ng-dirty {
        border-color: #a94442;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);

        &:focus {
          border-color: #843534;
          -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
        }
      }
    }
  }
}

[cam-tasklist-form-external] {
  a.external-form {
    .btn();
    .button-variant(@btn-default-color; @btn-default-bg; @btn-default-border);
    .button-size(@padding-large-vertical; @padding-large-horizontal; @font-size-large; @line-height-large; @border-radius-large);
    display: block;
    max-width: 50%;
    margin: (@grid-gutter-width * 2) auto;
  }
}
