<module xmlns="urn:jboss:module:1.0" name="org.camunda.connect.camunda-connect-core">
  <resources>
    <resource-root path="camunda-connect-core-@project.version@.jar" />
  </resources>

  <dependencies>
    <module name="javax.api"/>
    <module name="org.camunda.commons.camunda-commons-logging" />
    <module name="org.camunda.commons.camunda-commons-utils" />
  </dependencies>
</module>
