<div class="dropdown">
  <a href
     tabindex="-1"
     role="button"
     class="dropdown-toggle"
     data-toggle="dropdown">
    <span class="hidden-xs hidden-sm hidden-md"
          translate="SORT_BY"></span>
    <span class="sort-by">{{ byLabel | lowercase }}</span>
  </a>

  <a href
     tabindex="-1"
     title="{{ order | translate }}"
     class="sort-direction glyphicon glyphicon-chevron-up"
     ng-class="{'glyphicon-chevron-up': order === 'asc', 'glyphicon-chevron-down': order === 'desc'}"
     ng-click="changeOrder()"></a>

  <ul class="dropdown-menu"
      role="menu">
    <li ng-show="by !== 'priority'">
      <a href
         tabindex="-1"
         sort-by="priority"
         translate="PRIORITY"
         ng-click="changeBy('priority')">Priority</a>
    </li>

    <li ng-show="by !== 'created'">
      <a href
         tabindex="-1"
         sort-by="created"
         translate="CREATION_DATE"
         ng-click="changeBy('created')">Created</a>
    </li>

    <li ng-show="by !== 'dueDate'">
      <a href
         tabindex="-1"
         sort-by="dueDate"
         translate="DUE_DATE"
         ng-click="changeBy('dueDate')">Due date</a>
    </li>

    <li ng-show="by !== 'followUpDate'">
      <a href
         tabindex="-1"
         sort-by="followUpDate"
         translate="FOLLOW_UP_DATE"
         ng-click="changeBy('followUpDate')">Follow up date</a>
    </li>

    <li ng-show="by !== 'nameCaseInsensitive'">
      <a href
         tabindex="-1"
         sort-by="nameCaseInsensitive"
         translate="TASK_NAME"
         ng-click="changeBy('nameCaseInsensitive')">Task name</a>
    </li>

    <li ng-show="by !== 'assignee'">
      <a href
         tabindex="-1"
         sort-by="assignee"
         translate="ASSIGNEE"
         ng-click="changeBy('assignee')">Assignee</a>
    </li>

<!--
    <li ng-show="by !== 'owner'">
      <a href
         tabindex="-1"
         sort-by="owner"
         translate="OWNER"
         ng-click="changeBy('owner')">Owner</a>
    </li>
-->

  </ul>
</div>
