<div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target=".navbar-collapse"
            ng-click="navbarOpen = !navbarOpen">
      <span class="sr-only"
            translate="TOGGLE_NAVIGATION">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <a class="navbar-brand"
       title="{{ 'APP_VENDOR' | translate }} {{ 'TASKLIST_APP' | translate }}"
       ng-href="{{ 'tasklistbase://' | uri }}">
       {{ 'APP_VENDOR' | translate }} {{ 'TASKLIST_APP' | translate }}
    </a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div ng-class="{collapse: !navbarOpen}"
       class="collapse navbar-collapse"
       id="cam-tasklist-navigation">
    <ul class="nav navbar-nav navbar-right">

      <li ng-repeat="actionProvider in navbarActions"
          ng-class="actionProvider.id">
        <view cam-if-logged-in
              ng-cloak
              provider="actionProvider"
              vars="navbarVars">
        </view>
      </li>


      <li class="divider-vertical"
          cam-if-logged-in
          ng-cloak></li>


      <li engine-select></li>


      <li class="user-account dropdown"
          cam-if-logged-in
          ng-cloak>
        <a tooltip-placement="left"
           tooltip="{{ 'MANAGE_ACCOUNT' | translate }}"
           href
           class="dropdown-toggle"
           data-toggle="dropdown">
          <span class="glyphicon glyphicon-user"></span>
          {{ authentication.name }}
        </a>
        <ul class="dropdown-menu">
          <li class="user-profile">
            <a ng-href="{{ 'adminbase://:engine' | uri }}/#/users/{{ authentication.name }}?tab=profile"
               translate="MY_PROFILE">
              My Profile
            </a>
          </li>

          <li class="divider"></li>

          <li class="sign-out">
            <a href="#/logout"
               translate="SIGN_OUT_ACTION">
              Sign out
            </a>
          </li>
        </ul>
      </li>


      <li class="divider-vertical"
          cam-if-logged-in
          ng-cloak></li>


      <li class="app-switch dropdown">
        <a href
           class="dropdown-toggle"
           data-toggle="dropdown">
          <span class="glyphicon glyphicon-home"></span>
          <span class="caret"></span>
        </a>

        <ul class="dropdown-menu">
          <li ng-if="!authentication || authentication.canAccess('admin')">
            <a ng-href="{{ '../../admin/:engine/' | uri }}"
               translate="ADMIN_APP">Admin</a>
          </li>

          <li ng-if="!authentication || authentication.canAccess('cockpit')">
            <a ng-href="{{ '../../cockpit/:engine/' | uri }}"
               translate="COCKPIT_APP">Cockpit</a>
          </li>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
