<module xmlns="urn:jboss:module:1.0" name="org.camunda.bpm.qa.camunda-qa-ensure-clean-db">
  <resources>
    <resource-root path="camunda-qa-ensure-clean-db-@project.version@.jar" />
  </resources>

  <dependencies>

    <module name="java.base" />
    <module name="java.logging" />
    <module name="org.camunda.bpm.camunda-engine" />

  </dependencies>
</module>
