<!-- # CE - src/main/webapp/app/cockpit/directives/activity-instance-tree.html -->
<div class="tree-node" >

  <div class="tree-node-group">

    <span class="tree-node-label" ng-class="{ 'selected' : node.isSelected }">

      <button class="btn btn-link btn-control-link btn-toggle" ng-if="node.children.length" ng-click="toggleOpen()">
        <i ng-class="{ 'icon-chevron-right' : !node.isOpen, 'icon-chevron-down' : node.isOpen }"></i>
      </button>

      <button class="btn btn-link btn-control-link btn-control remove"
              ng-click="deselect($event)">
        <i class="icon-remove"></i>
      </button>

      <a id="{{ node.id }}"
         ng-click="select($event)">
        {{ node.name }}
      </a>

    </span>

    <span ng-if="!node.endTime"
          class="tree-node-addon activity-instance-running"
          help
          help-text="Running Activity Instance"
          help-placement="'right'">
      <i class="icon-play"></i>
    </span>

    <span ng-if="node.endTime && !node.canceled"
          class="tree-node-addon activity-instance-completed"
          help
          help-text="Completed Activity Instance"
          help-placement="'right'">
      <i class="icon-stop"></i>
    </span>

    <span ng-if="node.endTime && node.canceled"
          class="tree-node-addon activity-instance-canceled"
          help
          help-text="Canceled Activity Instance"
          help-placement="'right'">
      <i class="icon-eject"></i>
    </span>
      
  </div>

  <ul class="unstyled" ng-show="node.isOpen" ng-if="node.children.length">
    <li ng-repeat="child in node.children | orderBy:orderPropertyValue">
      <div activity-instance-tree="child"
           selection="selection"
           on-element-click="propogateSelection(id, activityId, $event)">
      </div>
    </li>
  </ul>
</div>
<!-- / CE - src/main/webapp/app/cockpit/directives/activity-instance-tree.html -->
