<!-- # CE - camunda-bpm-webapp/ui/admin/client/scripts/pages/generic-confirmation.html -->
<div class="modal-header"><h3>Please confirm</h3></div>
<div class="modal-body">{{ question }}</div>
<div class="modal-footer">
  <div class="row">
    <div class="col-xs-6 text-left">
      <button class="btn btn-link"
              ng-click="$dismiss()">Cancel</button>
    </div>
    <div class="col-xs-6 text-right">
      <button class="btn btn-primary"
              ng-click="$close()">Proceed</button>
    </div>
  </div>
</div>
<!-- / CE - camunda-bpm-webapp/ui/admin/client/scripts/pages/generic-confirmation.html -->
