<!-- # CE - camunda-bpm-webapp/ui/admin/client/scripts/pages/groupCreate.html -->
<section>
  <div class="section-content">
    <header class="row">
      <div class="col-xs-8">
        <h3>Create new group</h3>
      </div>
    </header>

    <form class="form-horizontal"
          name="createGroupForm">
      <div class="col-xs-12">
        <div class="form-group">
          <label class="control-label col-sm-4 col-md-2"
                 for="inputGroupId">Group ID*</label>

          <div class="col-sm-8 col-md-10">
            <input id="inputGroupId"
                   name="groupId"
                   class="form-control"
                   type="text"
                   ng-model="group.id"
                   novalidate required />
            <span class="help-inline"
                ng-show="createGroupForm.groupId.$error.required">Group ID is required.</span>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-4 col-md-2"
                 for="inputName">Group Name*</label>

          <div class="col-sm-8 col-md-10">
            <input id="inputName"
                   name="groupName"
                   type="text"
                   class="form-control"
                   ng-model="group.name"
                   novalidate required />
            <span class="help-inline"
                  ng-show="createGroupForm.groupName.$error.required">Name is required.</span>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-4 col-md-2"
                 for="inputType">Group Type</label>
          <div class="col-sm-8 col-md-10">
            <input id="inputType"
                   name="groupType"
                   class="form-control"
                   type="text"
                   ng-model="group.type" />
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-8 col-sm-offset-4 col-md-10 col-md-offset-2 text-right">
            <a class="btn btn-link"
               href="#/groups">
              Cancel
            </a>

            <button type="submit"
                    class="btn btn-primary"
                    ng-disabled="!createGroupForm.$valid"
                    ng-click="createGroup()">
              Create new Group
            </button>
          </div>
        </div>

      </div>
    </form>
  </div>
</section>
<!-- / CE - camunda-bpm-webapp/ui/admin/client/scripts/pages/groupCreate.html -->
