<!-- # CE - camunda-bpm-webapp/ui/admin/client/scripts/pages/groupEdit.html -->
<section ng-cloak>
  <aside>
    <ul>
      <li ng-class="activeClass('tab=group')">
        <a href="#/groups/{{group.id | escape}}?tab=group">Information</a>
      </li>
      <li ng-class="activeClass('tab=tenants')">
        <a href="#/groups/{{ group.id | escape }}?tab=tenants">Tenants</a>
      </li>
      <li ng-class="activeClass('tab=users')">
        <a href="#/groups/{{group.id | escape}}?tab=users">Users</a>
      </li>
    </ul>
  </aside>

  <div class="section-content">
    <header class="row">
      <div class="col-xs-8">
        <h3>Edit group {{ group.name }}</h3>
      </div>
      <div class="col-xs-4 text-right">
        <a class="btn btn-default"
           ng-if="show('tenants')"
           ng-click="openCreateTenantMembershipDialog()">
          Add to a tenant
          <span class="glyphicon glyphicon-plus-sign"></span>
        </a>
      </div>
    </header>

    <form ng-show="show('group')"
          class="form-horizontal"
          name="editGroupForm"
          cam-widget-loader
          loading-state="{{ groupLoadingState }}">
      <div class="h4">Group Details</div>

      <div class="form-group">
        <label class="control-label col-sm-4 col-md-2"
               for="inputName">Group Name*</label>

        <div class="col-sm-8 col-md-10">
          <input id="inputName"
                 name="groupName"
                 class="form-control"
                 type="text"
                 ng-model="group.name"
                 novalidate
                 required
                 ng-disabled="!availableOperations.update" />

          <p class="text-danger"
             ng-show="createGroupForm.groupName.$error.required">
            Name is required.
          </p>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-4 col-md-2"
               for="inputType">Group Type</label>

        <div class="col-sm-8 col-md-10">
          <input id="inputType"
                 name="groupType"
                 class="form-control"
                 type="text"
                 ng-model="group.type"
                 ng-disabled="!availableOperations.update" />
        </div>
      </div>

      <div class="form-group"
           ng-show="availableOperations.update">
        <div class="col-sm-8 col-sm-offset-4 col-md-10 col-md-offset-2 text-right">
          <button type="submit"
                  class="btn btn-primary"
                  ng-disabled="!canSubmit(editGroupForm, 'group')"
                  ng-click="updateGroup()">Update Group</button>
        </div>
      </div>
    </form>

    <form class="form-horizontal"
          ng-show="show('group') && availableOperations.delete">
      <div class="h4">Delete Group</div>

      <div class="alert alert-danger">
        <strong>Warning:</strong> deleting a group cannot be undone.
      </div>

      <div class="text-right">
        <button type="submit"
                class="btn btn-danger"
                ng-click="deleteGroup()">
          Delete Group
        </button>
      </div>
    </form>

    <div ng-if="show('tenants')">
      <form class="form-horizontal"
            name="updateTenantMemberships">

        <div class="h4">
          {{ group.name }}&#39;s Tenants
        </div>

        <div cam-widget-loader
             loading-state="{{ tenantLoadingState }}"
             text-empty="Group {{ group.name }} is currently not member of any tenants.">
          <table class="cam-table"
                 ng-hide="tenantList.length == 0">
            <thead>
            <tr>
              <th class="tenant-id">Tenant ID</th>
              <th class="tenant-name">Tenant Name</th>
              <th class="action"
                  ng-show="availableOperations.removeTenant">
                Action
              </th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="tenant in tenantList">
              <td class="tenant-id">
                <a href="#/tenants/{{ tenant.id | escape }}?tab=tenant">{{ tenant.id }}</a>
              </td>

              <td class="tenant-name">
                {{ tenant.name }}
              </td>

              <td class="action"
                  ng-show="availableOperations.removeTenant">
                <a ng-click="removeTenant(tenant.id)">Remove</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

      </form>
    </div>

    <div ng-show="show('users')">
      <div class="h3">Group users</div>

      <div cam-widget-loader
           loading-state="{{ userLoadingState }}"
           text-empty="Group {{group.name}} does not currently have any users.">
        <table class="cam-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Username</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="user in groupUserList">
              <td><a ng-href="#/users/{{user.id | escape}}">{{user.firstName}} {{user.lastName}}</a></td>
              <td>{{user.id}}</td>
            </tr>
          </tbody>
        </table>
      </div><!-- /cam-widget-loader -->

      <pagination ng-if="groupUserPages.total > groupUserPages.size"
                  class="pagination-sm"

                  ng-model="groupUserPages.current"
                  ng-change="pageChange(groupUserPages.current)"

                  total-items="groupUserPages.total"
                  items-per-page="groupUserPages.size"
                  max-size="7"

                  boundary-links="true"

                  next-text="&rsaquo;"
                  last-text="&raquo;"
                  previous-text="&lsaquo;"
                  first-text="&laquo;"></pagination>

    </div>
  </div>
</section>
<!-- / CE - camunda-bpm-webapp/ui/admin/client/scripts/pages/groupEdit.html -->
