<!-- # CE - camunda-bpm-webapp/ui/admin/client/scripts/pages/setup.html -->
<section>
  <!-- <aside></aside> -->
  <div class="section-content"
       id="users"
       ng-switch on="created">
    <header class="row">
      <div class="col-xs-8">
        <h3>Setup</h3>
      </div>
      <div class="col-xs-4 text-right">
      </div>
    </header>

    <div class="row"
         ng-switch-when="true">
      <div class="col-md-12">

        <div class="alert alert-success">
          <strong>User created</strong>
          You have created an initial user.
        </div>

        Head over to the <a href="./#/login">signin page</a> to login using the newly created credentials.
      </div>
    </div>

    <div class="row"
         ng-switch-when="false">
      <div class="col-md-8 box">

        <div notifications-panel
             class="notifications-panel"></div>

        <form class="form-horizontal"
              name="createUserForm">
          <div class="h4">User Account</div>

          <div class="form-group">
            <label class="control-label col-sm-4"
                   for="inputUserId">User ID*</label>

            <div class="col-sm-8">
              <input id="inputUserId"
                     name="userId"
                     class="form-control"
                     type="text"
                     ng-model="profile.id"
                     novalidate required></input>

              <span class="help-inline"
                    ng-show="createUserForm.userId.$error.required">
                User ID is required.
              </span>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-4"
                   for="inputPassword">Password*:</label>

            <div class="col-sm-8">
              <input id="inputPassword"
                     name="inputPassword"
                     class="form-control"
                     type="password"
                     ng-model="credentials.password"
                     required></input>

              <span class="help-inline"
                    ng-show="createUserForm.inputPassword.$error.password">
                Password must have at least 8 characters.
              </span>
              <span class="help-inline"
                    ng-show="createUserForm.inputPassword.$error.required">
                Password is required.
              </span>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-4"
                   for="inputPasswordRepeat">Password (repeat)*:</label>

            <div class="col-sm-8">
              <input id="inputPasswordRepeat"
                  name="inputPasswordRepeat"
                  class="form-control"
                  type="password"
                  ng-model="credentials.password2"
                  data-password-repeat="credentials.password"></input>

              <span class="help-inline"
                    ng-show="createUserForm.inputPasswordRepeat.$error.passwordRepeat">
                Passwords must match.
              </span>
            </div>
          </div>

          <div class="h4">User Profile</div>

          <div class="form-group">
            <label class="control-label col-sm-4"
                for="inputFirstname">Firstname*</label>

            <div class="col-sm-8">
              <input id="inputFirstname"
                     name="firstname"
                     type="text"
                     class="form-control"
                     ng-model="profile.firstName"
                     novalidate
                     required></input>

              <span class="help-inline"="text-danger"
                    ng-show="createUserForm.firstname.$error.required">
                Firstname is required.
              </span>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-4"
                for="inputLastname">Lastname*</label>

            <div class="col-sm-8">
              <input id="inputLastname"
                  type="text"
                  class="form-control"
                  ng-model="profile.lastName"
                  novalidate
                  required></input>

              <span class="help-inline"
                    ng-show="createUserForm.firstname.$error.required">
                Lastname is required.
              </span>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-4"
                for="inputEmail">Email</label>

            <div class="col-sm-8">
              <input id="inputEmail"
                  name="email"
                  type="text"
                  class="form-control"
                  ng-model="profile.email"
                  data-email></input>

              <span class="help-inline"
                    ng-show="createUserForm.email.$error.email">
                Not a valid email address.
              </span>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-8 col-sm-offset-4">
              <button type="submit"
                      class="btn btn-primary"
                      ng-disabled="!createUserForm.$valid"
                      ng-click="createUser()">Create new User</button>
            </div>
          </div>

        </form>
      </div>

      <div class="col-md-4">
        <div class="well">
          <div class="h4">Why is this page shown?</div>
          <p>You are trying to access the process engine &quot;<strong>{{ engineName }}</strong>&quot;.
          This process engine is configured to use the built-in identity service (database) but has no administrative users configured.
          This page allows you to create a user for accessing the process engine.</p>
          <p>
            <a href="https://docs.camunda.org/manual/installation/"
               class="btn btn-success">
              » Setup LDAP instead
            </a>
          </p>
        </div>
        </div>
    </div>
  </div>
</section>
<!-- / CE - camunda-bpm-webapp/ui/admin/client/scripts/pages/setup.html -->
