<!-- # CE - camunda-admin-ui/client/scripts/pages/tenant.html -->
<section ng-cloak>
  <!-- <aside></aside> -->
  <div class="section-content">
    <header class="row">
      <div class="col-xs-8">
        <h3>List of tenants</h3>
      </div>
      <div class="col-xs-4 text-right"
           ng-show="availableOperations.create">
        <a href="#/tenant-create"
           class="btn btn-default">
          Create new tenant
          <span class="glyphicon glyphicon-plus-sign"></span>
        </a>
      </div>
    </header>

    <div cam-searchable-area
         config="searchConfig"
         on-search-change="onSearchChange(query, pages)"
         loading-state="loadingState"
         text-empty="No tenants were found."
         storage-group="'ANT'">
      <table class="cam-table">
        <thead>
          <tr>
            <th class="id">
              <span class="column-label">ID</span>
              <a ng-click="changeOrder('id')">
              <span class="glyphicon"
                    ng-class="orderClass('id')"></span>
              </a>
            </th>
            <th class="name">
              <span class="column-label">Name</span>
              <a ng-click="changeOrder('name')">
              <span class="glyphicon"
                    ng-class="orderClass('name')"></span>
              </a>
            </th>
            <th class="action">Action</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="tenant in tenantList">
            <td class="tenant-id">
              <a ng-href="#/tenants/{{ tenant.id | escape }}">{{ tenant.id }}</a>
            </td>

            <td class="tenant-name">
              {{ tenant.name }}
            </td>

            <td class="action">
              <a ng-href="#/tenants/{{ tenant.id | escape }}">Edit</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<!-- / CE - camunda-admin-ui/client/scripts/pages/tenant.html -->
