<!-- # CE - camunda-bpm-webapp/ui/admin/client/scripts/pages/userCreate.html -->
<section ng-cloak>
  <!-- <aside></aside> -->
  <div class="section-content">
    <form class="form-horizontal"
          name="createUserForm">
      <div class="col-xs-12">
        <div class="h3">User Account</div>

        <div class="form-group">
          <label class="control-label col-sm-4 col-md-2"
                 for="inputUserId">User ID*</label>

          <div class="col-sm-8 col-md-10">
            <input id="inputUserId"
                   name="userId"
                   class="form-control"
                   type="text"
                   ng-model="profile.id"
                   novalidate
                   required />

            <span class="help-inline"
                  ng-show="createUserForm.userId.$error.required">
              User ID is required.
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-4 col-md-2"
                 for="inputPassword">Password*:</label>

          <div class="col-sm-8 col-md-10">
            <input id="inputPassword"
                name="inputPassword"
                class="form-control"
                type="password"
                ng-model="credentials.password"
                required />

            <span class="help-inline"
                  ng-show="createUserForm.inputPassword.$error.password">
              Password must have at least 8 characters.
            </span>

            <span class="help-inline"
                  ng-show="createUserForm.inputPassword.$error.required">
              Password is required.
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-4 col-md-2"
                 for="inputPasswordRepeat">Password (repeat)*:</label>

          <div class="col-sm-8 col-md-10">
            <input id="inputPasswordRepeat"
                   name="inputPasswordRepeat"
                   class="form-control"
                   type="password"
                   ng-model="credentials.password2"
                   data-password-repeat="credentials.password" />

            <span class="help-inline"
                  ng-show="createUserForm.inputPasswordRepeat.$error.passwordRepeat">
              Passwords must match.
            </span>
          </div>
        </div>

        <div class="h3">User Profile</div>

        <div class="form-group">
          <label class="control-label col-sm-4 col-md-2"
                 for="inputFirstname">Firstname*</label>

          <div class="col-sm-8 col-md-10">
            <input id="inputFirstname"
                   name="firstname"
                   class="form-control"
                   type="text"
                   ng-model="profile.firstName"
                   novalidate
                   required />

            <span class="help-inline"
                  ng-show="createUserForm.firstname.$error.required">
              Firstname is required.
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-4 col-md-2"
                 for="inputLastname">Lastname*</label>

          <div class="col-sm-8 col-md-10">
            <input id="inputLastname"
                   class="form-control"
                   type="text"
                   ng-model="profile.lastName"
                   novalidate
                   required />

            <span class="help-inline"
                  ng-show="createUserForm.firstname.$error.required">
              Lastname is required.
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-4 col-md-2"
              for="inputEmail">Email</label>

          <div class="col-sm-8 col-md-10">
            <input id="inputEmail"
                   name="email"
                   class="form-control"
                   type="text"
                   ng-model="profile.email"
                   data-email />

            <span class="help-inline"
                  ng-show="createUserForm.email.$error.email">
              Not a valid email address.
            </span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-8 col-sm-offset-4 col-md-10 col-md-offset-2 text-right">
            <a class="btn btn-link"
               href="#/users">Cancel</a>

            <button type="submit"
                    class="btn btn-primary"
                    ng-disabled="!createUserForm.$valid"
                    ng-click="createUser()">Create new User</button>
          </div>
        </div>

      </div>
    </form>
  </div>
</section>
<!-- / CE - camunda-bpm-webapp/ui/admin/client/scripts/pages/userCreate.html -->
