<!-- # CE - camunda-bpm-webapp/ui/admin/client/scripts/pages/userEdit.html -->
<section>
  <aside>
    <ul>
      <li ng-class="activeClass('profile')">
        <a href="#/users/{{user.id | escape}}?tab=profile">Profile</a>
      </li>

      <li ng-class="activeClass('account')"
          ng-show="availableOperations.update">
        <a href="#/users/{{user.id | escape}}?tab=account">Account</a>
      </li>

      <li ng-class="activeClass('groups')">
        <a href="#/users/{{user.id | escape}}?tab=groups">Groups</a>
      </li>

      <li ng-class="activeClass('tenants')">
        <a href="#/users/{{user.id | escape}}?tab=tenants">Tenants</a>
      </li>
    </ul>
  </aside>

  <div class="section-content">
    <header class="row">
      <div class="col-xs-8">
        <h3>Edit user {{user.firstName}} {{user.lastName}}</h3>
      </div>
      <div class="col-xs-4 text-right">
        <a class="btn btn-default"
           ng-if="show('groups')"
           ng-click="openCreateGroupMembershipDialog()">
          Add to a group
          <span class="glyphicon glyphicon-plus-sign"></span>
        </a>

        <a class="btn btn-default"
           ng-if="show('tenants')"
           ng-click="openCreateTenantMembershipDialog()">
          Add to a tenant
          <span class="glyphicon glyphicon-plus-sign"></span>
        </a>
      </div>
    </header>

    <div ng-if="show('profile')">
      <p ng-if="!profile">
        <span class="glyphicon glyphicon-loading"></span>
        loading profile...
      </p>

      <form class="form-horizontal"
            name="editProfileForm"
            ng-if="profile">
        <div class="h4">Profile</div>

        <div class="form-group">
          <label class="control-label col-sm-4 col-md-2"
                 for="inputFirstname">Firstname*</label>

          <div class="col-sm-8 col-md-10">
            <input id="inputFirstname"
                   name="firstname"
                   class="form-control"
                   type="text"
                   ng-model="profile.firstName"
                   ng-disabled="!availableOperations.update"
                   novalidate
                   required/>

            <p class="help-block"
               ng-show="editProfileForm.firstname.$error.required">
              Firstname is required.
            </p>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-4 col-md-2"
                 for="inputLastname">Lastname*</label>

          <div class="col-sm-8 col-md-10">
            <input id="inputLastname"
                   type="text"
                   class="form-control"
                   ng-model="profile.lastName"
                   ng-disabled="!availableOperations.update"
                   novalidate
                   required />

            <p class="help-block"
               ng-show="editProfileForm.firstname.$error.required">
              Lastname is required.
            </p>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-4 col-md-2"
                 for="inputEmail">Email</label>

          <div class="col-sm-8 col-md-10">
            <input id="inputEmail"
                   name="email"
                   class="form-control"
                   type="text"
                   ng-model="profile.email"
                   ng-disabled="!availableOperations.update"
                   data-email />

            <p class="help-block"
               ng-show="editProfileForm.email.$error.email">
              Not a valid email address.
            </p>
          </div>
        </div>

        <div class="form-group"
             ng-show="availableOperations.update">
          <div class="col-sm-8 col-sm-offset-4 col-md-10 col-md-offset-2 text-right">
            <button type="submit"
                    class="btn btn-primary"
                    ng-disabled="!canSubmit(editProfileForm, 'profile')"
                    ng-click="updateProfile()">
              Update Profile
            </button>
          </div>
        </div>
      </form>
    </div>

    <div ng-if="show('account')">
      <form class="form-horizontal"
            ng-if="availableOperations.update"
            name="updateCredentialsForm">

        <div class="h4">Change Password</div>

        <p>Type a new password to change the existing account password.</p>

        <div class="form-group">
          <label class="control-label col-sm-4 col-md-2"
                 for="inputAuthenticationUserPassword"
                 ng-if="userId === authenticatedUser">
            Old Password*:
          </label>

          <label class="control-label col-sm-4 col-md-2"
                 for="inputAuthenticationUserPassword"
                 ng-if="userId !== authenticatedUser">
            My Password*:
          </label>

          <div class="col-sm-8 col-md-10">
            <input id="inputAuthenticationUserPassword"
                   name="inputAuthenticationUserPassword"
                   class="form-control"
                   type="password"
                   ng-model="credentials.authenticatedUserPassword"
                   required />
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-4 col-md-2"
                 for="inputPassword">New Password*:</label>

          <div class="col-sm-8 col-md-10">
            <input id="inputPassword"
                   name="inputPassword"
                   class="form-control"
                   type="password"
                   ng-model="credentials.password"
                   required />

            <p class="text-danger"
               ng-show="updateCredentialsForm.inputPassword.$error.password">
              Password must have at least 8 characters.
            </p>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-4 col-md-2"
              for="inputPasswordRepeat">New Password (repeat)*:</label>

          <div class="col-sm-8 col-md-10">
            <input id="inputPasswordRepeat"
                   name="inputPasswordRepeat"
                   class="form-control"
                   type="password"
                   ng-model="credentials.password2"
                   data-password-repeat="credentials.password" />

            <p class="text-danger"
               ng-show="updateCredentialsForm.inputPasswordRepeat.$error.passwordRepeat">
              Passwords must match.
            </p>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-8 col-sm-offset-4 col-md-10 col-md-offset-2 text-right">
            <button type="submit"
                    class="btn btn-primary"
                    ng-disabled="!canSubmit(updateCredentialsForm)"
                    ng-click="updateCredentials()">Change Password</button>
          </div>
        </div>
      </form>


      <form class="form-horizontal"
            ng-if="availableOperations.delete">

        <div class="h4">Delete User</div>

        <div class="alert alert-danger">
          <strong>Warning:</strong> deleting a user account cannot be undone.
        </div>

        <div class="text-right">
          <button type="submit"
                  class="btn btn-danger"
                  ng-click="deleteUser()">
            Delete User
          </button>
        </div>
      </form>
    </div>

    <div ng-if="show('groups')">
      <form class="form-horizontal"
            name="updateGroupMemberships">

        <div class="h4">
          {{user.firstName}} {{user.lastName}}&#39;s Groups
        </div>

        <div cam-widget-loader
             loading-state="{{ groupLoadingState }}"
             text-empty="User {{user.firstName}} {{user.lastName}} is currently not member of any groups.">
          <table class="cam-table"
                 ng-hide="groupList.length == 0">
            <thead>
              <tr>
                <th class="group-id">Group ID</th>
                <th class="group-name">Group Name</th>
                <th class="group-type">Group Type</th>
                <th class="action"
                    ng-show="availableOperations.removeGroup">
                  Action
                </th>
              </tr>
            </thead>

            <tbody>
              <tr ng-repeat="group in groupList">
                <td class="group-id">
                  <a href="#/groups/{{group.id | escape}}?tab=group">{{group.id}}</a>
                </td>

                <td class="group-name">
                  {{group.name}}
                </td>

                <td class="group-type">
                  {{group.type}}
                </td>

                <td class="action"
                    ng-show="availableOperations.removeGroup">
                  <a ng-click="removeGroup(group.id)">Remove</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </form>
    </div>

    <div ng-if="show('tenants')">
      <form class="form-horizontal"
            name="updateTenantMemberships">

        <div class="h4">
          {{user.firstName}} {{user.lastName}}&#39;s Tenants
        </div>

        <div cam-widget-loader
             loading-state="{{ tenantLoadingState }}"
             text-empty="User {{user.firstName}} {{user.lastName}} is currently not member of any tenants.">
          <table class="cam-table"
                 ng-hide="tenantList.length == 0">
            <thead>
            <tr>
              <th class="tenant-id">Tenant ID</th>
              <th class="tenant-name">Tenant Name</th>
              <th class="action"
                  ng-show="availableOperations.removeTenant">
                Action
              </th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="tenant in tenantList">
              <td class="tenant-id">
                <a href="#/tenants/{{ tenant.id | escape }}?tab=tenant">{{ tenant.id }}</a>
              </td>

              <td class="tenant-name">
                {{ tenant.name }}
              </td>

              <td class="action"
                  ng-show="availableOperations.removeTenant">
                <a ng-click="removeTenant(tenant.id)">Remove</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

      </form>
    </div>
  </div>
</section>
<!-- / CE - camunda-bpm-webapp/ui/admin/client/scripts/pages/userEdit.html -->
