<!-- # CE - camunda-bpm-webapp/ui/admin/client/scripts/pages/users.html -->
<section ng-cloak>
  <!-- <aside></aside> -->
  <div class="section-content">
    <header class="row">
      <div class="col-xs-8">
        <h3>List of users</h3>
      </div>
      <div class="col-xs-4 text-right">
        <a class="btn btn-default"
           ng-show="availableOperations.create"
           href="#/user-create">
          Add user
          <span class="glyphicon glyphicon-plus-sign"></span>
        </a>
      </div>
    </header>

    <div cam-searchable-area
         config="searchConfig"
         on-search-change="onSearchChange(query, pages)"
         loading-state="loadingState"
         text-empty="No users were found."
         storage-group="'ANU'">
      <table class="cam-table">
        <thead>
          <tr>
            <th class="username">
              <span class="column-label">ID</span>
              <a ng-click="changeOrder('userId')">
              <span class="glyphicon"
                    ng-class="orderClass('userId')"></span>
              </a>
            </th>
            <th class="firstname">
              <span class="column-label">Firstname</span>
              <a ng-click="changeOrder('firstName')">
              <span class="glyphicon"
                    ng-class="orderClass('firstName')"></span>
              </a>
            </th>
            <th class="lastname">
              <span class="column-label">Lastname</span>
              <a ng-click="changeOrder('lastName')">
              <span class="glyphicon"
                    ng-class="orderClass('lastName')"></span>
              </a>
            </th>
            <th class="email">
              <span class="column-label">Email</span>
              <a ng-click="changeOrder('email')">
              <span class="glyphicon"
                    ng-class="orderClass('email')"></span>
              </a>
            </th>
            <th class="action">Action</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="user in userList">
            <td class="username">
              <a href="#/users/{{user.id | escape}}">{{user.id}}</a>
            </td>

            <td class="firstname">
              {{user.firstName}}
            </td>

            <td class="lastname">
              {{user.lastName}}
            </td>

            <td class="email">
              {{user.email}}
            </td>

            <td class="action">
              <a ng-href="#/users/{{user.id | escape}}">Edit</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<!-- / CE - camunda-bpm-webapp/ui/admin/client/scripts/pages/users.html -->
