<module xmlns="urn:jboss:module:1.0" name="org.graalvm.truffle.truffle-api">
  <resources>
    <resource-root path="truffle-api-@version.graal.js@.jar" />
  </resources>

  <dependencies>
    <module name="java.base" />
    <module name="java.management" />
    <module name="java.sql" />
    <module name="jdk.unsupported" />
    <module name="sun.jdk" />
    <module name="org.graalvm.sdk.graal-sdk" services="export" export="true" />
  </dependencies>
</module>
