@import "shared-styles/colors.scss";

.Pagination {
  .LinkButton {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    text-decoration: none;
    background-color: #fff;

    &:hover {
      background-color: $background-color;
      border-color: $border-color;
    }
  }

  .active {
    .LinkButton {
      background-color: $background-color;
      color: $text-color;
    }
  }

  .disabled {
    .LinkButton {
      color: lighten($text-color, 1);
      cursor: not-allowed;
      background-color: #fff;
      border-color: $border-color;;
    }
  }
}