<div ng-show="!state.$loaded && !state.$error"
     class="loader">
  <span class="animate-spin glyphicon glyphicon-refresh"></span>
  {{ 'LOADING' | translate }}
</div>

<div ng-show="state.$error" class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign"></span>
  <strong class="status">{{ 'FAILURE' | translate }}:</strong>
  <span class="message">{{ 'TASK_LIST_LOADING_FAILURE' | translate }}</span>
</div>

<div ng-show="state.$loaded && !state.$error">

  <div ng-hide="totalItems"
       class="well">
    <span class="glyphicon glyphicon-info-sign"></span>
    {{ 'NO_MATCHING_TASK' | translate }}
  </div>

  <div ng-show="totalItems && !tasks" class="well">
    <span class="glyphicon glyphicon-info-sign"></span>
    {{ 'RESTRICTION_NOTICE' | translate }}
    <a ng-click="resetPage()">{{ 'RESET_PAGE' | translate }}</a>
  </div>

  <div ng-show="totalItems"
       tabindex="0"
       ng-keydown="handleKeydown($event)">
    <ol class="tasks-list list-unstyled">
      <li class="task"
          ng-repeat="(delta, task) in tasks"
          ng-class="{active: currentTaskId === task.id}">

        <div class="priority"
             tooltip-placement="right"
             tooltip="{{ 'PRIORITY' | translate }}">
          {{ task.priority }}
        </div>

        <div class="clickable"
             ng-click="focus($event, task)">
          <div class="names">
            <h4 class="task">
              <a ng-href="{{ getHrefUrl(task) }}"
                 ng-click="focus($event, task)">
                {{ task.name || task.taskDefinitionKey || task.id }}
              </a>
            </h4>

            <h6 class="process-definition"
                ng-if="task.processDefinitionId">
              {{ task._embedded.processDefinition[0].name || task._embedded.processDefinition[0].key }}
            </h6>

            <h6 class="case-definition"
                ng-if="task.caseDefinitionId">
              {{ task._embedded.caseDefinition[0].name || task._embedded.caseDefinition[0].key }}
            </h6>
          </div>


          <div class="row"
               ng-click="focus($event, task)">
            <ul class="col-sm-12 col-md-6 dates list-inline">
              <li class="creation-date">
                <span tooltip-placement="top"
                      tooltip="{{ 'CREATION_DATE' | translate }}"
                      class="glyphicon glyphicon-bookmark"></span>
                <span tooltip-placement="top"
                      tooltip="{{ task.created | camDate:'long' }}"
                      am-time-ago="task.created">{{ task.created }}</span>
              </li>

              <li class="followup-date"
                  ng-if="!!task.followUp"
                  ng-class="{overdue: task.followUp && (task.followUp < now) }">
                <span tooltip-placement="top"
                      tooltip="{{ 'FOLLOW_UP_DATE' | translate }}"
                      class="glyphicon glyphicon-calendar"></span>
                <span tooltip-placement="top"
                      tooltip="{{ task.followUp | camDate:'long' }}"
                      am-time-ago="task.followUp">{{ task.followUp }}</span>
              </li>

              <li class="due-date"
                  ng-if="!!task.due"
                  ng-class="{overdue: task.due && (task.due < now) }">
                <span tooltip-placement="top"
                      tooltip="{{ 'DUE_DATE' | translate }}"
                      class="glyphicon glyphicon-bell"></span>
                <span tooltip-placement="top"
                      tooltip="{{ task.due | camDate:'long' }}"
                      am-time-ago="task.due">{{ task.due }}</span>
              </li>
            </ul>

            <ul class="col-sm-12 col-md-6 actors list-inline"
                ng-if="!!task.assignee">
              <li class="assignee">
                <span tooltip-placement="top"
                      tooltip="{{ 'ASSIGNEE' | translate }}"
                      class="glyphicon glyphicon-user"></span>
                <span ng-if="assignees[task.assignee] && ( assignees[task.assignee].firstName || assignees[task.assignee].lastName )"
                      tooltip-placement="top"
                      tooltip="{{ assignees[task.assignee].firstName }} {{ assignees[task.assignee].lastName }} ({{ task.assignee }})">
                  {{ assignees[task.assignee].firstName }} {{ assignees[task.assignee].lastName }}
                </span>
                <span ng-if="!(assignees[task.assignee] && ( assignees[task.assignee].firstName || assignees[task.assignee].lastName ))"
                      tooltip-placement="top"
                      tooltip="{{ task.assignee }}">
                  {{ task.assignee }}
                </span>
              </li>
            </ul>
          </div>

          <div cam-tasklist-variables
               filter-properties="filterProperties"
               variables="task._embedded.variable"
               class="row variables"></div>
       </div>
      </li>
    </ol>
  </div>
</div>

<pagination ng-show="state.$loaded && totalItems > pageSize"
            total-items="totalItems"
            items-per-page="pageSize"
            max-size="5"
            class="pagination-sm"
            boundary-links="true"
            ng-model="pageNum"
            ng-change="pageChange()"
            next-text="&rsaquo;"
            last-text="&raquo;"
            previous-text="&lsaquo;"
            first-text="&laquo;"></pagination>
