section.tasks-list {
  [cam-sorting-choices] {
    > ol,
    > div {
      display: inline-block;
    }
  }

  .sorting-label {
    float: left;
    vertical-align: middle;
    padding: 1px 0;
    line-height: 22px;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;

    max-width: 0;
    margin-right: 0;
    .transition(max-width 0.218s ease);
    .transition(margin-right 0.218s ease);
  }

  ol.sorting-choice {
    max-width: 100%;
    width: 100%;
    margin: 0;
    float: left;

    &[data-total="1"] li.sorting-choice:first-of-type {
      padding-left: 0;
    }
  }

  li.sorting-choice {
    max-width: 200px;
    white-space: nowrap;
    display: block;
    float: left;

    padding: 0 1.5em;

    > .glyphicon-remove-sign,
    > .sort-direction {
      position: absolute;
      top: 50%;
      margin-top: -.5em
    }

    > .glyphicon-remove-sign {
      left: 5px;
    }

    > .sort-direction {
      right: 5px;
    }


    > .dropdown-toggle > span {
      width: 100%;
      display: inline-block;
      vertical-align: middle;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  li.new-sort {
    float: left;
  }

  .new-sort {
    .hidden-xs {
      display: none;
    }
  }

  .dropdown-menu > li > .variable-inputs {
    margin: (@grid-gutter-width / 2) 0;
    padding: 0 9px;
    .actions {
      text-align: right;
      margin-bottom: 0;
    }
  }
}


section.column {
  > .cell {
    &.top {
      .transition(height 0.218s ease);
    }
    &.content {
      .transition(top 0.218s ease);
    }
  }
}


.list-column-close section.tasks-list [cam-sorting-choices] {
  display: none;
}
