@hover-color-bg: mix(@column-center-bg, @column-right-bg, 50%);

[cam-tasks] {
  // NOTE: the .shutter is defined in the variables
  ol.tasks-list {
    > li {
      margin: 0;
      border-top: 1px @line-style @line-color;
      padding: (@grid-gutter-width / 2) 0;

      min-height: 90px;
      position: relative;

      &:after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: (0 - (@grid-gutter-width / 5));
        right: (0 - (@grid-gutter-width / 2));
        content: ' ';
        z-index: 1;
      }


      &:hover {
        &:after {
          background-color: @hover-color-bg;
        }

        .shutter {
          .gradient(top, fade(@hover-color-bg, 0), @hover-color-bg);
        }

        .names > h4 a {
          display: inline-block;
        }
      }


      &.active {
        position: relative;
        background-color: @column-right-bg;
        overflow: visible;

        &:after {
          background-color: @column-right-bg;
        }

        .names {
          font-style: italic;
        }

        .shutter {
          .gradient(top, fade(@column-right-bg, 0), @column-right-bg);
        }
      }

      > div {
        position: relative;
        z-index: 4;
      }

      .clickable {
        cursor: pointer;
        margin: (0 - (@grid-gutter-width / 2)) 0;
        padding: (@grid-gutter-width / 2) 0;
        &:focus {
          outline: none;
        }
      }

      .names > h4 {
        line-height: 20px;
        margin-top: 0;
        outline: none;
      }
    }

    &:focus {
      outline: none;
    }

    .list-inline > li.overdue {
      color: @alert-warning-text;
      background-color: @alert-warning-bg;
      border: 1px solid @alert-warning-border;

      border-radius: 3px;
    }

    .priority {
      position: absolute;
      z-index: 5;
      top: 3px;
      right: 0;
      border-radius: 50%;
      text-align: center;
      color: @gray-light;
      font-weight: bolder;
    }

    .actors {
      > li {
        .truncate(100%);
      }
    }

    .no-match {
      text-align: center;
      margin: 20px auto;
    }
  }

  div:focus,
  &:focus {
    outline: none;
  }

  ol.tasks-list {
    li.assignee {
      // the assignee is the only "item" in the list, use the whole width then
      width: 100%;
    }
  }
}


@media (min-width: @screen-md-min) {
  ol.tasks-list {
    .list-inline {
      &.actors {
        margin-left: 5px;
      }
    }

    li.assignee {
      text-align: right;
      padding-right: 0;
    }
  }
}
