<!-- # CE - camunda-bpm-webapp/ui/common/scripts/directives/breadcrumbs.html -->
<ul class="cam-breadcrumb">
  <li ng-class="{ active: !breadcrumbs || !breadcrumbs.length }">
    <a href="#/"
       class="text">Dashboard</a>
  </li>

  <li ng-repeat="(index, crumb) in breadcrumbs"
      ng-class="{ active: !!$last }"
      data-index="{{ index }}">
    <span class="divider">{{ crumb.divider || divider }}</span>

    <a ng-if="!!crumb.href && !$last"
       href="{{ getHref(crumb) }}"
       class="text">{{ crumb.label }}</a>

    <span ng-if="!!crumb.href && !!$last"
          class="text">{{ crumb.label }}</span>

    <a ng-if="!crumb.href && !!crumb.callback"
       ng-click="crumb.callback(index, breadcrumbs)"
       href
       class="text">{{ crumb.label }}</a>

    <span ng-if="!crumb.href && !crumb.callback"
          class="text">{{ crumb.label }}</span>

    <span ng-if="(crumb.type === 'processDefinition' && crumb.processDefinition.suspended) || (crumb.type === 'processInstance' && crumb.processInstance.suspended)"
          class="badge badge-warning badge-suspended"
          tooltip="Currently suspended"
          tooltip-placement="bottom">
      <span class="glyphicon glyphicon-pause white"></span>
    </span>

    <span ng-if="!!crumb.choices && crumb.choices.length === 1">
      <span class="divider">:</span>
      {{ getActiveChoice(crumb.choices) }}
    </span>

    <span ng-if="!!crumb.choices && crumb.choices.length === 2"
          class="switcher"
          ng-init="choices = sortedChoices(crumb.choices)">
      <span class="divider">:</span>

      <span class="current">{{ choices[0].label }}</span>
      <span class="divider">|</span>
      <a href ng-click="selectChoice($event, choices[1])">{{ choices[1].label }}</a>
    </span>

    <span ng-if="!!crumb.choices && crumb.choices.length > 2"
          class="dropdown">
      <span class="divider">:</span>

      <a class="dropdown-toggle"
         href>
        {{ getActiveChoice(crumb.choices) }}
        <span class="caret"></span>
      </a>

      <ul class="dropdown-menu dropdown-menu-right">
        <li ng-repeat="choice in crumb.choices"
            ng-class="{active: choice.active}">
          <a href ng-click="selectChoice($event, choice)">{{ choice.label }}</a>
        </li>
      </ul>
    </span>
  </li>
</ul>
<!-- / CE - camunda-bpm-webapp/ui/common/scripts/directives/breadcrumbs.html -->
