
.task-filters {
  .task-filter:first-child {
    margin-top: 0;
  }
}

.task-filter-wrapper {
  position: relative;
}

.task-filter-hint {
  margin: 0 (@grid-gutter-width / 2) (@grid-gutter-width / 2) (@grid-gutter-width / 2);
}

.task-filter {
  margin: (@grid-gutter-width / 2) 0;
  padding: 12px 0;

  text-align: right;
  background-color: @gray-lighter;
  position: relative;
  z-index: 1;

  h4 {
    cursor: pointer;
    color: @gray-darker;
    padding-left: (@grid-gutter-width / 2);
    padding-right: (@grid-gutter-width / 2);
    margin-bottom: 7px;
    word-wrap: break-word;
  }

  .counter,
  .edit-filter {
    display: inline-block;
    position: absolute;
    padding: 0 4px;
    font-size: 90%;
  }

  .counter {
    top: 2px;
    right: 2px;
  }

  .edit-filter {
    display: none;
    left: 2px;
    bottom: 2px;
  }
  &:hover .edit-filter {
    z-index: 10;
    display: inline-block;
  }
}

.active > .task-filter:after {
  border-bottom: (@grid-gutter-width / 3) solid transparent;
  border-right: (@grid-gutter-width / 3) solid @column-center-bg;
  border-top: (@grid-gutter-width / 3) solid transparent;
  content: ' ';
  display: block;
  height: 0px;
  margin-top: -(@grid-gutter-width / 3);
  position: absolute;
  right: 0 - (@grid-gutter-width / 2);
  top: 50%;
  width: 0px;
}


@hover-color-bg: mix(@column-center-bg, @column-right-bg, 50%);

// NOTE: the .shutter is defined in the variables
.tasks-list {
  > li {
    margin: 0;
    border-top: 1px @line-style @line-color;
    padding: (@grid-gutter-width / 2) 0;

    min-height: 90px;
    position: relative;

    &:after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: (0 - (@grid-gutter-width / 5));
      right: (0 - (@grid-gutter-width / 2));
      content: ' ';
      z-index: 1;
    }


    &:hover {
      &:after {
        background-color: @hover-color-bg;
      }

      .shutter {
        .gradient(top, fade(@hover-color-bg, 0), @hover-color-bg);
      }

      .names > h4 a {
        display: inline-block;
      }
    }


    &.active {
      position: relative;
      background-color: @column-right-bg;
      overflow: visible;

      &:after {
        background-color: @column-right-bg;
      }

      .names {
        font-style: italic;
      }

      .shutter {
        .gradient(top, fade(@column-right-bg, 0), @column-right-bg);
      }
    }

    > div {
      position: relative;
      z-index: 4;
    }

    .clickable {
      cursor: pointer;
      margin: (0 - (@grid-gutter-width / 2)) 0;
      padding: (@grid-gutter-width / 2) 0;
    }

    .names > h4 {
      line-height: 20px;
      margin-top: 0;
      outline: none;
    }
  }

  .priority {
    position: absolute;
    z-index: 5;
    top: 3px;
    right: 0;
    border-radius: 50%;
    text-align: center;
    color: @gray-light;
    font-weight: bolder;
  }

  .actors {
    > li {
      .truncate(100%);
    }
  }
}

.no-match {
  text-align: center;
  margin: 20px auto;
}


.filter-edit-modal {
  .panel-title {
    .glyphicon {
      font-size: @font-size-base;
      color: @brand-danger;
    }
  }
}
