@import "../node_modules/swagger-ui/dist/swagger-ui.css";

body {
    margin:0;
    background: #fafafa;
}
/*
Todo figure out best way to set this to reduce huge font
.swagger-ui input {
    font-size: unset;
}*/
