<div class="modal-header">
  <h3 class="modal-title">
    {{ 'MANAGE_GROUPS' | translate }}
  </h3>
</div>

<div class="modal-body">

  <div notifications-panel></div>

  <div ng-show="!modalGroupsState.$loaded && !modalGroupsState.$error"
       class="loader">
    <i class="animate-spin glyphicon glyphicon-refresh"></i>
    {{ 'LOADING' | translate }}
  </div>

  <div ng-hide="!modalGroupsState.$loaded || modalGroupsState.$error">

      <div class="text-help">
        <i class="glyphicon glyphicon-info-sign"></i>
        {{ 'USE_ADD_GROUP' | translate }}
      </div>

      <form name="taskGroupForm"
            class="form-horizontal"
            ng-submit="addGroup()">

        <div class="new-group" ng-class="{'has-error': newGroup.error }">

          <div class="form-group">

            <div class="col-xs-12">
              <div class="input-group">

                <input id="new-group-input"
                       type="text"
                       class="form-control group-input"
                       ng-model="newGroup.groupId"
                       ng-change="validateNewGroup()"
                       name="newGroup"
                       placeholder="{{ 'GROUP_ADD' | translate }}"
                       required>

                <span class="input-group-btn">
                  <button ng-click="addGroup()"
                          class="btn btn-default"
                          type="button"
                          ng-disabled="!isValid()">
                    <i class="glyphicon glyphicon-plus-sign"></i>
                  </button>
                </span>


              </div>

              <span ng-if="newGroup.error"
                   class="help-block">
                {{ newGroup.error.message | translate }}
              </span>

            </div>

          </div>
        </div>

        <div ng-if="_groups.length"
             class="current-groups">

          <div class="row labels"
               ng-if="_groups.length">
            <label class="col-xs-2 align-right">
              {{ 'ACTION' | translate }}
            </label>
            <label class="col-xs-10">
              {{ 'GROUP' | translate }}
            </label>
          </div>

          <div class="form-group values"
               ng-repeat="group in _groups">
            <div class="col-xs-2 align-right row-action">
              <a href
                 ng-click="removeGroup(group)"
                 class="glyphicon glyphicon-minus-sign"></a>
            </div>
            <div class="col-xs-10">
              <input id="group"
                     type="text"
                     class="form-control group-input"
                     ng-model="group.groupId"
                     readonly>
            </div>
          </div>
        </div>

      </form>

  </div>

</div>

<div class="modal-footer">
  <div class="row row-action">
    <div class="col-xs-12">
      <button class="btn btn-xs btn-link"
              type="button"
              ng-click="close()"
              translate="CLOSE">Close</button>
    </div>
  </div>
</div>