<span class="view-value"
      ng-if="!editing"
      ng-click="startEditing()"
      ng-transclude>
</span>

<span class="edit"
      ng-if="editing">

  <span ng-if="varType === 'datetime' || varType === 'date' || varType === 'time'"
        class="preview">
    {{ dateValue | camDate }}
  </span>

  <span class="field">
    <input ng-if="simpleField"
           class="form-control"
           type="{{ varType }}"
           ng-model="editValue"
           ng-keyup="($event.keyCode == 13 && applyChange()) || ($event.keyCode == 27 && cancelChange())"
           placeholder="{{ placeholder }}" />

    <span ng-show="varType === 'datetime' || varType === 'date' || varType === 'time'"
          class="cam-widget-inline-field field-control">

      <datepicker class="datepicker"
                  ng-if="varType === 'datetime' || varType === 'date'"
                  type="text"
                  ng-required="true"
                  is-open="datePickerOptions.isOpen"
                  show-button-bar="false"

                  ng-model="dateValue"
                  ng-change="changeDate(this)" />


      <timepicker class="timepicker"
                  ng-if="varType === 'datetime' || varType === 'time'"
                  show-meridian="false"

                  ng-model="dateValue"
                  ng-change="changeDate(this)" />

    </span>

    <div ng-if="varType === 'option'"
         class="cam-widget-inline-field">
      <span class="option-value">{{varValue | translate }}</span>
      <ul class="dropdown-menu"
          role="menu">
        <li ng-repeat="option in options">
          <a ng-click="applyChange(option)">
            {{option | translate }}
          </a>
        </li>
      </ul>
    </div>
  </span>

  <span ng-show="varType !== 'option'"
        class="cam-widget-inline-field btn-group">
    <button type="button"
            class="btn btn-xs btn-default"
            ng-click="changeType()"
            ng-if="flexible">
      <span ng-show="varType === 'text'" class="glyphicon glyphicon-calendar"></span>
      <span ng-show="varType === 'datetime'" class="glyphicon glyphicon-pencil"></span>
    </button>

    <button type="button"
            class="btn btn-xs btn-default"
            ng-click="applyChange()">
      <span class="glyphicon glyphicon-ok"></span>
    </button>

    <button type="button"
            class="btn btn-xs btn-default"
            ng-click="cancelChange()">
      <span class="glyphicon glyphicon-remove"></span>
    </button>
  </span>
</span>
