@progress-indicator-height: 75px;

.migration-page {
  position: absolute;
  top: @breadcrumb-height;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;

  section {
    position: absolute;
    width: 100%;
    top: @progress-indicator-height;
    bottom: 0;

    margin-left: -(@grid-gutter-width * 0.5);
    margin-right: -(@grid-gutter-width * 0.5);
    padding-left: (@grid-gutter-width * 0.5);
    padding-right: (@grid-gutter-width * 0.5);

    overflow: hidden;
  }

  header,
  footer {
    overflow: hidden;
  }

  footer {
    padding-top: (@grid-gutter-width * 0.5);
    padding-bottom: (@grid-gutter-width * 0.5);
    line-height: 36px;

    position: absolute;
    bottom: 0;
    width: 100%;
    .text-help {
      margin: 0;
    }
  }

  .section-content {
    border: 1px solid @custom-gray-light;
    border-width: 1px 0;
  }

  .page-mapping,
  .page-instances,
  .page-confirm,
  .page-progress {
    display: none;
  }

  &.page-mapping-active .page-mapping,
  &.page-instances-active .page-instances,
  &.page-confirm-active .page-confirm,
  &.page-progress-active .page-progress {
    display: block;
  }

  [cam-widget-bpmn-viewer] {
    position: absolute;
    top: 64px;
    bottom: 0;
    width: 100%;
    border: none;
  }

  .badge-migration {
    border: 1px solid @btn-success-border;
    color: @btn-success-color;
    background-color: @btn-success-bg;
  }

  .badge-migration-instances {
    font-size: 12px;
    border-width: 1px;
    border-style: solid;
    background-color: #70b8db;
    border-color: #143d52;
    color: #143d52;
  }

  .section-content {
    position: absolute;
    height: ~"calc(100% - 64px)";
    width: 100%;
    top: 0;
    overflow: auto;
  }

  .source-column,
  .target-column {
    position: absolute;
    width: 50%;
    height: 100%;//~"calc(100% - 64px)";
    bottom: 0;
  }

  .source-column {
    border-right: 1px solid @custom-gray-light;
    left: 0;
  }
  .target-column {
    right: 0;
  }

  .instance-number code {
    font-weight: 700;
  }

  .activity-mapping {
    margin-top: @grid-gutter-width * 0.5;
  }

  .source-process,
  .target-process {
    margin-bottom: @grid-gutter-width * 0.5;
  }

  .process-definition-id {
    font-family: @font-family-monospace;
    font-weight: bold;
  }

  .mapping-create-overlay {
    background-color: rgba(0,0,0,0.75);
    position: absolute;
    top: 75px;
    bottom: 0;
    left: 15px;
    right: 15px;
    text-align: center;
    padding-top: 60px;
    font-size: 50px;
    color: white;

    .info {
      font-size: 20px;
    }

    .arrow {
      position: absolute;
      top: 45%;
      right: 20px;
    }
  }

  .migration-unmapped {
    background-color: @btn-warning-bg;
    border: 1px solid @btn-warning-border;
    color: @btn-warning-color;
  }

  .form-inline {
    padding: (@grid-gutter-width * 0.5);
    .form-control {
      width: 100%;
    }
  }

  .link-diagrams {
    position: absolute;
    height: 30px;
    width: 30px;
    text-align: center;
    margin-top: -15px;
    margin-right: -15px;
    top: 50%;
    right: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 99;
    .active {
      color: @brand-info;
    }
  }

  .page-instances,
  .page-confirm,
  .page-progress {
    > .section-content {
      padding-top: @grid-gutter-width * 0.5;
      padding-bottom: @grid-gutter-width * 0.5;
    }
  }

  .process-instances {
    margin: (@grid-gutter-width * 0.5) 0;
  }


  .popover {
    display: none;
    width: 260px;
    margin-left: 35px;
    margin-top: -60px;
    .popover-content {
      overflow: auto;
      height: 105px;
    }
    b {
      min-width: 4em;
      display: inline-block;
    }
    .from,
    .to {
      margin-bottom: @padding-base-vertical;
    }
  }
}


.page-flow-nav {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: @progress-indicator-height;
  padding: (@grid-gutter-width * 0.5) 0;
  background-color: @body-bg;

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    top: (@progress-indicator-height * 0.5);
    left: 12.5%;
    margin-top: -1px;
  }

  &:before {
    z-index: 2;
    background-color: @brand-primary;
    transition: width 0.218s linear;
  }
  &:after {
    z-index: 1;
    right: 12.5%;
    background-color: @gray-lighter;
  }


  .page-mapping-active & {
    &:before {
      width: 0%;
    }
  }
  .page-instances-active & {
    &:before {
      width: 25%;
    }
  }
  .page-confirm-active & {
    &:before {
      width: 50%;
    }
  }
  .page-progress-active & {
    &:before {
      width: 75%;
    }
  }

  ul {
    width: 100%;
    padding: 0;
    margin: 0;
    display: table;
    table-layout: fixed;
  }

  a {
    font-size: 16px;
    line-height: @grid-gutter-width;
    height: @grid-gutter-width;
    padding: 0 @padding-base-horizontal;
    display: inline-block;
    min-width: 33%;
    background-color: @body-bg;
  }

  li {
    position: relative;
    z-index: 2;
    display: table-cell;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;

    height: @progress-indicator-height - @grid-gutter-width;
    vertical-align: middle;

    &.active a,
    &.disabled a {
      cursor: default;
      color: @text-color;
    }

    &.active a {
      color: @gray-base;
    }
  }
}
