
.task-card {
  header {
    position: relative;
    z-index: 15;
  }

  .nav-tabs .glyphicon {
    margin-left: 5px;
  }
}


.modal {
  &.task-form-fullscreen {
    .modal-dialog,
    .modal-content {
      position: absolute;
      width: auto;
      height: auto;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: 0;
      border: 0;
    }
    .modal-content {
      background: @modal-footer-bg;
    }
    .form-container {
      background: @modal-content-bg;
    }
  }
}

.diagram-loader {
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  z-index: 5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  > div {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 30px;
    top: 50%;
    margin-top: -15px;
  }
}

.diagram-holder {
  position: relative;
  z-index: 3;
  height: 100%;

  .bjs-container > a {
    display: none;
  }

  .highlight {
    .djs-outline {
      stroke: saturate(darken(@alert-success-border, 30%), 30%) !important;
      stroke-width: 2px !important;
      fill: @alert-success-bg !important;
    }

    .djs-visual {
      >:nth-child(1) {
        fill: @alert-success-bg !important;
      }
    }
  }
}

.day.row {
  margin-top: (@grid-gutter-width / 1);
  border-top: 1px @line-style @line-color;
  padding-top: (@grid-gutter-width / 1);

  margin-bottom: (@grid-gutter-width / 1);
  &:first-child {
    margin-top: 0;
    border-top: none;
    padding-top: 0;
  }
}

.instant .event {
  margin-bottom: (@grid-gutter-width);
}



.instant {
  overflow: hidden;

  &.row {
    margin-bottom: 0;
  }

  h4 {
    margin-top: 0;
  }

  h5 {
    margin-top: 2px;
    margin-bottom: 0;
  }

  > div {
    padding-top: (@grid-gutter-width / 2);
    &:before {
      display: block;
      content: ' ';
      width: 100%;
      height: 1px;
      margin-top: -1px;
      border-top: 1px @line-style-alt @line-color-alt;
      margin-bottom: (@grid-gutter-width / 2);
    }
  }

  &:first-child {
    > div {
      padding-top: 0;
      &:before {
        display: none;
      }
    }
  }

  .operation-meta {
    text-align: center;
  }

  .operation-time {
    margin-bottom: 9px;
  }
}

.date-badge {
  max-width: 75px;
  margin: auto;

  > div {
    border-radius: 50%;
    width: 100%;
    height: 0;
    padding-bottom: 100%;

    overflow: hidden;
    background-color: @gray-lighter;
  }

  span {
    display: block;
    width: 100%;
    text-align: center;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .day {
    font-size: 16px;
    margin-top: 5px;
  }
}

.time-badge {
  text-align: center;
}

.event {
  .operation {
    margin-bottom: (@grid-gutter-width / 2);
    overflow: hidden;
  }

  .label,
  .value {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .label {
    font-style: italic;
  }
}

.event-body {
  > .line {
    overflow: hidden;
    margin-top: (@grid-gutter-width / 2);
    &:first-child {
      margin-top: 0;
    }
  }
}

.original-value,
.new-value {
  .truncate(100%);
}

.original-value {
  text-decoration: line-through;
  color: @gray-light;
  margin-bottom: 7px;
}

.event-property {
  font-weight: bold;
  padding-right: (@grid-gutter-width / 2);
}



[cam-tasklist-task-meta] {
  position: relative;
  z-index: 10;

  .assignee {
    [cam-widget-inline-field] {
      .view-value {
        max-width: 120px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        vertical-align: bottom;

        .ng-binding {
          max-width: 100%;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }
  }

  .glyphicon-remove {
    top: 3px;
  }
}

.task-card,
.modal-header {
  .names {
    h2 {
      margin-top: 0;
    }
    h4:empty {
      display: none;
    }
  }
}

#comment-form-message {
  height: 150px;
}

.groups-modal {
  .align-right {
    .btn-link {
      padding-right: 0;
      padding-left: 0;
      margin-right: 0;
      margin-left: 0;
    }
  }
  .value {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 7px;
    .truncate(100%);
  }
}


.task-card .meta {
  float: none;
  display: block;
  width: auto;
  max-width: 100%;
  margin-left: -5px;

  li {
    float: none;
    display: block;
    width: auto;
    max-width: 100%;
    min-height: 26px;
    vertical-align: top;
  }

  &.actors {
    text-align: left;
  }

  .groups {
    padding-left: 10px;
    padding-top: 3px;
    .glyphicon {
      vertical-align: top;
    }

    a {
      display: inline-block;
      max-width: 100%;
      padding-left: 24px;
      margin-left: -20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  [cam-widget-inline-field] {
    white-space: nowrap;
    display: inline;
    max-width: 100%;
    padding-right: 24px;
    margin-right: -20px;
    .view-value {
      max-width: 100%;
      padding-right: 24px;
      margin-right: -24px;
      .ng-binding {
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}

// XS
@media (min-width: @screen-xs-min) and (max-width: @screen-xs-max) {
}


// S
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
  body {
    &.ilters-column-close,
    &.list-column-close {
      .task-card .meta {
        float: left;
        width: 50%;

        li {
          float: left;
          width: 49%;
        }
      }
    }
  }
}


// M
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
  .task-card .meta {
    float: left;
    width: 50%;
  }
  body {
    &.ilters-column-close,
    &.list-column-close {
      .task-card .meta {
        float: left;
        width: 50%;

        li {
          float: left;
          width: 49%;
        }
      }
    }
  }
}


@media (min-width: @screen-lg-min) {
  .task-card .meta {
    float: left;
    width: 50%;

    li {
      float: left;
      width: 49%;
    }
  }
}

