
.task-card {
  header {
    position: relative;
    z-index: 15;
  }

  .nav-tabs .glyphicon {
    margin-left: 5px;
  }

  .meta {
    width: 50%;
    float: left;

    &:last-child {
      clear: right;
    }

    li {
      max-width: 50%;
      vertical-align: top;
      .preview {
        .truncate(100%);
      }
    }

    input {
      line-height: 1em;
      outline: none;
    }
  }
}

[cam-tasklist-task-meta] {
  position: relative;
  z-index: 10;

  .assignee {
    [cam-widget-inline-field] {
      .view-value {
        max-width: 120px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        vertical-align: bottom;

        .ng-binding {
          max-width: 100%;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }

    .reset-assignee,
    .unclaim {
      top: 2px;
    }
  }
}

.task-card,
.modal-header {
  .names {
    h2 {
      margin-top: 0;
    }
    h4:empty {
      display: none;
    }
  }
}

.modal {
  &.task-form-fullscreen {
    .modal-dialog,
    .modal-content {
      position: absolute;
      width: auto;
      height: auto;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: 0;
      border: 0;
    }
    .modal-content {
      background: @modal-footer-bg;
    }
    .form-container {
      background: @modal-content-bg;
    }
  }
}

.diagram-loader {
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  z-index: 5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  > div {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 30px;
    top: 50%;
    margin-top: -15px;
  }
}

.diagram-holder {
  position: relative;
  z-index: 3;
  height: 100%;

  .bjs-container > a {
    display: none;
  }

  .highlight {
    .djs-outline {
      stroke: saturate(darken(@alert-success-border, 30%), 30%) !important;
      stroke-width: 2px !important;
      fill: @alert-success-bg !important;
    }

    .djs-visual {
      >:nth-child(1) {
        fill: @alert-success-bg !important;
      }
    }
  }
}

.day.row {
  margin-top: (@grid-gutter-width / 1);
  border-top: 1px @line-style @line-color;
  padding-top: (@grid-gutter-width / 1);

  margin-bottom: (@grid-gutter-width / 1);
  &:first-child {
    margin-top: 0;
    border-top: none;
    padding-top: 0;
  }
}

.instant .event {
  margin-bottom: (@grid-gutter-width);
}



.instant {
  overflow: hidden;

  &.row {
    margin-bottom: 0;
  }

  h4 {
    margin-top: 0;
  }

  h5 {
    margin-top: 2px;
    margin-bottom: 0;
  }

  > div {
    padding-top: (@grid-gutter-width / 2);
    &:before {
      display: block;
      content: ' ';
      width: 100%;
      height: 1px;
      margin-top: -1px;
      border-top: 1px @line-style-alt @line-color-alt;
      margin-bottom: (@grid-gutter-width / 2);
    }
  }

  &:first-child {
    > div {
      padding-top: 0;
      &:before {
        display: none;
      }
    }
  }

  .operation-meta {
    text-align: center;
  }

  .operation-time {
    margin-bottom: 9px;
  }
}

.date-badge {
  max-width: 75px;
  margin: auto;

  > div {
    border-radius: 50%;
    width: 100%;
    height: 0;
    padding-bottom: 100%;

    overflow: hidden;
    background-color: @gray-lighter;
  }

  span {
    display: block;
    width: 100%;
    text-align: center;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .day {
    font-size: 16px;
    margin-top: 5px;
  }
}

.time-badge {
  text-align: center;
}

.event {
  .operation {
    margin-bottom: (@grid-gutter-width / 2);
    overflow: hidden;
  }

  .label,
  .value {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .label {
    font-style: italic;
  }
}

.event-body {
  > .line {
    overflow: hidden;
    margin-top: (@grid-gutter-width / 2);
    &:first-child {
      margin-top: 0;
    }
  }
}

.original-value,
.new-value {
  .truncate(100%);
}

.original-value {
  text-decoration: line-through;
  color: @gray-light;
  margin-bottom: 7px;
}

.event-property {
  font-weight: bold;
  padding-right: (@grid-gutter-width / 2);
}

.actors {
  margin-left: 0;
  margin-right: 0;
  text-align: right;
  white-space: nowrap;
  > li {
    &.groups {
      max-width: 120px;
      > div {
        .truncate(100%);
      }
    }
    &:last-child {
      padding-right: 0;
    }
  }
}

#comment-form-message {
  height: 150px;
}

.groups-modal {
  .align-right {
    .btn-link {
      padding-right: 0;
      padding-left: 0;
      margin-right: 0;
      margin-left: 0;
    }
  }
  .value {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 7px;
    .truncate(100%);
  }
}
