
.task-card {
  .nav-tabs .glyphicon {
    margin-left: 5px;
  }

  .tab-content {
    padding: @grid-gutter-width 0;
  }

  .meta {
    // &:first-child {
    //   margin-bottom: 0;
    // }

    width: 50%;
    float: left;
    &:last-child {
      clear: right;
    }

    //------------------
    li {
      height: 30px;
      line-height: 30px;
    }
    input {
      line-height: 1em;
      outline: none;
    }
  }
}

.not-assignee {
  position: relative;
  &:before {
    content: ' ';
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

[cam-tasklist-task-meta] {
  position: relative;
  z-index: 10;
}

.task-card,
.modal-header {
  .names {
    h2 {
      margin-top: 0;
    }
    h4:empty {
      display: none;
    }
  }
}

.modal {
  &.task-form-fullscreen {
    .modal-dialog,
    .modal-content {
      position: absolute;
      width: auto;
      height: auto;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: 0;
      border: 0;
    }
    .modal-content {
      background: @modal-footer-bg;
    }
    .form-container {
      background: @modal-content-bg;
    }
  }
}

.diagram-holder .highlight .djs-visual>:nth-child(1) {
  fill: @alert-info-bg !important;
}

.row.day {
  margin-top: (@grid-gutter-width / 1);
  border-top: 1px dashed @gray-light;
  padding-top: (@grid-gutter-width / 1);

  margin-bottom: (@grid-gutter-width / 1);
  &:first-child {
    margin-top: 0;
    border-top: none;
    padding-top: 0;
  }
}
.row.instant,
.instant .event {
  margin-bottom: (@grid-gutter-width / 2);
}

.date-badge {
  // background-color: @gray-light;
  // color: @gray-lighter;
  // padding: (@grid-gutter-width / 4) 0;
  span {
    display: block;
    width: 100%;
    text-align: center;
  }
  .day {
    font-size: 160%;
  }
  .month {
    padding: (@grid-gutter-width / 6) 0;
    margin: (@grid-gutter-width / 6) 0;
    border: 1px dashed @gray-light;
    border-width: 1px 0;
  }
}

.time-badge {
  text-align: center;
}

.event {
  .operation {
    margin-bottom: (@grid-gutter-width / 2);
    font-size: 110%;
    overflow: hidden;
  }

  .label,
  .value {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .label {
    font-style: italic;
  }
  .value {

  }
}

.user-picture {
  display: block;
  background-color: @gray-lighter;
  border-radius: 2000px;
  width: 80%;
  padding-bottom: 80%;
  margin: auto;
}

// .well.no-task {
//   margin-top: 15px;
// }
