<module xmlns="urn:jboss:module:1.0" name="org.camunda.spin.camunda-spin-dataformat-xml-dom-jakarta">
  <resources>
    <resource-root path="camunda-spin-dataformat-xml-dom-jakarta-@project.version@.jar" />
  </resources>

  <dependencies>
    <module name="java.base" />
    <module name="java.desktop" />
    <module name="jakarta.xml.bind.api"/>
    <module name="org.camunda.spin.camunda-spin-core" />
    <module name="org.camunda.commons.camunda-commons-logging" />
    <module name="org.camunda.commons.camunda-commons-utils" />
    <module name="org.camunda.commons.camunda-commons-typed-values" />
  </dependencies>

</module>
