<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.0" name="org.bouncycastle.bcprov-jdk16">
  <resources>
    <resource-root path="bcprov-jdk16-1.46.jar"/>
  </resources>
          <!-- Insert resources here -->
  <dependencies>
	<module name="javax.api" />
  </dependencies>
  
</module>
