<!-- # CE - camunda-bpm-webapp/webapp/src/main/resources-plugin/jobDefinition/app/views/processDefinition/job-definition-table.html -->
<table class="table table-striped table-hover table-condensed table-filter">
  <thead>
    <tr>
      <th>Activity</th>
      <th>Type</th>
      <th>Configuration</th>
      <th>State</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="jobDefinition in jobDefinitions">
      <td>
        <a cam-select-activity="jobDefinition.activityId"
           ng-href="#/process-definition/{{ processDefinition.id }}?activityIds={{ jobDefinition.activityId }}&amp;detailsTab=job-definition-table">
          {{ jobDefinition.activityName }}
        </a>
      </td>
      <td>
        {{ jobDefinition.jobType }}
      </td>
      <td>
        {{ jobDefinition.jobConfiguration }}
      </td>
      <td>
        <span ng-show="jobDefinition.suspended">
          Suspended
        </span>
        <span ng-hide="jobDefinition.suspended">
          Active
        </span>
      </td>
      <td>
        <span ng-repeat="actionProvider in jobDefinitionActions">
          <view provider="actionProvider" vars="jobDefinitionVars"/>
        </span>
      </td>
    </tr>

    <tr ng-if="!jobDefinitions">
      <td colspan="5">
        <i class="glyphicon glyphicon-loading"></i> loading job definitions...
      </td>
    </tr>

    <tr ng-if="jobDefinitions && !jobDefinitions.length">
      <td colspan="5">
        No job definitions matched by current filter.
      </td>
    </tr>

  </tbody>
</table>
<!-- / CE - camunda-bpm-webapp/webapp/src/main/resources-plugin/jobDefinition/app/views/processDefinition/job-definition-table.html -->
