<!-- # CE - camunda-bpm-webapp/webapp/src/main/resources-plugin/jobDefinition/app/views/processDefinition/suspension-state-action.html -->
<a class="btn btn-default action-button"
   ng-click="openSuspensionStateDialog(jobDefinition)"
   ng-show="jobDefinition.suspended"
   tooltip="Activate Job Definition"
   tooltip-placement="left">
  <span class="glyphicon glyphicon-play"></span>
</a>
<a class="btn btn-default action-button"
   ng-click="openSuspensionStateDialog(jobDefinition)"
   ng-hide="jobDefinition.suspended"
   tooltip="Suspend Job Definition"
   tooltip-placement="left">
  <span class="glyphicon glyphicon-pause"></span>
</a>
<!-- / CE - camunda-bpm-webapp/webapp/src/main/resources-plugin/jobDefinition/app/views/processDefinition/suspension-state-action.html -->
