.SmallScreenSwitch {
  display: inline;

  @media screen and (max-width: 899px) {
    &.normalScreen {
      display: none;
    }
  }
  @media screen and (min-width: 900px) {
    &.smallScreen {
      display: none;
    }
  }
}
