<!-- # CE - camunda-bpm-webapp/ui/cockpit/scripts/components/variables/variable-upload-modal.html -->
<div class="modal-header">
  <h3>Upload binary variable</h3>
</div>

<!--[if lt IE 10]>

This feature is unsupported in your Browser.

<![endif]-->

<![if gt IE 9]>

<div class="modal-body variable-upload">

  <div notifications-panel></div>

  <div ng-show="status === 'beforeUpload'">

    <p>Select a file containing the binary content for  the variable:</p>

    <p>
      <input name="data"
             type="file"
             size="50"
             maxlength="100000"
             accept="*/*"
             onchange="angular.element(this).scope().setFile(this)" />
    </p>

  </div>

  <div ng-show="status === 'performUpload'">
    Upload progress: {{progress}}%
  </div>

</div>

<div class="modal-footer">
  <button class="btn btn-default"
          ng-click="$dismiss()"
          ng-hide="status === 'uploadSuccess' || status === 'uploadFailed'">
    Close
  </button>

  <button class="btn btn-primary"
          ng-click="$close()"
          ng-show="status === 'uploadSuccess' || status === 'uploadFailed'">
    OK
  </button>

  <button class="btn btn-primary"
          ng-click="upload()"
          ng-disabled="status !== 'beforeUpload'"
          ng-hide="status === 'uploadSuccess' || status === 'uploadFailed'">
    Upload
  </button>
</div>

<![endif]>

<!-- / CE - camunda-bpm-webapp/ui/cockpit/scripts/components/variables/variable-upload-modal.html -->
