.Tooltip {
  position: relative;
  display: inline-block;

  &:hover .text {
    visibility: visible;
  }

  .text {
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    font-size: 12px;


    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;

    position: absolute;
    z-index: 100;

    width: 200px;

    &::after {
      content: " ";
      position: absolute;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
    }
  }

  &.bottom .text {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);

    &::after {
      top: -10px;
      left: 50%;
      border-color: transparent  transparent black transparent;
    }
  }

  &.top .text {
    top: 0px;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);

    &::after {
      bottom: 0px;
      right: 50%;
      transform: translateY(-50%);
      bottom: -15px;
      border-color: black transparent  transparent  transparent;
    }
  }

  &.left .text {
    transform: translateY(-50%);
    top: 50%;
    right: 105%;

    &::after {
      top: 50%;
      transform: translateY(-50%);
      right: -10px;
      border-color:  transparent  transparent  transparent black;
    }
  }

  &.right .text {
    transform: translateY(-50%);
    top: 50%;
    left: 105%;

    &::after {
      top: 50%;
      transform: translateY(-50%);
      left: -5px;
      border-color:  transparent black transparent  transparent ;
    }
  }
}