/** 
 * loaded to remove angular template flicker on site load
 * @see http://docs.angularjs.org/api/ng.directive:ngCloak
 */
[ng-cloak], .ng-cloak {
  display: none;
}

/**
 * shared style declarations
 */
html, body {
  height:100%;
  min-height: 100%;
}

.breadcrumbs {
  margin-top: 60px;
}

/**
 * sidebar-nav tweak (My Roundtrips)
 */
div.sidebar-nav > ul.nav.nav-list > li.nav-header {
  font-size: 13px;
  padding: 3px 0px;
}

footer {
  padding: 6px 0;
  border-top: 1px solid #E5E5E5;
  background-color: whiteSmoke;
  width: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important; /* ie7 fix */
  height: 100%;
  margin: 0 auto -43px;
}

.push-down {
  height: 60px;
}

/* for image replacement */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

/**
 * Logo styling
 */
.navbar .brand {
   display: block;
   float: left;
   
   background: no-repeat url('../img/cycle-logo.png');
   width: 130px;
   height: 39px;
   padding: 0;
}

/** Usability tweeks */
.content-container {
  min-width: 950px;
}

#navigation {
  min-width: 220px;
}

.nav-list li {
  word-wrap: break-word;
}

/**
 * form styling
 */
form input.ng-dirty.ng-invalid {
  background-color: #FFDEDE;
  color: #000;
}

input.ng-invalid-required {
  border-color: #f00;
}

/**
 * roundtrip view
 */
.tree {
  border: 1px solid #DDDDDD;
  overflow: auto;
}

.bpmn-model {
  padding: 0px;
}

.bpmn-model:hover {
  border: solid 1px #BBB;
}

.bpmn-model:hover h3 {
  background: #BBB;
}

.bpmn-model h3 {
  text-align: center;
  line-height: 40px;
  background: #DDD;
  margin: 0px;
}

.bpmn-model .holder {
  text-align: center;
  position: relative;
  padding: 4px;
}

.bpmn-model .name {
  font-size: 2em;
}

.bpmn-model .label {
  margin-top: 50px;
}

.bpmn-model .diagram {
  line-height: 100px;
  min-height: 350px;
  max-height: 350px;
  overflow: auto;
}

.vertical-center:before {
	content: '';
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

.bpmn-model .diagram img {
  display: block;
}

.bpmn-model .diagram .name {
  display: block;
}

.bpmn-model .actions {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.sync-options {
  text-align: center;
}

.sync-options .actions {
  line-height: 140px;
}

.sync-btn {
  font-weight: bold;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * Tree
 */
.controls .tree {
  width: 343px;
  height: 220px;
  overflow: auto;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  display: inline-block;
  padding: 4px;
  margin-bottom: 9px;
  font-size: 13px;
  line-height: 18px;
  color: #555;
  background-color: white;
  border: 1px solid #CCC;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.controls .tree .dijitTree {
  overflow: auto;
  min-height: 220px;
}

.modal-body {
    max-height: 550px;
}

.popover-inner {
  padding: 0px;
  border: 1px solid #ccc;
  border-radius: 0px;
  background-color: #fff;
}

.combobox-container input,.typeahead.dropdown-menu, span#modelerName {
  width: 233px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

