<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.0" name="com.microsoft.sqlserver.sqljdbc4">
  <resources>
    <resource-root path="sqljdbc4-@version.sqlserver@.jar"/>
  </resources>
  <dependencies>
    <module name="javax.api"/>
    <module name="javax.transaction.api"/>
  </dependencies>
</module>