<!-- default navigation -->
<div class="navbar navbar-fixed-top content-container">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar"
         data-toggle="collapse"
         data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <a class="brand ir" href="../index.html" alt="camunda - tasklist">
        camunda tasklist
      </a>

      <div ngm-if="auth.current" ng-cloak>
        <div class="btn-group pull-right" ng-controller="LogoutController">
          <a class="btn btn-user dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-user"></i> {{ auth.current }}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a ng-click="logout()">Sign out</a></li>
          </ul>
        </div>

        <div class="btn-group pull-right" ng-controller="ProcessDefinitionsController">
          <a class="btn btn-user dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-tasks"></i> Start a Process
            <span class="caret"></span>
          </a>

          <ul class="dropdown-menu">
            <li ng-repeat="definition in processDefinitions">
              <a href="#/process-definition/{{definition.id}}">{{ definition.name }}</a>
            </li>
          </ul>
        </div>
      </div>

      <!-- /Top Navigation Bar -->
    </div>
  </div>
</div>