<ul class="nav nav-list" data-ng-controller="SitebarController">
  <li class="nav-header">Tasks</li>
  <li ng-class="{active: isActive('mytasks')}">
    <a href="#/overview?filter=mytasks">
      My Tasks ({{ assigned.length }})
    </a>
  </li>
  <li ng-show="tasks.unassigned.count" ng-class="{active: isActive('unassigned')}">
    <a href="#/overview?filter=unassigned">
      Unassigned tasks ({{ tasks.unassigned.count }})
    </a>
  </li>
  <li ng-show="tasks.unassigned.count" ng-class="{active: isActive('search')}">
    <a href="#/overview?filter=search">
      Search
    </a>
  </li>
  <li class="nav-header">Group Tasks</li>
  <li ng-repeat="group in groupInfo.groups" ng-class="{active: isActive('group', group.id)}">
    <a href="#/overview?filter=group&search={{group.id}}">{{group.id}} ({{ groupInfo.groupCounts[group.id] }})</a>
  </li>
  <li class="nav-header">Colleagues</li>
  <li ng-repeat="colleague in groupInfo.groupUsers" ng-class="{active: isActive('colleague', colleague.id)}">
    <a href="#/overview?filter=colleague&search={{colleague.id}}">{{colleague.displayName}}</a>
  </li>
</ul>