{
  "plugins": ["prettier"],
  "ignorePatterns": ["**/node_modules/", "test/", "tests/", "*.spec.js"],
  "rules": {
    "no-prototype-builtins": "warn"
  },
  "extends": [
    "react-app",
    "plugin:camunda-licensed/apache",
    "plugin:prettier/recommended"
  ]
}
