<module xmlns="urn:jboss:module:1.0" name="org.graalvm.regex.regex">
  <resources>
    <resource-root path="regex-@version.graal.js@.jar" />
  </resources>

  <dependencies>
    <module name="java.base" />
    <module name="java.logging" />
    <module name="jdk.unsupported" />
    <module name="sun.jdk" />
    <module name="org.graalvm.truffle.truffle-api" services="export" export="true" />
  </dependencies>
</module>
