@import "cam-bootstrap.less";
@import "cam-common.less";

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}



.text-help {
  font-style: italic;
  font-size: 90%;
  color: @gray;
  margin-bottom: (@grid-gutter-width / 2);
}



.dropdown-menu {
  .shadow;
  > li > a {
    padding-left: 9px;
    padding-right: 9px;
  }

  > .active,
  > li:hover {
    background-color: transparent;

    > a {
      background-color: transparent;
      padding-left: 6px;
      border-width: 0 0 0 2px;
      margin-left: 1px;
      border-style: solid;
      color: @dropdown-link-color;
      border-color: @dropdown-link-color;

      &:hover {
        background-color: transparent;
        color: @dropdown-link-hover-color;
        border-color: @dropdown-link-hover-color;
      }
    }
  }

  > li:hover {
    > a {
      color: @dropdown-link-hover-color;
      border-color: @dropdown-link-hover-color;
    }
  }
}

.list-inline > li {
  padding: 1px 5px;
}


.tab-content {
  position: relative;
  padding-top: (@grid-gutter-width * 0.5);
}


.tooltip .tooltip-inner {
  word-wrap: break-word;
}


.btn-link:hover {
  color: @link-hover-color;
}


.meta a,
.action a,
.actions a,
.row-action a,
[cam-widget-inline-field] a,
a.action,
.btn-link {
  color: @text-color !important;
  &:hover,
  &:focus {
    text-decoration: none;
    color: darken(@text-color, 10) !important;
  }
}

.glyphicon-fire {
  color: @brand-danger;
}

.form-actions {
  text-align: right;
}

/* ---------------------------------------------------------------- */

/*
.form-control {
  background-color: transparent;
  border-width: 0 0 1px 0;
  border-bottom-style: dotted;
  padding: @padding-base-vertical 0;
  .box-shadow(none);

  &:focus {
    .box-shadow(none);
    border-bottom-width: 2px;
  }

  &[required],
  &.required {
    border-bottom-style: solid;
  }
}
*/

/* ---------------------------------------------------------------- */





// Give the tabs something to sit on
.nav-tabs {
  .nav-justified();
  .nav-tabs-justified();

  padding-left: (@grid-gutter-width * 0.5);
  padding-right: (@grid-gutter-width * 0.5);
  margin-top: 5px;
  border-top: 1px solid @gray-lighter;
  border-bottom: 1px solid @gray-light;

  > li {
    text-align: center;

    > a {
      border: none;
      background: none;
      overflow: hidden;
      margin: 0 auto -5px auto;
      display: inline-block;
      position: relative;

      &:hover,
      &:focus {
        background: none;
      }

      &:after {
        position: absolute;
        content: '';
        display: block;
        height: 2px;
        bottom: 1px;
        width: 100%;
        left: 0;
        border: none;
        background-color: @gray-lighter;
      }
    }

    &:hover,
    &:focus {
      border: none;
      background: none;
      > a:after {
        background-color: @link-hover-color;
      }
    }

    &.active {
      border: none;

      > a {
        &,
        &:hover,
        &:focus {
          color: @nav-tabs-active-link-hover-color;
          background: none;
          border: none;
          cursor: default;

          &:after {
            background-color: @nav-tabs-active-link-hover-border-color;
          }
        }
      }
    }
  }

  > .active > a,
  > .active > a:hover,
  > .active > a:focus {
    border: none;
  }

  @media (min-width: @screen-sm-min) {
    > li > a {
      border: none;
    }
  }
}

@import "_animate-spin";
@import "_modal";
@import "_cam-table";

@import "_ng-validation";
@import "directives/notifications-panel";
@import "directives/pagination";

@import "../../lib/auth/page/login";

@import "header/cam-widget-header.less";
@import "footer/cam-widget-footer.less";
