@import "cam-bootstrap.less";
@import "cam-common.less";

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}



.text-help {
  font-style: italic;
  font-size: 90%;
  color: @gray;
  margin-bottom: (@grid-gutter-width / 2);
}

.tenant-id {
  font-style: italic;
}


.dropdown-menu {
  .shadow;
  > li {
    padding: 0;
    margin: 2px 0;

    > a {
      padding: 2px 9px;
    }
  }

  > .active,
  > li:hover {
    > a {
      padding-left: 4px;
      border-width: 0 0 0 3px;
      margin-left: 2px;
      border-style: solid;
      color: @gray-base;
      border-color: @brand-primary;
    }
  }

  > li:hover {
    > a {
      color: @gray-base;
      border-color: @link-color;
    }
  }
}

.list-inline > li {
  padding: 1px 5px;
}


.tab-content {
  position: relative;
  padding-top: (@grid-gutter-width * 0.5);
}


.tooltip .tooltip-inner {
  word-wrap: break-word;
}


.btn-link:hover {
  color: @link-hover-color;
}

.glyphicon-fire {
  color: @brand-danger;
}

.form-actions {
  text-align: right;
}

/* ---------------------------------------------------------------- */

/*
.form-control {
  background-color: transparent;
  border-width: 0 0 1px 0;
  border-bottom-style: dotted;
  padding: @padding-base-vertical 0;
  .box-shadow(none);

  &:focus {
    .box-shadow(none);
    border-bottom-width: 2px;
  }

  &[required],
  &.required {
    border-bottom-style: solid;
  }
}
*/

/* ---------------------------------------------------------------- */





// Give the tabs something to sit on
.nav-tabs {
  margin-top: 5px;

  > li {
    text-align: center;
    border: none;
    &:first-of-type {
      > a {
        margin-left: 0;
      }
    }

    > a {
      border: none;
      background: none;
      overflow: hidden;
      margin: 0 2px;
      display: block;
      position: relative;
      padding-bottom: 4px;
      border-bottom: 3px solid transparent;
      transition: border-bottom 0.218s ease;
      color: @navbar-default-link-color;

      &:hover,
      &:focus {
        background: none;
        border-bottom: 3px solid @link-hover-color;
        color: @navbar-default-link-hover-color;
      }
    }

    &:hover,
    &:focus {
      border: none;
      background: none;
    }

    &.active {
      border: none;
      > a {
        &,
        &:hover,
        &:focus {
          color: @gray-base;
          background: none;
          border: none;
          cursor: default;
          border-bottom: 3px solid @brand-primary;
        }
      }
    }
  }

  > .active > a,
  > .active > a:hover,
  > .active > a:focus {
    border-top: none;
    border-left: none;
    border-right: none;
  }

  @media (min-width: @screen-sm-min) {
    > li > a {
      border-top: none;
      border-left: none;
      border-right: none;
    }
  }
}

@import "_animate-spin";
@import "_modal";
@import "_cam-table";

@import "_ng-validation";
@import "directives/notifications-panel";
@import "directives/pagination";

@import "../../lib/auth/page/login";

@import "header/cam-widget-header.less";
@import "footer/cam-widget-footer.less";

@import "_glyphicon-overrides.less";
