<module xmlns="urn:jboss:module:1.0" name="org.graalvm.js.js">
  <resources>
    <resource-root path="js-@version.graal.js@.jar" />
  </resources>

  <dependencies>
    <module name="javax.api" />
    <module name="sun.jdk" />
    <module name="org.camunda.spin.camunda-spin-core" />
    <module name="org.graalvm.regex.regex" />
    <module name="org.graalvm.truffle.truffle-api" />
    <module name="org.graalvm.sdk.graal-sdk" />
    <module name="com.ibm.icu.icu4j" />
  </dependencies>
</module>
