<div>
  <div data-ng-show="status != 'LOADED'">
    <div class="centered">{{diagram.label}}</div>
    <div ng-switch on="status">
      <p data-ng-switch-when="UNAVAILABLE">
        <i class="icon-warning-sign"></i>
        <span th:text="#{'There is no up-to-date image available.'}"></span>
      </p>
      <p data-ng-switch-when="LOADING">
        <i class="icon-loading"></i>
        <span th:text="#{'Loading the image'}"></span>
      </p>
    </div>
  </div>

  <img data-ng-show="status == 'LOADED'" />
</div>