<div ng-show="!state.$loaded && !state.$error"
     class="loader">
  <span class="animate-spin glyphicon glyphicon-refresh"></span>
  Loading
</div>

<div ng-show="state.$error" class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign"></span>
  <strong class="status">Failure:</strong>
  <span class="message">Loading the deployments finished with failures. Try to refresh the page to try again.</span>
</div>

<div ng-show="state.$loaded && !state.$error">

  <div ng-hide="totalItems"
       class="well">
    <span class="glyphicon glyphicon-info-sign"></span>
    No deployments available.
  </div>

  <div ng-show="totalItems && (!deployments || !deployments.length)" class="well">
    <span class="glyphicon glyphicon-info-sign"></span>
    The current search parameters could not retrieve any tasks. Try to reset the search parameters or to&nbsp;
    <a ng-click="resetPage()">
    reset page number.
    </a>
  </div>

  <div ng-show="totalItems"
       ng-repeat="(delta, deployment) in deployments"
       class="deployment-wrapper"
       ng-class="{active: isFocused(deployment)}"
       ng-style="{'z-index': ((deployments.length + 10) - delta) }">

    <div class="deployment"
         ng-click="focus(deployment)">
      <h4 class="name">{{ deployment.name }}</h4>
      <h6>Deployment Time: {{ deployment.deploymentTime }}</h6>
    </div>
  </div>
</div>

<pagination ng-show="state.$loaded && totalItems > pageSize"
            class="pagination-sm"

            ng-model="pageNum"
            ng-change="pageChange(pageNum)"

            total-items="totalItems"
            items-per-page="pageSize"
            max-size="5"

            boundary-links="true"

            next-text="&rsaquo;"
            last-text="&raquo;"
            previous-text="&lsaquo;"
            first-text="&laquo;"></pagination>
