<!-- # CE - src/main/webapp/app/tasklist/pages/task.html -->
<div class="control-group" ng-show="form.loaded">
  <h5>Complete Task</h5>
  <h3>{{ task.name }}</h3>

  <p>
    <strong>Created:</strong> {{ task.created | date:'medium' }}
  </p>

  <hr />

  <form ng-submit="submit()" name="variablesForm" request-aware>
    <div ngm-if="!form.key && !form.generic">
      <p>
        It looks as if no form has been defined for the task.
      </p>

      <button class="btn" ng-click="activateGeneric()">Work on task using generic form</button>
    </div>
    <div ngm-if="form.generic">
      <h5>Variables</h5>

      <p>
        Use the form below to add variables that will be be passed onto the process instance upon task completion.
      </p>

      <div ng-include="'common/form/generic-variables.html'"></div>
    </div>

    <div ng-if="form.embedded && !form.generic">
      <div style="margin: 20px 0 20px 0" ng-include="form.key" task-variables="variables"></div>
    </div>

    <div ng-if="form.embedded || form.generic">
      <button class="btn btn-primary"
              ng-disabled="variablesForm.$invalid"
              type="submit">
        {{ !task.delegationState || task.delegationState == 'RESOLVED' ? 'Complete Task' : 'Resolve Task' }}
      </button>

      <button class="btn" ng-click="cancel()">Cancel</button>
    </div>
  </form>
</div>
<!-- / CE - src/main/webapp/app/tasklist/pages/task.html -->
