.ctn-view.dashboard, // cockpit
.ctn-wrapper > [ng-view] > .dashboard { // admin
  width: 100%;
  bottom: 0;
}

.ctn-view.dashboard {
  top: @breadcrumb-height;
}

.ctn-wrapper > [ng-view] > .dashboard {
  top: 0;
}

.dashboard {
  position: absolute;
  background-color: @custom-gray-light;
  display: block;
  overflow: auto;

  > .sections {
    overflow: auto;
  }

  section {
    padding: @grid-gutter-width * 0.5;

    > .inner {
      background-color: @body-bg;
      padding: @grid-gutter-width * 0.5;

      @media (min-width: 1200px) {
        min-height: 250px;
      }
    }

    header {
      border-bottom: 1px solid @custom-gray-light;
    }
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    padding: 0;
    margin: 0 0 (@grid-gutter-width * 0.5) 0;
  }

  .section-title {
    font-size: 2rem;
    margin-top: 5px;
    font-weight: 100;
  }

  .stats {
    font-size: 16px;
    padding-top: @grid-gutter-width * 0.5;
  }


  .value,
  .no-value {
    display: block;
    font-size: 2em;
    font-weight: 100;
    .animate-spin {
      font-size: 1rem;
    }
  }

  .prop-incidents,
  .prop-failedJobs {
    &.yep .value {
      color: @brand-warning;
    }
    &.nope .value {
      color: @brand-success;
    }
  }
}
