<div class="nav-collapse collapse navbar-responsive-collapse" ng-cloak>
  <ul class="nav pull-right" ng-controller="AuthenticationController">

    <!-- CAM-1098 -->
    <li class="dropdown"
        process-definition-select
        help
        help-text="Start a process instance"
        help-placement="'bottom'"
        ng-show="processDefinitions.length"
        ng-controller="ProcessDefinitionsController"
        if-logged-in>

      <a href class="dropdown-toggle" data-toggle="dropdown">
        <i class="icon-th-list icon-white"></i>
      </a>

      <ul class="dropdown-menu">
        <li ng-repeat="definition in processDefinitions">
          <a ng-href="#/process-definition/{{ definition.id }}">
            {{ definition.name || definition.key }}
          </a>
        </li>
      </ul>
    </li>

    <li engine-select></li>

    <li class="dropdown" if-logged-in>
      <a href class="dropdown-toggle" sem-show-user-actions data-toggle="dropdown">
        <i class="icon-user icon-white"></i> {{ authentication.user.name }}
      </a>

      <ul class="dropdown-menu">
        <li>
          <a class="sem-jump-to-profile" ng-href="{{ '../../admin/:engine/#/users/' + authentication.user.name + '?tab=profile' | uri }}">
            My Profile
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href ng-click="logout()">
            Sign out
          </a>
        </li>
      </ul>
    </li>

    <li class="divider-vertical" if-logged-in></li>

    <li class="dropdown">
      <a href class="dropdown-toggle" sem-show-apps data-toggle="dropdown">
        <i class="icon-home icon-white"></i>
      </a>

      <ul class="dropdown-menu">
        <li ng-show="authentication.canAccess('cockpit')">
          <a sem-jump-to-cockpit ng-href="{{ '../../cockpit/:engine/' | uri }}">Cockpit</a>
        </li>
        <li>
          <a sem-jump-to-admin ng-href="{{ '../../admin/:engine/' | uri }}">Admin</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
