/**
 * Logo styling
 */
.navbar .brand {
   display: block;
   float: left;
   background: no-repeat url('../../img/cockpit/app-logo.png');
   width: 220px;
   height: 39px;
   padding: 0;
}


/**------------------
Tree
---------------------**/

.none-list-style {
  list-style-type: none;
}

.clickable-tree-node:hover {
  cursor: pointer;
}

.activity-highlight  {
  -webkit-box-shadow: 0px 0px 4px 4px rgba(30, 144, 255, 1);
  -moz-box-shadow: 0px 0px 4px 4px rgba(30, 144, 255, 1);
  box-shadow: 0px 0px 4px 4px rgb(30, 144, 255);
  border-radius: 5px;
}

.process-diagram {
  overflow: hidden;
  height: 100%;

  /* disable text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.badge-position {
  margin-left: -1.1em;
  margin-top: -0.75em;
  top: 100%;
  position: absolute;
}

/** ---- sidebar ----**/

a.expand-collapse {
  display: none;

  position: absolute;
  top: 0;
  left: 0;

  z-index: 4;

  text-decoration: none;
  cursor: pointer;

  opacity: 0.2;
  filter: alpha(opacity=10);

  padding: 5px;
}

a.expand-collapse.pull-right {
  top: 0;
  left: auto;
  right: 0;
}

a.expand-collapse:hover,
a.expand-collapse:focus {
  opacity: 0.6;
  filter: alpha(opacity=40);
}

/** ---- in-place variable editing ----**/

.in-place-edit {
  width: 100%;
}

textarea.in-place-edit {
  resize: vertical;
}

.variable-invalid {
  color: #e9322d;
}

@media (min-width: 768px) {
  .ctn-sitebar-container, .ctn-column {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .ctn-sitebar > div {
    margin: 10px;
  }

  .ctn-sitebar-container {
    bottom: 31px;
  }

  .ctn-column {
    border-right: solid 1px #BBB;
  }

  .ctn-column:last-child {
    border-right: none;
  }

  .ctn-row {
    border-bottom: solid 1px #BBB;
  }

  .ctn-row:last-child {
    border-bottom: none;
  }

  .ctn-sitebar {
    width: 250px;
    right: auto;
  }

  .ctn-content {
    left: 250px;
  }

  .ctn-sitebar, .ctn-content {
    overflow: auto;
  }

  .ctn-content-top {
    height: 60%;
    overflow: hidden;
  }
}

@media (max-width: 767px) {

  .ctn-container {
    margin: 10px;
  }

  .ctn-sitebar {
    border-bottom: solid 1px #BBB;
  }

  a.expand-collapse {
    visibility: hidden;
  }
}

.ctn-tabbed .nav-tabs {
  padding: 10px 10px 0 10px;
  margin-bottom: 10px;
}

.ctn-tabbed .ctn-tabbed-content {
  margin: 10px;
}

/** dashboard page */

.dashboard-view {
  margin: 10px;
}