<module xmlns="urn:jboss:module:1.0" name="org.freemarker.freemarker">
  <resources>
    <resource-root path="freemarker-@version.freemarker@.jar" />
  </resources>

  <dependencies>
    <module name="java.base" />
    <module name="java.desktop" />
    <module name="java.rmi" />
    <module name="java.sql" />
    <module name="org.apache.log4j" optional="true"/>
  </dependencies>
</module>
