/**
 * Logo styling
 */
.navbar .brand {
   display: block;
   float: left;
   background: no-repeat url('../../img/admin/app-logo.png');
   width: 220px;
   height: 39px;
   padding: 0;
}

/** box */
.box {
  position: relative;
  padding: 5px 19px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  margin-bottom: 20px;

}