<div class="container">
  <section id="users">
    <div class="row">
      <div class="page-header">
        <h1><i class="icon-user-large"></i> {{user.firstName}} {{user.lastName}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="span4">
        <div class="well sidebar-nav">
          <ul class="nav nav-list">
            <li ng-class="activeClass('/profile')">
              <a href="#/users/{{user.id}}/profile">Profile</a>
            </li>
            <li ng-class="activeClass('/account')">
              <a href="#/users/{{user.id}}/account">Account</a>
            </li>
            <li ng-class="activeClass('/groups')">
              <a href="#/users/{{user.id}}/groups">Groups</a>
            </li>                    
          </ul>          
        </div>
      </div>

      <div class="span8">

        <div ng-show="show('profile')"> 
          <div class="box">
            <p ngm-if="!profile">
              <i class="icon-loading"></i> loading profile...
            </p>
            <form class="form-horizontal" name="editProfileForm" ngm-if="profile">

              <legend>Profile</legend>

              <div class="control-group">
                <label class="control-label" for="inputFirstname">Firstname*</label>
                <div class="controls">
                  <input id="inputFirstname" name="firstname" type="text" ng-model="profile.firstName" novalidate required autofocus></input>
                  <p class="help-block" ng-show="editProfileForm.firstname.$error.required">Firstname is required.</p>
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="inputLastname">Lastname*</label>
                <div class="controls">
                  <input id="inputLastname" type="text" ng-model="profile.lastName" novalidate required></input>
                  <p class="help-block" ng-show="editProfileForm.firstname.$error.required">Lastname is required.</p>
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="inputEmail">Email</label>
                <div class="controls">
                  <input id="inputEmail" name="email" type="text" ng-model="profile.email" data-email></input>
                  <p class="help-block" ng-show="editProfileForm.email.$error.email">Not a valid email address</p>
                </div>
              </div>

              <div class="control-group">
                <div class="controls">
                  <button type="submit" class="btn"  data-ng-disabled="!canSubmit(editProfileForm, 'profile')" data-ng-click="updateProfile()">Update Profile</button>
                </div>
              </div>
           
            </form>
          </div>
        </div>

        <div ng-show="show('account')"> 
          <div class="box">
            <form class="form-horizontal" name="updateCredentialsForm">

              <legend>Change Password</legend>

              <div class="control-group">
                <label class="control-label" for="inputPassword">Password:</label>
                <div class="controls">
                  <input id="inputPassword" type="password" ng-model="credentials.password" data-password="credentials.password2"></input>
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="inputPasswordRepeat">Password (repeat):</label>
                <div class="controls">
                  <input id="inputPasswordRepeat" type="password" ng-model="credentials.password2" data-password="credentials.password"></input>
                </div>
              </div>

              <div class="control-group">
                <div class="controls">
                  <button type="submit" class="btn" data-ng-click="updateCredentials()" data-ng-disabled="!canSubmit(updateCredentialsForm)">Change Password</button>
                </div>
              </div>
           
            </form>  
          </div>
          <div class="box">
            <form class="form-horizontal">

              <legend>Delete User</legend>
              <div class="alert alert-error">
                <strong>Warning:</strong> deleting a user account cannot be undone. 
              </div>

              <button type="submit" class="btn btn-danger" data-ng-click="deleteUser()">Delete User</button>
           
            </form>  
          </div>
        </div>
      
      </div>
    </div>
  </section>
</div>