@import "cam-variables.less";
@import "app-variables.less";
@import "cam-webapps-common.less";

/* ---------------------------------------------------------------- */

.page-header{
  margin: 0 (@grid-gutter-width * 0.5);
  border: none;
}


.sidebar-nav {
  border-right: 1px solid mix(@gray-light, @gray-lighter);

  ul {
    .menu-ul(16px, 24px);
    margin-top: 8px;
  }

  li {
    > a {
      margin-left: 2px;
      border-left: 3px solid transparent;
      color: @text-color;
    }
    &:hover > a {
      border-left-color: @link-color;
      color: @gray-base;
    }
    &.active-trail > a {
      color: @gray-dark;
    }
    &.active > a {
      border-left-color: @brand-primary;
    }
  }
}


/* ---------------------------------------------------------------- */

@import "pages/authorizations.less";
