/*
.navbar .navbar-brand {
  background-image: url(../images/your-app-logo.png);
}

.navbar-collapse,
.navbar-default,
.navbar-right > .divider-vertical,
.navbar-default .navbar-collapse,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
  background-color: #4960B2;
  border-color: #4960B2;
}
*/
