[state-circle] {
  display: block;
  width: @state-circle-size;
  height: @state-circle-size;
  border-radius: @state-circle-size;
  position: relative;

  .glyphicon;
  &:before {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: @state-circle-size;
    height: @state-circle-size;
    text-align: center;
    line-height: @state-circle-size;
    font-size: @state-circle-size * 0.75;
  }

  &.circle-red {
    .glyphicon-remove;
    background-color: @state-error-color;
  }

  &.circle-green {
    .glyphicon-ok;
    background-color: @state-ok-color;
  }
}
