<module xmlns="urn:jboss:module:1.0" name="org.camunda.bpm.dmn.camunda-engine-feel-juel">
  <resources>
    <resource-root path="camunda-engine-feel-juel-@project.version@.jar" />
  </resources>

  <dependencies>
    <module name="org.camunda.bpm.dmn.camunda-engine-feel-api" />
    <module name="org.camunda.bpm.juel.camunda-juel" services="import"/>
    <module name="org.camunda.commons.camunda-commons-logging" />
    <module name="org.camunda.commons.camunda-commons-typed-values" />
    <module name="org.camunda.commons.camunda-commons-utils" />
  </dependencies>
</module>
