<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <display-name>camunda bpm webapp</display-name>

  <listener>
    <listener-class>org.camunda.bpm.cockpit.test.sample.web.CockpitTestBootstrap</listener-class>
  </listener>
  
  <servlet>
    <servlet-name>Cockpit REST Api</servlet-name>
    <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>org.camunda.bpm.cockpit.test.sample.web.CockpitTestApplication</param-value>
    </init-param>
    <init-param>
      <param-name>resteasy.servlet.mapping.prefix</param-name>
      <param-value>/api</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>Cockpit REST Api</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>
</web-app>