/**
 * loaded to remove angular template flicker on site load
 * @see http://docs.angularjs.org/api/ng.directive:ngCloak
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}

/**
 * shared style declarations
 */
html, body {
  height: 100%;
  min-height: 100%;
}

footer {
  padding-top: 11px;
  border-top: 1px solid #E5E5E5;
  background-color: whiteSmoke;

  right: 0;
  left: 0;
}

/**
 * nav fixed compensation
 */
.content-inset {
  padding-top: 60px;
}

/**
 * Footer pull down (.wrapper + .push-down)
 */
.wrapper {
  min-height: 100%;
  height: auto !important; /* ie7 fix */
  height: 100%;
  margin: 0 auto -42px;
}
.push-down {
  height: 42px;
}

/**
 * Logo styling
 */
.navbar .brand {
   display: block;
   float: left;

   background: no-repeat url('../img/app-logo.png');
   width: 220px;
   height: 39px;
   padding: 0;
}

/**
 * responsive tweeks
 */
@media (max-width: 979px) {
  .content-inset {
    padding-top: 0px;
  }
}

@media (max-width: 979px) {
  footer {
    position: static;

    margin-right: -20px;
    margin-left: -20px;
  }
  footer .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/**
 * loading icon
 */
.icon-loading {
  background-image: url(../img/ajax-loader.gif);
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-position: 0px 0px;
  opacity: 1.0;
}

/**
 * help system
 */
.help-toggle {
  display: inline-block;
  margin-left: 5px;

  cursor: help;
  opacity: 0.6;
}
.help-toggle:hover {
  opacity: 1;
}

/**
 * text by image replacement
 */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

/**
 * Dropdown tweeks (left alignment)
 */
.dropdown-menu.left {
  right: 0;
  left: inherit;
}
.dropdown-submenu > .dropdown-menu.left {
  right: 100%;
  left: inherit;

  -webkit-border-radius: 5px 0px 5px 5px;
  -moz-border-radius: 5px 0px 5px 5px;
  border-radius: 5px 0px 5px 5px;
}

/**
 * form styling
 */
form input.ng-dirty.ng-invalid {
  background-color: #FFDEDE;
  color: #000;
}
input.ng-invalid-required {
  border-color: #f00;
}

/**
 * sign in form
 */
.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin h2,
.form-signin input[type="checkbox"] {
  margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

/**
 * popover styles
 */
.popover-inner {
  padding: 0px;
  border: 1px solid #ccc;
  border-radius: 0px;
  background-color: #fff;
}

/**
 * task table styles
 */
.task-table td {
  vertical-align: middle;
}
.task-table tr {
  height: 43px;
}
.task-table tbody+tbody {
  border-top-width: 1px;
}
.table td input[type="text"] {
  margin-bottom: 0;
}

/**
 * sortable (sort-by) styles
 */
.sort-by {
  cursor: pointer;
}
.sort-by > span {
  margin-right: 30px;
}
.sort-by i.order {
  margin-left: -25px;
}
.sort-by:hover i.asc, .sort-by.asc i.asc, .sort-by.desc i.desc {
  display: inline-block;
  opacity: 0.2;
}
.sort-by.asc:hover i.asc, .sort-by.desc:hover i.desc {
  opacity: 0.8;
}
.sort-by.desc:hover i.asc, .sort-by i.order {
  display: none;
}
.sort-by.asc i.asc {
  display: inline-block;
}
.sort-by:hover i {
  opacity: 0.8;
}

/**
 * navbar button tweeks
 */
.navbar .btn-group, .navbar .btn {
  margin-left: 10px;
}

/**
 * table selection
 */
table .selected tr > td {
  background: dimgray;
  color: #ffffff;
}
.table-hover .selected tr:hover > td, .table-hover .selected tr:hover > th {
  background-color: #DAEAF7;
}

/**
 * Modal tweeks
 */
.modal-body {
  max-height: 480px;
}
/** make sure that if screen res is 600px high or below, modal dialoges are scrollable */
@media screen and (max-height: 600px){
  .modal {
  	position: absolute;
  }
}

/**
 * bpmn renderer
 */
.bpmn-highlight  {
  -webkit-box-shadow: 0px 0px 4px 4px rgba(30, 144, 255, 1); /* WebKit */
  -moz-box-shadow: 0px 0px 4px 4px rgba(30, 144, 255, 1); /* Firefox */
  box-shadow: 0px 0px 4px 4px rgb(30, 144, 255); /* Standard */
  border-radius: 5px;
}

.bpmn-diagram {
  overflow: hidden;
}
