<div ng-class="{ 'input-prepend': typeSwitch }">
  <div class="btn-group" ngm-if="typeSwitch">
    <button class="btn dropdown-toggle" data-toggle="dropdown">
      {{ variable.type }}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href ng-click="setType('number')">number</a></li>
      <li><a href ng-click="setType('date')">date</a></li>
      <li><a href ng-click="setType('boolean')">boolean</a></li>
      <li><a href ng-click="setType('string')">string</a></li>
    </ul>
  </div>
  <span data-ng-switch="variable.type">
    <input data-ng-switch-when="number" data-ng-model="variable.value" type="number" placeholder="value" />
    <label data-ng-switch-when="boolean"class="checkbox inline"><input style="margin-left: 10px; margin-right: 5px;" name="variable.key" data-ng-model="variable.value" type="checkbox" /> {{ variable.key }}</label>
    <input data-ng-switch-when="date" data-ng-model="variable.value" type="datetime" placeholder="value" />
    <input data-ng-switch-default data-ng-model="variable.value" type="text" placeholder="value" />
  </span>
</div>