<!-- # CE - camunda-bpm-webapp/webapp/src/main/resources-plugin/base/app/views/processDefinition/activity-instance-statistics-overlay.html -->
<span class="activity-bottom-left-position"
      ng-show="activityInstance || activityInstanceMI"
      ng-click="selectRunningInstances($event)">
  <span class="badge"
        tooltip="Running Activity Instances"
        tooltip-placement="top"
        tooltip-animation="false"
        ng-show="activityInstance.instances || activityInstanceMI.instances">
    {{ ((activityInstance.instances || 0) + (activityInstanceMI.instances || 0) | abbreviateNumber) }}
  </span>

  <span class="badge badge-important"
        tooltip="Open Incidents"
        tooltip-placement="top"
        tooltip-animation="false"
        ng-show="activityInstance.incidents.length > 0 || activityInstanceMI.incidents.length > 0">!</span>
</span>
<!-- / CE - camunda-bpm-webapp/webapp/src/main/resources-plugin/base/app/views/processDefinition/activity-instance-statistics-overlay.html -->
