<!-- # CE - camunda-bpm-webapp/webapp/src/main/resources-plugin/base/app/views/processDefinition/called-process-definition-table.html -->
<table class="table table-striped table-hover table-condensed">
  <thead>
    <th>Called Process Definition</th>
    <th>Activity</th>
  </thead>
  <tbody>
    <tr ng-repeat="calledProcessDefinition in calledProcessDefinitions">
      <td>
        <a ng-href="#/process-definition/{{ calledProcessDefinition.id }}?parentProcessDefinitionId={{ processDefinition.id }}">
          {{ calledProcessDefinition.name }}
        </a>
      </td>
      <td>
        <span ng-show="calledProcessDefinition.calledFromActivities.length === 1">
          <a cam-select-activity="calledProcessDefinition.calledFromActivities[0].id"
             ng-href="#/process-definition/{{ processDefinition.id }}?activityIds={{ calledProcessDefinition.calledFromActivities[0].id }}&amp;detailsTab=call-process-definitions-table">
            {{ calledProcessDefinition.calledFromActivities[0].name }}
          </a>
        </span>
        <span ng-show="calledProcessDefinition.calledFromActivities.length > 1">
          <ul>
            <li ng-repeat="activity in calledProcessDefinition.calledFromActivities">
              <a cam-select-activity="activity.id"
                 ng-href="#/process-definition/{{ processDefinition.id }}?activityIds={{ activity.id }}&amp;detailsTab=call-process-definitions-table">
                {{ activity.name }}
              </a>
            </li>
          <ul>
        </span>
      </td>
    </tr>

    <tr ng-if="!calledProcessDefinitions">
      <td colspan="2">
        <i class="glyphicon glyphicon-loading"></i> loading called process definitions...
      </td>
    </tr>

    <tr ng-if="calledProcessDefinitions && !calledProcessDefinitions.length">
      <td  colspan="2">
        No called process definitions
      </td>
    </tr>

  </tbody>
</table>
<!-- / CE - camunda-bpm-webapp/webapp/src/main/resources-plugin/base/app/views/processDefinition/called-process-definition-table.html -->
