<!-- # CE - camunda-bpm-webapp/webapp/src/main/resources-plugin/base/app/views/processDefinition/process-instance-table.html -->
<table class="table table-striped table-hover table-condensed table-filter">
  <thead>
    <tr>
      <th>ID</th>
      <th>Start Time</th>
      <th>Business Key</th>
      <th>State</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="processInstance in processInstances">
      <td>
        <a href="#/process-instance/{{ processInstance.id }}" title="{{ processInstance.id }}">
          {{ processInstance.id | shorten:8 }}
        </a>
      </td>
      <td>{{ processInstance.startTime }}</td>
      <td>{{ processInstance.businessKey }}</td>
      <td colspan="2">
        <a state-circle
           incidents="processInstance.incidents"
           ng-href="#/process-instance/{{ processInstance.id }}?detailsTab=incidents-tab"></a>
        <span class="badge badge-warning badge-suspended"
              ng-show="processInstance.suspended"
              tooltip="Currently suspended"
              tooltip-placement="left">
          <i class="glyphicon glyphicon-pause white"></i>
        </span>
      </td>
    </tr>

    <tr ng-if="!processInstances">
      <td colspan="4">
        <i class="glyphicon glyphicon-loading"></i> loading process instances...
      </td>
    </tr>

    <tr ng-if="processInstances && !processInstances.length">
      <td colspan="4">
        No process instances matched by current filter.
      </td>
    </tr>

  </tbody>
</table>

<pagination ng-if="pages.total > pages.size"
            class="pagination-sm"

            page="pages.current"
            ng-model="pages.current"

            total-items="pages.total"
            items-per-page="pages.size"

            max-size="7"
            boundary-links="true"></pagination>
<!-- / CE - camunda-bpm-webapp/webapp/src/main/resources-plugin/base/app/views/processDefinition/process-instance-table.html -->
