<!-- # CE - camunda-bpm-webapp/webapp/src/main/resources-plugin/base/app/views/processDefinition/process-instance-table.html -->
<table class="process-instances cam-table">
  <thead>
    <tr>
      <th class="state">State</th>
      <th class="instance-id uuid">ID</th>
      <th class="start-time">Start Time</th>
      <th class="business-key">Business Key</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="processInstance in processInstances">
      <td class="state">
        <a state-circle
           incidents="processInstance.incidents"
           ng-href="#/process-instance/{{ processInstance.id }}?detailsTab=incidents-tab"></a>
        <span class="badge badge-warning badge-suspended"
              ng-show="processInstance.suspended"
              tooltip="Currently suspended"
              tooltip-placement="left">
          <span class="glyphicon glyphicon-pause white"></span>
        </span>
      </td>

      <td class="instance-id uuid">
        <a href="#/process-instance/{{ processInstance.id }}" title="{{ processInstance.id }}">
          {{ processInstance.id }}
        </a>
      </td>

      <td class="start-time">
        {{ processInstance.startTime | camDate }}
      </td>

      <td class="business-key">
        {{ processInstance.businessKey }}
      </td>
    </tr>

    <tr ng-if="!processInstances">
      <td colspan="4">
        <span class="glyphicon glyphicon-loading"></span>
        loading process instances...
      </td>
    </tr>

    <tr ng-if="processInstances && !processInstances.length">
      <td colspan="4">
        No process instances matched by current filter.
      </td>
    </tr>
  </tbody>
</table>

<pagination ng-if="pages.total > pages.size"
            class="pagination-sm"

            page="pages.current"
            ng-model="pages.current"

            total-items="pages.total"
            items-per-page="pages.size"

            max-size="7"
            boundary-links="true"></pagination>
<!-- / CE - camunda-bpm-webapp/webapp/src/main/resources-plugin/base/app/views/processDefinition/process-instance-table.html -->
