<!-- # CE - camunda-bpm-webapp/webapp/src/main/resources-plugin/base/app/views/processInstance/called-process-instance-table.html -->
<table class="table table-striped table-hover table-condensed">
  <thead>
    <th>Called Process Instance</th>
    <th>Process Definition</th>
    <th>Activity</th>
  </thead>
  <tbody>
    <tr ng-repeat="calledProcessInstance in calledProcessInstances">
      <td>
        <a href="#/process-instance/{{ calledProcessInstance.id }}">
          {{ calledProcessInstance.id | shorten:8 }}
        </a>
      </td>
      <td>
        <a href="#/process-definition/{{ calledProcessInstance.processDefinitionId }}?parentProcessDefinitionId={{ processInstance.definitionId }}">
          {{ calledProcessInstance.processDefinitionName }}
        </a>
      </td>
      <td>
        <a cam-select-activity-instance="calledProcessInstance.instance.id"
           ng-href="#/process-instance/{{ processInstance.id }}?detailsTab=called-process-instances-tab&activityInstanceIds={{ calledProcessInstance.instance.id }}">
          {{ calledProcessInstance.instance.name }}
        <a>
      </td>
    </tr>

    <tr ng-if="!calledProcessInstances">
      <td colspan="3">
        <i class="glyphicon glyphicon-loading"></i> loading called process instances...
      </td>
    </tr>

    <tr ng-if="calledProcessInstances && !calledProcessInstances.length">
      <td  colspan="3">
        No called process instances
      </td>
    </tr>

  </tbody>
</table>
<!-- / CE - camunda-bpm-webapp/webapp/src/main/resources-plugin/base/app/views/processInstance/called-process-instance-table.html -->
