<!-- # CE - camunda-bpm-webapp/webapp/src/main/resources-plugin/base/app/views/processInstance/identity-links-modal.html -->
<div class="modal-header">
  <h3>{{ title }}</h3>
</div>

<div class="modal-body">
  <div notifications-panel></div>

  <form name="editForm"
        ng-submit="addFormItem()">
    <fieldset ng-show="groups.length">
      <legend>Current group(s)</legend>

      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th>Group ID</th>
            <th class="text-right">Action</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="(delta, group) in groups">
            <td>{{ group.groupId }}</td>
            <td class="text-right">
              <span class="btn btn-default action-button"
                    ng-click="removeItem()">
                <i class="glyphicon glyphicon-ban-circle"></i>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </fieldset>

    <fieldset>
      <legend>Add a group</legend>
      <div class="input-group">
        <input type="text"
               class="form-control"
               ng-model="newItem"
               name="newItem"
               required />
        <span ng-click="addItem()"
              class="btn btn-primary input-group-addon"
              ng-disabled="invalid()">
          <i class="glyphicon glyphicon-plus"></i>
        </span>
      </div>
    </fieldset>
  </form>
</div>

<div class="modal-footer">
  <button ng-repeat="btn in buttons"
          ng-click="close(btn.result)"
          class="btn"
          ng-class="btn.cssClass">
    {{ btn.label }}
  </button>
</div>
<!-- / CE - camunda-bpm-webapp/webapp/src/main/resources-plugin/base/app/views/processInstance/identity-links-modal.html -->
