<!-- # CE - camunda-bpm-webapp/webapp/src/main/resources-plugin/base/app/views/processInstance/incidents-tab.html -->
<table class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th>Message</th>
      <th>Timestamp</th>
      <th>Activity</th>
      <th>Cause Process Instance Id</th>
      <th>Root Cause Process Instance Id</th>
      <th>Type</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="incident in incidents">
      <td>
        <div>
          <span ng-show="incident.incidentType === 'failedJob'">
            <a href="{{ getJobStacktraceUrl(incident) }}"
               target="_blank"
               ng-show="incident.rootCauseIncidentMessage"
               tooltip="Open stacktrace in new window"
               tooltip-placement="top">
              {{ incident.rootCauseIncidentMessage }}
            </a>
            <a href="{{ getJobStacktraceUrl(incident) }}"
               target="_blank"
               ng-hide="incident.rootCauseIncidentMessage"
               tooltip="Open stacktrace in new window"
               tooltip-placement="top">
              <i>Message is null.</i>
            </a>
          </span>
          <span ng-hide="incident.incidentType === 'failedJob'">
            <span ng-show="incident.rootCauseIncidentMessage">{{ incident.rootCauseIncidentMessage }}</span>
            <span ng-hide="incident.rootCauseIncidentMessage"><i>Message is null.</i></span>
          </span>
        </div>
      </td>
      <td>
        {{ incident.incidentTimestamp }}
      </td>
      <td>
        <span ng-show="incident.linkable">
          <a cam-select-activity="incident.activityId"
             ng-href="#/process-instance/{{ processInstance.id }}?activityIds={{ incident.activityId }}&amp;detailsTab=incidents-tab">
            {{ incident.activityName }}
          </a>
        </span>
        <span ng-hide="incident.linkable">
          {{ incident.activityName }}
        </span>
      </td>
      <td>
        <span ng-show="incident.causeIncidentProcessInstanceId !== incident.processInstanceId" >
          <a href="#/process-instance/{{incident.causeIncidentProcessInstanceId}}?activityIds={{ incident.causeIncidentActivityId }}&amp;detailsTab=incidents-tab">
            {{ incident.causeIncidentProcessInstanceId | shorten:8 }}
          </a>
        </span>
      </td>
      <td>
        <span ng-show="incident.rootCauseIncidentProcessInstanceId !== incident.processInstanceId" >
          <a href="#/process-instance/{{incident.rootCauseIncidentProcessInstanceId}}?activityIds={{ incident.rootCauseIncidentActivityId }}&amp;detailsTab=incidents-tab">
            {{ incident.rootCauseIncidentProcessInstanceId | shorten:8 }}
          </a>
        </span>
      </td>
      <td>
        {{ getIncidentType(incident) }}
      </td>
      <td>
        <a class="btn btn-default action-button"
           ng-click="openJobRetryDialog(incident)"
           ng-show="incident.incidentType === 'failedJob' && incident.configuration"
           tooltip="Increment Number of Retries of Failed Job"
           tooltip-placement="left">
          <i class="glyphicon glyphicon-repeat"></i>
        </a>
      </td>
    </tr>

    <tr ng-if="!incidents">
      <td colspan="7">
        <i class="glyphicon glyphicon-loading"></i> loading incidents...
      </td>
    </tr>

    <tr ng-if="incidents && !incidents.length">
      <td  colspan="7">
        No incidents
      </td>
    </tr>
  </tbody>
</table>


<pagination ng-if="pages.total > pages.size"
            class="pagination-sm"

            page="pages.current"
            ng-model="pages.current"

            total-items="pages.total"
            items-per-page="pages.size"

            max-size="7"
            boundary-links="true"></pagination>
<!-- / CE - camunda-bpm-webapp/webapp/src/main/resources-plugin/base/app/views/processInstance/incidents-tab.html -->
