<!-- # CE - camunda-bpm-webapp/webapp/src/main/resources-plugin/base/app/views/processInstance/job-retry-bulk-dialog.html -->
<div class="modal-header">
  <h3>Increment Number of Retries</h3>
</div>

<div class="modal-body">
  <div notifications-panel></div>

  <form name="selectFailedJobsForm"
        ng-hide="status === 'finished' || status === 'performing'">
    <fieldset>
      <p>Select one of the following failed jobs to increment their number of retries:</p>
      <table class="table table-striped table-hover table-condensed">
        <thead>
          <th class="row-select">
            <input type="checkbox"
                   title="Select all"
                   ng-model="allJobsSelected"
                   ng-change="selectAllJobs(allJobsSelected)">
          </th>
          <th>ID</th>
          <th>Scope</th>
          <th>Exception</th>
        </thead>
        <tbody>
          <tr ng-repeat="job in failedJobs">
            <td class="row-select">
              <input type="checkbox"
                     ng-model="job.selected"
                     ng-change="selectFailedJob(job)">
            </td>
            <td>{{ job.id | shorten:8 }}</td>
            <td>{{ job.instance.name }}</td>
            <td>{{ job.exceptionMessage }}</td>
          </tr>

          <tr ng-if="!failedJobs">
            <td colspan="4">
              <i class="glyphicon glyphicon-loading"></i> loading failed jobs...
            </td>
          </tr>

          <tr ng-if="failedJobs && !failedJobs.length">
            <td  colspan="4">
              There are no failed jobs available to increment their retries.
            </td>
          </tr>

        </tbody>
      </table>


      <pagination ng-if="jobPages.total > jobPages.size"
                  class="pagination-sm"

                  page="jobPages.current"
                  ng-model="jobPages.current"

                  total-items="jobPages.total"
                  items-per-page="jobPages.size"

                  max-size="7"
                  boundary-links="true"></pagination>
    </fieldset>
  </form>

  <div ng-show="status === 'finished' || status === 'performing'">

    <table class="table table-striped table-hover table-condensed">
      <thead>
        <th>ID</th>
        <th>Scope</th>
        <th>Status</th>
      </thead>
      <tbody>
        <tr ng-repeat="job in showJobsRetried">
          <td>{{ job.id | shorten:8 }}</td>
          <td>{{ job.instance.name }}</td>
          <td>
            <span ng-show="job.status && job.status === 'performing'">
              <i class="glyphicon glyphicon-loading"></i>
            </span>
            <span ng-show="job.status && job.status === 'successful'">
              <i class="glyphicon glyphicon-ok"></i>&nbsp;Successful
            </span>
            <span ng-show="job.status && job.status === 'failed'">
              <i class="glyphicon glyphicon-remove"></i>&nbsp;Failed
            </span>
          </td>
        </tr>
      </tbody>
    </table>


    <pagination ng-if="summarizePages.total > summarizePages.size"
                class="pagination-sm"

                page="summarizePages.current"
                ng-model="summarizePages.current"

                total-items="summarizePages.total"
                items-per-page="summarizePages.size"

                max-size="7"
                boundary-links="true"></pagination>
  </div>

</div>

<div class="modal-footer">
  <button class="btn"
          ng-click="close()"
          ng-hide="status === 'finished' || status === 'performing'">Close</button>

  <button class="btn btn-primary"
          ng-click="retryFailedJobs(selectedFailedJobIds)"
          ng-disabled="!failedJobs || !failedJobs.length || !selectedFailedJobIds.length"
          ng-hide="status === 'finished' || status === 'performing'">Retry</button>

  <button class="btn btn-primary"
          ng-click="close()"
          ng-disabled="status === 'performing'"
          ng-show="status === 'performing' || status === 'finished'">OK</button>
</div>
<!-- / CE - camunda-bpm-webapp/webapp/src/main/resources-plugin/base/app/views/processInstance/job-retry-bulk-dialog.html -->
