<!-- # CE - camunda-bpm-webapp/webapp/src/main/resources-plugin/base/app/views/processInstance/user-tasks-table.html -->
<table class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th>Activity</th>
      <th>Assignee</th>
      <th>Owner</th>
      <th>Creation Date</th>
      <th>Due Date</th>
      <th>Follow Up Date</th>
      <th>Priority</th>
      <th>Delegation State</th>
      <th>Task ID</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="userTask in userTasks">
      <td>
        <a cam-select-activity-instance="userTask.instance.id"
           ng-href="{{ getHref(userTask) }}">{{ userTask.instance.name || userTask.instance.id }}</a>
      </td>

      <td class="assignee">
        <cam-in-place-text-field
          submit="submitAssigneeChange"
          context="userTask"
          property="assignee" />
      </td>

      <td class="owner">
        {{ userTask.owner }}
      </td>

      <td class="created">
        {{ userTask.created }}
      </td>
      <td class="due">
        {{ userTask.due }}
      </td>
      <td class="follow-up">
        {{ userTask.followUp }}
      </td>
      <td class="priority">
        {{ userTask.priority }}
      </td>
      <td class="delegation-state">
        {{ userTask.delegationState }}
      </td>
      <td class="id">
        {{ userTask.id }}
      </td>

      <td class="group">
        <a ng-click="changeGroups()"
           ng-model="userTask"
           class="btn btn-default action-button"
           tooltip-placement="left"
           tooltip="Manage group(s) for '{{ userTask.name || userTask.id }}'">
          <i class="glyphicon glyphicon-user"></i>
        </a>
      </td>
    </tr>

    <tr ng-if="!userTasks">
      <td class="tasks-loading"
          colspan="10">
        <i class="glyphicon glyphicon-loading"></i> loading user tasks...
      </td>
    </tr>

    <tr ng-if="userTasks && !userTasks.length">
      <td class="tasks-empty"
          colspan="10">
        No user tasks
      </td>
    </tr>
  </tbody>
</table>


<pagination ng-if="pages.total > pages.size"
            class="pagination-sm"

            page="pages.current"
            ng-model="pages.current"

            total-items="pages.total"
            items-per-page="pages.size"

            max-size="7"
            boundary-links="true"></pagination>
<!-- / CE - camunda-bpm-webapp/webapp/src/main/resources-plugin/base/app/views/processInstance/user-tasks-table.html -->
