.EnterpriseComponent {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 15px;
  margin-top: -50px;
  margin-left: -200px;

  width: 432px;
  height: 132px;

  color: #a94442;
  background-color: #f2dede;
  border: 1px solid #ebccd1;
  border-radius: 0;
}