<module xmlns="urn:jboss:module:1.0" name="org.camunda.bpm.camunda-engine-plugin-spin">
  <resources>
    <resource-root path="camunda-engine-plugin-spin-@project.version@.jar" />
  </resources>

  <dependencies>

    <module name="javax.api" />

    <module name="org.camunda.bpm.camunda-engine" />

    <module name="org.camunda.spin.camunda-spin-core" />
    <module name="org.camunda.spin.camunda-spin-dataformat-json-jackson" services="import" />
    <module name="org.camunda.spin.camunda-spin-dataformat-xml-dom" services="import" />

  </dependencies>
</module>
