<module xmlns="urn:jboss:module:1.0" name="org.camunda.bpm.camunda-engine-plugin-spin">
  <resources>
    <resource-root path="camunda-engine-plugin-spin-@project.version@.jar" />
  </resources>

  <dependencies>

    <module name="java.base" />
    <module name="org.joda.time" slot="2.1" />

    <module name="org.camunda.commons.camunda-commons-typed-values" />
    <module name="org.camunda.commons.camunda-commons-logging" />
    <module name="org.camunda.bpm.camunda-engine" />

    <module name="org.camunda.spin.camunda-spin-core" />
    <module name="org.camunda.spin.camunda-spin-dataformat-json-jackson" services="import" />
    <module name="org.camunda.spin.camunda-spin-dataformat-xml-dom-jakarta" services="import" />

    <module name="org.camunda.bpm.dmn.camunda-engine-feel-scala" />
    <module name="org.camunda.feel.feel-engine" />
  </dependencies>
</module>
