.StateCircle {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  border: 2px solid;
  border-radius: 50%;

  &:before {
    font-family: "Glyphicons Halflings";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    font-size: 14px;
  }

  &.circle-red {
    color: #d9534f;
    &:before {
      content: "\e014";
    }
  }

  &.circle-green {
    color: #5cb85c;
    &:before {
      content: "\e013";
    }
  }
}
