<span class="sorting-label hidden-xs hidden-sm hidden-md"
      translate="SORT_BY"></span>

<ol class="sorting-choice list-inline">
  <li ng-repeat="(index, sorting) in sortings"
      class="sorting-choice dropdown">
    <a class="glyphicon glyphicon-minus-sign"
       ng-if="sortings.length > 1"
       ng-click="removeSorting(index)"
       tooltip-placement="bottom"
       tooltip="{{ 'REMOVE_SORTING' | translate }}"></a>

    <a href
       tabindex="-1"
       role="button"
       class="dropdown-toggle"
       data-toggle="dropdown">
      <span class="sort-by">{{ sortableProps[sorting.by] | lowercase }}</span>
    </a>

    <a href
       tabindex="-1"
       title="{{ sorting.order | translate }}"
       class="sort-direction glyphicon glyphicon-chevron-up"
       ng-class="{'glyphicon-chevron-up': sorting.order === 'asc', 'glyphicon-chevron-down': sorting.order === 'desc'}"
       ng-click="changeOrder(index)"></a>

    <ul class="dropdown-menu"
        role="menu">
      <li ng-repeat="(name, label) in sortableProps"
          ng-if="sortedOn.indexOf(name) < 0">
        <a href
           sort-by="{{ name }}"
           tabindex="-1"
           translate="{{ label }}"
           ng-click="changeBy(index, name)">
          {{ label }}
        </a>
      </li>
    </ul>
  </li>

  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  - - -->

  <li class="dropdown new-sort"
      ng-if="sortedOn.length < sortLimit">
    <a href
       role="button"
       class="dropdown-toggle"
       data-toggle="dropdown">
      <span class="glyphicon glyphicon-plus-sign"
            tooltip="{{ ADD_SORT_BY | translate }}"
            tooltip-placement="bottom"></span>
      <span class="hidden-xs hidden-sm hidden-md"
            translate="ADD_SORT_BY"></span>
    </a>

    <ul class="dropdown-menu"
        role="menu">
      <li ng-repeat="(name, label) in sortableProps"
          ng-if="sortedOn.indexOf(name) < 0">
        <a href
           sort-by="{{ name }}"
           tabindex="-1"
           translate="{{ label }}"
           ng-click="addSorting(name)">
        </a>
      </li>
    </ul>
  </li>
</ol>
