body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}
  
form input.ng-dirty.ng-invalid {
  background-color: #FA787E;
}

.footer {
  padding: 70px 0;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;
  background-color: whiteSmoke;
}

.tree {
  border: 1px solid #DDDDDD;
  overflow: auto;
}