<div class="content-fixed">

  <div id="sidebar" class="content content-sidebar well">
  
    <button on-click-hide-element="sidebar" selection="selection"></button>
  
    <div activity-instance-tree="processInstance.activityInstanceTree" selection="selection"></div>
    
  </div>

  <div id="main-content" class="content content-main" resize="selection.elements.toResize">
  
    <div class="main">
      <div class="main-position">
  
        <button on-click-show-element="sidebar" selection="selection"></button>
      
        <div process-diagram="processInstance.semantic" process-definition="processInstance.processDefinition"
              annotations="processInstance.activityInstanceStatistics" incidents="processInstance.incidentsOnActivityArray"
              selection="selection" clickable-elements="processInstance.clickableElements" style="width: 100%"></div>
      
        <div ng-show="processInstanceViews.length" class="value-content">
          <ul class="nav nav-tabs">
            <li ng-class="{ active: selectedView == viewProvider }" ng-repeat="viewProvider in processInstanceViews">
              <a href ng-click="selectView(viewProvider)">{{ viewProvider.label }}</a>
            </li>
          </ul>
    
          <view provider="selectedView" vars="processInstanceVars" />
        </div>
      </div>
    </div>
  </div>

</div>
