<!-- # CE - src/main/webapp/app/tasklist/directives/form-field.html -->
<div ng-switch="controlType" class="inline">

  <!--handling of SELECT elements -->
  <div ng-switch-when="SELECT" class="inline">
    <select ng-readonly="variable.readOnly" ng-model="variable.value"
    ng-options="option.value as option.label for option in options">

    </select>
  </div>

  <!--handling of Radio Button elements -->
  <div ng-switch-when="INPUT-RADIO" class="inline">
    <input type="radio" ng-readonly="variable.readOnly" ng-model="variable.value">
  </div>

  <!--handling of TEXTAREA elements -->
  <div ng-switch-when="TEXTAREA" class="inline">
    <textarea ng-model="variable.value">

    </textarea>
  </div>

  <!-- handling of regular INPUT elements -->
  <div ng-switch-default class="inline">
    <div ng-class="{ 'input-prepend': typeSwitch }" style="display:inline">
      <div class="btn-group" ngm-if="typeSwitch">
        <button class="btn dropdown-toggle" data-toggle="dropdown">
          {{ variable.type }}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href ng-click="setType('number')">number</a></li>
          <li><a href ng-click="setType('date')">date</a></li>
          <li><a href ng-click="setType('boolean')">boolean</a></li>
          <li><a href ng-click="setType('string')">string</a></li>
        </ul>
      </div>
      <span ng-switch="variable.type">
        <input ng-switch-when="number" ng-readonly="variable.readOnly" ng-model="variable.value" type="number" placeholder="value" />
        <label ng-switch-when="boolean" class="label-checkbox"><input ng-readonly="variable.readOnly" name="variable.name" ng-model="variable.value" type="checkbox" /></label>
        <input ng-switch-when="date" ng-readonly="variable.readOnly" ng-model="variable.value" type="datetime" placeholder="value" />
        <input ng-switch-default ng-readonly="variable.readOnly" ng-model="variable.value" type="text" placeholder="value" />
      </span>
    </div>
  </div>
</div>
<!-- / CE - src/main/webapp/app/tasklist/directives/form-field.html -->
