<!-- CE # camunda-bpm-webapp/ui/common/scripts/module/components/cam-pagination.html -->
<ul uib-pagination ng-if="Pagination.total > Pagination.pages.size"
            class="pagination-sm"

            page="Pagination.pages.current"
            ng-model="Pagination.pages.current"

            total-items="Pagination.total"
            items-per-page="Pagination.pages.size"

            max-size="7"
            boundary-links="true"></ul>
<!-- CE / camunda-bpm-webapp/ui/common/scripts/module/components/cam-pagination.html -->
