<!-- EE # src/main/resources-plugin/cockpit/drd/app/definition/tabs/decision-instances/component/drd-decision-instances-pagination.html -->
<pagination ng-if="Pagination.total > Pagination.pages.size"
            class="pagination-sm"

            page="Pagination.pages.current"
            ng-model="Pagination.pages.current"

            total-items="Pagination.total"
            items-per-page="Pagination.pages.size"

            boundary-links="true"></pagination>
<!-- EE / src/main/resources-plugin/cockpit/drd/app/definition/tabs/decision-instances/component/drd-decision-instances-pagination.html -->
