div#processDiagramWrapper .slider {
  margin-top : 20px;
  width: 150px;
}

div#processDiagramWrapper {
  position: relative;
}

div#processDiagram {
  min-height: 200px;
  height: 100%;
  overflow: hidden;
  cursor: pointer;

  /* disable text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div#processDiagram .drag {
  cursor: move;
}

.currentActivity  {
  -webkit-box-shadow: 0px 0px 35px 5px rgba(65,105,225, 1); /* WebKit */
  -moz-box-shadow: 0px 0px 35px 5px rgba(65,105,225, 1); /* Firefox */
  box-shadow: 0px 0px 35px 5px rgba(65,105,225, 1); /* Standard */
}

.currentActivityCount {
  position: absolute;
  top: 100%;
  padding: 8px;
  border-radius: 5px;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  background-color: #4169e1;
}
