<!-- # CE - camunda-cockpit-ui/client/scripts/pages/decision-definition.html -->
<div class="ctn-fixed-view">

  <div class="ctn-header">
    <h1>
      <span class="process-name-prefix">
        <span>Decision</span>
        <span>definition</span>
      </span>

      {{ decisionDefinition.name || decisionDefinition.key }}

    </h1>

    <div class="view-pills" id="cockpit.decisionDefinition.view"></div>
  </div>


  <div class="ctn-content-container"
       ctn-collapsable-parent="sidebar">

    <!-- tool bar -->
    <div class="ctn-toolbar">

      <!-- Toolbar actions are provided by plugins -->
      <span ng-repeat="tabProvider in decisionDefinitionActions">
        <view provider="tabProvider"
              vars="decisionInstanceVars" />
      </span>

    </div>

    <!-- sidebar -->
    <div class="ctn-column ctn-sidebar ctn-scroll"
         ctn-collapsable="left">


      <div class="definition-details">
        <div class="key">
          <span class="name">
            Key
          </span>
          {{ decisionDefinition.key }}
        </div>
      </div>

      <div class="filters">
        <div class="version-filter filter">
          <span class="name">
            Version
          </span>

          <span ng-if="!allDefinitions || !decisionDefinition"
                class="glyphicon glyphicon-refresh animate-spin"></span>

          <div class="btn-group dropdown"
               ng-if="allDefinitions && allDefinitions.length > 1">
            <button class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown">
              {{ decisionDefinition.version }} <span class="caret"></span>
            </button>

            <ul class="dropdown-menu">
              <li ng-repeat="definition in allDefinitions">
                <a ng-href="#/decision-definition/{{ definition.id }}">
                  {{ definition.version }}
                </a>
              </li>
            </ul>
          </div>

          <span ng-if="allDefinitions && allDefinitions.length < 2 && decisionDefinition">
            {{ decisionDefinition.version }}
          </span>
        </div>

      </div>

      <a class="navigate-deployment" ng-href="{{ getDeploymentUrl() }}">Navigate to deployment</a>

      <a class="hide-collapsable pull-right"></a>
    </div>


    <div class="ctn-column ctn-content"
         ctn-collapsable-parent="tabs">

      <!-- content top pane -->
      <div class="ctn-row ctn-content-top">
        <div decision-table="tableXml" style="height: 100%;"></div>
      </div>

      <!-- content bottom pane -->
      <div class="ctn-row ctn-content-bottom ctn-tabbed"
           ctn-collapsable="bottom">
        <div ng-show="decisionDefinitionTabs.length">
          <ul class="nav nav-tabs">
            <li ng-class="{ active: selectedTab == tabProvider }"
                ng-repeat="tabProvider in decisionDefinitionTabs">
              <a href ng-click="selectTab(tabProvider)">{{ tabProvider.label }}</a>
            </li>
          </ul>

          <div class="ctn-tabbed-content ctn-scroll">
            <view provider="selectedTab"
                  vars="decisionDefinitionVars" />
          </div>
        </div>
      </div>

      <a class="show-collapsable"></a>
    </div>

  </div>

</div><!-- end .ctn-fixed-view -->
<!-- / CE - camunda-cockpit-ui/client/scripts/pages/decision-definition.html -->
