<form name="form">
  <legend>Flow Node Count</legend>

  <div
    class="alert alert-info">
    <p>
      Displays an approximate number of flow nodes executed
      by the process engine in the selected time range.
    </p>
  </div>

  <div class="form-group">
    <label
      for="startDate">
      Start Date
    </label>
    <input
      type="text"
      ng-model="startDate"
      class="form-control"
      id="startDate">
  </div>

  <div class="form-group">
    <label
      for="endDate">
      End Date
    </label>
    <input
      type="text"
      ng-model="endDate"
      class="form-control"
      id="endDate">
  </div>


  <div class="form-group">
    <label>
      Result
    </label>
    <pre><strong>{{activityInstances}}</strong> ended Flow Node Instances.</pre>
  </div>

  <button
    type="submit"
    class="btn btn-default"
    ng-click="load()">
    Refresh
  </button>

</form>
