<module xmlns="urn:jboss:module:1.0" name="org.camunda.bpm.camunda-engine">
  <resources>
    <resource-root path="camunda-engine-@project.version@.jar" />
  </resources>

  <dependencies>

    <module name="java.base" />
    <module name="java.desktop" />
    <module name="java.management" />
    <module name="java.naming" />
    <module name="java.scripting" />
    <module name="java.sql" />
    <module name="jakarta.transaction.api"/>
    <module name="jakarta.enterprise.api" />
    <module name="jakarta.inject.api" />
    <module name="jakarta.ejb.api" />
    <module name="jakarta.xml.bind.api" />
    <module name="jakarta.servlet.api" />

    <module name="org.jboss.vfs" />

    <module name="org.mybatis.mybatis" />
    <module name="com.fasterxml.uuid.java-uuid-generator"/>
    <module name="org.joda.time" slot="2.1" />
    <module name="org.apache.groovy.groovy-all" services="import"/>
    <module name="org.python.jython" services="import"/>
    <module name="org.jruby.jruby-complete" services="import"/>
    <module name="org.graalvm.js.js-scriptengine" services="import"/>

    <module name="sun.jdk" services="import"/>

    <module name="org.camunda.bpm.model.camunda-xml-model" />
    <module name="org.camunda.bpm.model.camunda-bpmn-model" />
    <module name="org.camunda.bpm.model.camunda-cmmn-model" />
    <module name="org.camunda.bpm.model.camunda-dmn-model" />

    <module name="org.camunda.commons.camunda-commons-logging" />
    <module name="org.camunda.commons.camunda-commons-utils" />
    <module name="org.camunda.commons.camunda-commons-typed-values" export="true" />
    <module name="org.camunda.template-engines.camunda-template-engines-freemarker" services="import" />
    <module name="org.camunda.spin.camunda-spin-core" services="import" />

    <module name="org.camunda.bpm.dmn.camunda-engine-dmn" />
    <module name="org.camunda.bpm.juel.camunda-juel" services="import"/>

    <module name="org.slf4j" />

  </dependencies>
</module>
