<module xmlns="urn:jboss:module:1.0" name="org.graalvm.js.js-scriptengine">
  <resources>
    <resource-root path="js-scriptengine-@version.graal.js@.jar" />
  </resources>

  <dependencies>
    <module name="java.base" />
    <module name="java.scripting" />
    <module name="sun.jdk" />
    <module name="org.camunda.spin.camunda-spin-core" />
    <module name="org.graalvm.js.js" services="export" export="true" />
    <module name="org.graalvm.regex.regex" services="export" export="true" />
    <module name="org.graalvm.truffle.truffle-api" services="export" export="true" />
    <module name="org.graalvm.sdk.graal-sdk" services="export" export="true" />
    <module name="com.ibm.icu.icu4j" export="true" />
  </dependencies>
</module>
