<?xml version="1.0" encoding="UTF-8"?>
<web-app id="fox-cockpit" version="3.0"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee    http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<display-name>camunda fox cockpit</display-name>

	<description>The camunda fox cockpit webapp</description>

	<!-- Indicate to JBoss EL implementation bundled with the 
		webapp. This allows us to use EL 2.2 value expression with zero params.
		See https://issues.jboss.org/browse/SEAMFACES-208 -->
	<context-param>
		<param-name>com.sun.faces.expressionFactory</param-name>
		<param-value>org.jboss.el.ExpressionFactoryImpl</param-value>
	</context-param>
	
	<context-param>
		<param-name>com.sun.faces.enableMissingResourceLibraryDetection</param-name>
		<param-value>true</param-value>
	</context-param>
	
	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>*.xhtml</param-value>
	</context-param>

	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>server</param-value>
	</context-param>

	<context-param>
		<param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
		<param-value>true</param-value>
	</context-param>
	
	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>camunda</param-value>
	</context-param>
  
    <context-param>
      <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
      <param-value>true</param-value>
    </context-param>  

	<context-param>
		<!-- Can be accessed through #{facesContext.application.projectStage} or 
			FacesContext.getCurrentInstance().getApplication().getProjectStage() -->
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>${facesContext.application.projectStage}</param-value>
		<!-- use Development to see debug messages -->
	</context-param>

  <filter>
    <filter-name>Security Filter</filter-name>
    <filter-class>com.camunda.fox.security.webapp.SecurityFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Security Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>Cockpit Diagram Servlet</servlet-name>
		<servlet-class>com.camunda.fox.cockpit.webapp.diagram.DiagramServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Cockpit Diagram Servlet</servlet-name>
		<url-pattern>/diagram/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>PrimeFaces FileUpload Filter</filter-name>
		<filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>PrimeFaces FileUpload Filter</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
	</filter-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
  
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

</web-app>
