<module xmlns="urn:jboss:module:1.0" name="org.graalvm.sdk.graal-sdk">
  <resources>
    <resource-root path="graal-sdk-@version.graal.js@.jar" />
  </resources>

  <dependencies>
    <module name="java.base" />
    <module name="java.logging" />
    <module name="sun.jdk" />
  </dependencies>
</module>
