<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-ng-app="cycle">
  <head th:substituteby="fragment/common :: head">

  </head>
  <body data-ng-controller="DefaultController">
    <div class="wrapper">
      <div th:substituteby="fragment/common :: navigation-default"></div>
      <div class="container-fluid content-container content-inset">
        <div th:substituteby="fragment/common :: breadcrumbs"></div>
        <div th:substituteby="fragment/common :: error-panel"></div>
        <div class="row-fluid content-container">
          <div class="offset2 span3">
            <p class="offset-paragraph">
              It appears as if you are accessing cycle for the first time. 
              Please configure an admin user before you continue.
            </p>
          </div>
        </div>
        <div class="row-fluid">
          <div class="offset2 span3">
            <!-- user create form -->
            <form class="form-horizontal" novalidate data-ng-submit="save()" name="editUserForm" ng-cloak data-ng-controller="CreateInitialUserController">
              <fieldset>
                <div class="control-group" ng-class="errorClass(editUserForm.userName)">
                  <label class="control-label" for="userName" th:text="#{'User Name'}">User Name</label>
                  <div class="controls">
                    <input id="connectorLabel" name="userName" type="text" class="span6" data-ng-model="editUser.name" required autofocus />
                  </div>
                </div>
                <div class="control-group" ng-class="errorClass(editUserForm.email)">
                  <label class="control-label" for="email" 
                         th:text="#{'Email'}">Email</label>
                  <div class="controls">
                    <input id="email" name="email" type="text" class="span8" required email data-ng-model="editUser.email"/>
                    <p class="help-block" ng-show="editUserForm.email.$error.email">Not a valid email address</p>
                  </div>
                </div>
                <div class="control-group" ng-class="errorClass(editUserForm.passwordRepetition)">
                  <label class="control-label" for="password" 
                         th:text="#{'Password'}">Password</label>
                  <div class="controls">
                    <input id="password" name="password" type="password" class="span6" data-ng-model="editUser.password" />
                  </div>
                </div>
                <div class="control-group" ng-class="errorClass(editUserForm.passwordRepetition)">
                  <label class="control-label" for="password-repetition" 
                         th:text="#{'Password (repeated)'}">Password (repeated)</label>
                  <div class="controls">
                    <input id="password-repetition" name="passwordRepetition" type="password" required class="span6" matches="editUser.password" data-ng-model="passwordRepetition"/>
                    <p class="help-block" ng-show="editUserForm.passwordRepetition.$error.matches">Password and repetition do not match</p>
                  </div>
                </div>
                <div class="control-group">
                  <div class="controls">
                    <p class="help-block">The created user will be granted admin rights.</p>
                  </div>
                </div>
                <div class="control-group">
                  <div class="controls">
                    <input class="btn" type="submit" data-ng-disabled="!isValid()" value="Create user" />
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
      <div class="push-down"><!-- // --></div> 
    </div>
    <footer th:substituteby="fragment/common :: footer" />
  </body>
</html>
