<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.apache.ibatis" level="info" />

  <logger name="javax.activation" level="info" />

  <logger name="org.springframework" level="info" />

  <!-- wiremock logger -->
  <logger name="org.mortbay.log" level="info" />

  <logger name="org.camunda" level="info" />

  <logger name="org.camunda.bpm.engine.test" level="debug" />

  <!-- Ignore Testcontainers debug logs -->
  <logger name="org.testcontainers" level="info" />
  <logger name="com.github" level="info" />

<!--   <logger name="org.camunda.bpm.engine.impl.persistence.entity" level="debug" /> -->
<!--   <logger name="org.camunda.bpm.engine.impl.persistence.entity.JobEntity" level="debug" /> -->
<!--   <logger name="org.camunda.bpm.engine.impl.persistence.entity.HistoricJobLogEntity" level="debug" /> -->

<!--   <logger name="org.camunda.bpm.engine.history" level="debug" /> -->

<!--   <logger name="org.camunda.bpm.engine.bpmn.parser" level="debug" /> -->
<!--   <logger name="org.camunda.bpm.engine.bpmn.behavior" level="debug" /> -->

<!--   <logger name="org.camunda.bpm.engine.cmmn.transformer" level="debug" /> -->
<!--   <logger name="org.camunda.bpm.engine.cmmn.behavior" level="debug" /> -->
<!--   <logger name="org.camunda.bpm.engine.cmmn.operation" level="debug" /> -->

<!--   <logger name="org.camunda.bpm.engine.cmd" level="debug" /> -->
<!--   <logger name="org.camunda.bpm.engine.persistence" level="debug" /> -->
<!--   <logger name="org.camunda.bpm.engine.tx" level="debug" /> -->
<!--   <logger name="org.camunda.bpm.engine.cfg" level="debug" /> -->
<!--   <logger name="org.camunda.bpm.engine.jobexecutor" level="debug" /> -->
<!--   <logger name="org.camunda.bpm.engine.context" level="debug" /> -->
<!--   <logger name="org.camunda.bpm.engine.core" level="debug" /> -->
<!--   <logger name="org.camunda.bpm.engine.pvm" level="debug" /> -->

<!--   <logger name="org.camunda.bpm.engine.metrics" level="debug" /> -->
<!--   <logger name="org.camunda.bpm.engine.util" level="debug" /> -->
<!--   <logger name="org.camunda.bpm.engine.telemetry" level="debug" /> -->

<!--   <logger name="org.camunda.bpm.application" level="debug" /> -->
<!--   <logger name="org.camunda.bpm.container" level="debug" /> -->

  <root level="debug">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
