<beans xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
          http://java.sun.com/xml/ns/javaee http://docs.jboss.org/cdi/beans_1_0.xsd
          http://jboss.org/schema/weld/beans http://jboss.org/schema/weld/beans_1_1.xsd">
    <alternatives>
		<!-- generates some demo data for development purposes -->
		<class>com.camunda.fox.cockpit.webapp.demo.DemoDataGenerator</class>
		<class>com.camunda.fox.cockpit.demo.deployer.FoxPlatformDemoDataDeployer</class>
	</alternatives>
</beans>