<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge" />

    <title>Camunda Cockpit</title>

    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0" />

    <meta name="description"
          content="Camunda Cockpit" />
    <meta name="author"
          content="camunda services GmbH" />

    <!-- settings the base path for relative links -->
    <base href="$BASE"
          admin-api="$APP_ROOT/api/admin/"
          cockpit-api="$APP_ROOT/api/cockpit/"
          tasklist-api="$APP_ROOT/api/tasklist/"
          welcome-api="$APP_ROOT/api/welcome/"
          engine-api="$APP_ROOT/api/engine/"
          app-root="$APP_ROOT"
          app-name="cockpit" />

    <!-- an example of plugin/feature exclusion -->
    <!--
    <base href="$BASE"
          admin-api="$APP_ROOT/api/admin/"
          cockpit-api="$APP_ROOT/api/cockpit/"
          tasklist-api="$APP_ROOT/api/tasklist/"
          welcome-api="$APP_ROOT/api/welcome/"
          engine-api="$APP_ROOT/api/engine/"
          app-root="$APP_ROOT"
          cam-exclude-plugins="cockpit.dashboard:process-definition-tiles" />
    -->


    <!-- styles
    <link href="$APP_ROOT/app/cockpit/styles/styles.css?bust=$GRUNT_CACHE_BUST"
          rel="stylesheet" />
    <link href="$APP_ROOT/app/cockpit/styles/styles-components.css?bust=$GRUNT_CACHE_BUST"
          rel="stylesheet" />
    <link rel="stylesheet"
          type="text/css"
          href="$APP_ROOT/app/cockpit/styles/user-styles.css?bust=$GRUNT_CACHE_BUST">-->

    <!-- favicon
    <link rel="shortcut icon"
          href="$APP_ROOT/app/cockpit/assets/images/favicon.ico"
          type="image/x-icon" />-->
  </head>
  <body>
    <!-- navigation -->
    <div cam-widget-header
         class="Header"
         authentication="authentication"
         user-name="userFullName"
         current-app="cockpit"
         ng-cloak
         sign-out="{{ 'SIGN_OUT_ACTION' | translate }}"
         my-profile="{{ 'MY_PROFILE' | translate }}">
      <ul cam-if-logged-in
          ng-controller="camHeaderViewsCtrl">
        <li ng-repeat="actionProvider in menuActions"
            ng-if="actionProvider.accessible"
            ng-class="activeClass(actionProvider)">
            <view provider="actionProvider"></view>
        </li>
        <li class="dropdown"
            ng-if="dropdownActions.length"
            uib-dropdown>
          <a class="dropdown-toggle"
             uib-dropdown-toggle
             href>{{ 'COCKPIT_MORE' | translate}} <i class="caret"></i></a>
          <ul class="dropdown-menu" uib-dropdown-menu>
            <li ng-repeat="actionProvider in dropdownActions"
                ng-if="actionProvider.accessible"
                ng-class="activeClass(actionProvider)">
                <view provider="actionProvider"></view>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <!-- content -->
    <div class="ctn-main">
      <div class="ctn-wrapper">
        <div ng-if="showBreadcrumbs"
             ng-cloak
             cam-breadcrumbs-panel
             divider="&raquo;"
             class="breadcrumbs-panel"></div>

        <div notifications-panel
             class="page-notifications"></div>

        <!-- view body provided by ngView -->
        <div ng-view>
          <div class="app-splash"><div>
            <div class="spinner spinner-big"></div>
          </div></div><!-- / .app-splash -->
        </div>
      </div>
    </div>

    <!-- footer -->
    <footer cam-widget-footer
            version="v$VERSION"></footer>

    <script type="application/javascript" $CSP_NONCE>
        window.camCockpitConf = {};

        window.PLUGIN_DEPENDENCIES = $PLUGIN_DEPENDENCIES || [];
        window.PLUGIN_PACKAGES = $PLUGIN_PACKAGES || [];

        window.require = {
          waitSeconds: 0
        };
    </script>
  </body>
</html>
