<module xmlns="urn:jboss:module:1.0" name="com.jayway.jsonpath.json-path">
  <resources>
    <resource-root path="json-path-2.4.0.jar" />
  </resources>

  <dependencies>

    <module name="javax.api" />
    <module name="com.fasterxml.jackson.core.jackson-databind" />
    <module name="org.slf4j" />
    <module name="net.minidev.json-smart" />

  </dependencies>
</module>
