<div ng-hide="!!task && task.name">
  <div class="no-task well">
    <i class="glyphicon glyphicon-info-sign"></i>
    {{ 'SELECT_TASK_IN_LIST' | translate }}
  </div>
</div>
<section ng-if="!!task && task.name"
         class="task-card">
  <header class="row">
    <div class="col-xs-12">
      <div class="actions">

        <div class="pull-right" ng-controller="commentFormCtrl">
          <a href
             ng-click="createComment(task)">
            Add Comment
            <span class="glyphicon glyphicon-plus-sign"></span>
          </a>
        </div>
      </div>

      <div class="names">
        <h2 class="task">{{ task.name }}</h2>
        <h4 class="process-definition"
            ng-class="{suspended: task._embedded.processDefinition[0]}">
          {{ task._embedded.processDefinition[0].name || task._embedded.processDefinition[0].key }}
        </h4>
      </div>

      <div cam-tasklist-task-meta
           tasklist-data="tasklistData"></div>

    </div>
  </header>

  <div ng-if="!!task"
       class="row tabbed-content">
    <div class="col-xs-12">
      <tabset>
        <tab active="tabs.form"
             select="selectTab('form')">
          <tab-heading>
            {{ 'FORM' | translate }}

            <a class="glyphicon glyphicon-fullscreen"
               ng-if="task.formKey"
               ng-click="fullscreenForm()"></a>
          </tab-heading>

          <div class="form-pane">
            <div cam-tasklist-task-form
                 task="task"></div>
          </div>
        </tab>

        <tab ng-if="task.description"
             active="tabs.description"
             select="selectTab('description')"
             heading="{{ 'DESCRIPTION' | translate }}">
          <div class="description-pane">{{ task.description }}</div>
        </tab>

        <tab active="tabs.history"
             select="selectTab('history')"
             heading="{{ 'HISTORY' | translate }}">
          <div class="history-pane"
               cam-tasklist-task-history
               task="task">
          </div>
        </tab>

        <tab heading="{{ 'DIAGRAM' | translate }}"
             active="tabs.diagram"
             select="selectTab('diagram')">
          <div class="diagram-pane"
               cam-tasklist-task-diagram
               task="task">
          </div>
        </tab>

      </tabset>
    </div>
  </div>
</section>
