<div class="alert alert-danger" ng-if="error">
  {{error}}
</div>

<div class="day row" ng-repeat="day in days | orderBy:'-date'">
  <div class="col-xs-2">
    <div class="date-badge">
      <span class="day">{{ day.date | camDate:'day' }}</span>
      <span class="month">{{ day.date | camDate:'monthName' }}</span>
      <span class="year">{{ day.date | date:'yyyy' }}</span>
    </div>
  </div>

  <div class="col-xs-10 instant">
    <div class="instant row" ng-repeat="event in day.events | orderBy:'-time'">
      <div class="col-xs-2">
        {{ event.time | date:'HH:mm' }}
      </div>

      <div class="col-xs-10">
        <div class="row event-header">
          <span class="col-sm-12 col-md-9 operation-type">{{ event.type | translate }}</span>
          <span class="col-sm-12 col-md-3 operation-user">{{ event.userId }}</span>
        </div>
        <div class="row event-body">
          <div ng-repeat="subEvent in event.subEvents" ng-if="event.type !== 'Comment'">
            <div class="col-sm-12 col-md-3 event-property">{{ subEvent.property | translate }}</div>
            <div class="col-sm-12 col-md-9 event-value">
              <span ng-if="subEvent.orgValue">
                <span class="original-value">
                  <span ng-if="subEvent.propertyIsDate">{{ subEvent.orgValue | camDate }}</span>
                  <span ng-if="!subEvent.propertyIsDate">{{ subEvent.orgValue }}</span>
                </span>
                <span class="glyphicon glyphicon-arrow-right"></span>
              </span>
              <span class="new-value">
                <span ng-if="subEvent.propertyIsDate">{{ subEvent.newValue | camDate }}</span>
                <span ng-if="!subEvent.propertyIsDate">{{ subEvent.newValue }}</span>
              </span>
            </div>
          </div>
          <div class="col-xs-12" ng-if="event.type === 'Comment'">
            {{event.message}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
