<div ng-hide="!!task && task.name">
  <div class="no-task well">
    <i class="glyphicon glyphicon-info-sign"></i>
    {{ 'SELECT_TASK_IN_LIST' | translate }}
  </div>
</div>
<section ng-if="!!task && task.name"
         class="task-card">
  <header class="row">
    <div class="col-xs-12">
      <div class="actions">
        <!--
        <div class="full-size">
          <a href="#" ng-click="modalView()">
            <span class="glyphicon glyphicon-resize-full"></span>
          </a>
        </div>
        <div class="batch-selection">
          <input type="checkbox" ng-model="selected" ng-click="batchSelect()" />
        </div>
        -->
      </div>

      <div class="names">
        <h2 class="task">{{ task.name }}</h2>
        <h4 class="process-definition"
            ng-class="{suspended: task._embedded.processDefinition}">
          {{ task._embedded.processDefinition.name || task._embedded.processDefinition.key }}
        </h4>
      </div>

      <div cam-tasklist-task-meta
          task="task"></div>
    </div>
  </header>

  <div ng-if="!!task"
       class="row tabbed-content">
    <div class="col-xs-12">
      <tabset>
        <tab heading="{{ 'FORM' | translate }}">
          <div class="tab-pane">
            <div cam-tasklist-task-form
                 task="task"></div>
          </div>
        </tab>

        <tab ng-if="task.description"
             heading="{{ 'DESCRIPTION' | translate }}">
          <div class="tab-pane">{{ task.description }}</div>
        </tab>

        <tab ng-if="history"
             heading="{{ 'HISTORY' | translate }}">
          <div class="tab-pane">
            <div cam-tasklist-task-history
                 history="history"></div>
          </div>
        </tab>

        <tab heading="{{ 'DIAGRAM' | translate }}">
          <div class="tab-pane">TODO</div>
        </tab>
      </tabset>
    </div>
  </div>
</section>
