<ul class="meta list-inline times">
  <li cam-form-inline-field
      class="followup-date"
      ng-class="{overdue: task.followUp && (task.followUp < now) }"
      type="datetime"
      change="saveFollowUpDate(this)"
      value="task.followUp">

    <span tooltip-placement="top"
          tooltip-append-to-body="true"
          tooltip="{{ 'FOLLOW_UP_DATE' | translate }}"
          class="glyphicon glyphicon-bell"></span>

    <span ng-if="varValue"
          tooltip-placement="top"
          tooltip-append-to-body="true"
          tooltip="{{ varValue | camDate:'long' }}"
          am-time-ago="varValue">{{ varValue }}</span>

    <a href
       ng-if="!varValue"
       translate="SET_FOLLOW_UP_DATE">Set follow up</a>
  </li>



  <li cam-form-inline-field
      class="due-date"
      ng-class="{overdue: task.due && (task.due < now) }"
      type="datetime"
      change="saveDueDate(this)"
      value="task.due">
    <span tooltip-placement="top"
          tooltip-append-to-body="true"
          tooltip="{{ 'DUE_DATE' | translate }}"
          class="glyphicon glyphicon-calendar"></span>

    <span ng-if="varValue"
          tooltip-placement="top"
          tooltip-append-to-body="true"
          tooltip="{{ varValue | camDate:'long' }}"
          am-time-ago="varValue">{{ varValue }}</span>

    <a href
       ng-if="!varValue"
       translate="SET_DUE_DATE">Set due date</a>
  </li>
</ul>






<ul class="meta list-inline actors">
  <li class="assignee set-value"
      ng-if="!task.assignee">
    <span tooltip-placement="top"
          tooltip="{{ 'ASSIGNEE' | translate }}"
          class="glyphicon glyphicon-user"></span>

    <a href
       class="claim"
       ng-click="claim()"
       translate="CLAIM_TASK">Claim</a>
  </li>





  <li class="assignee"
      ng-if="task.assignee && !userIsAssignee()"
      cam-form-inline-field
      type="text"
      validate="validateUser(this)"
      change="assigning(this)"
      value="task.assignee">

    <span tooltip-placement="top"
          tooltip="{{ 'ASSIGNEE' | translate }}"
          class="glyphicon glyphicon-user"></span>

    {{ varValue }}
  </li>





  <li class="assignee"
      ng-if="userIsAssignee()">
    <span cam-form-inline-field
          class="set-value"
          type="text"
          validate="validateUser(this)"
          change="assigning(this)"
          value="task.assignee">

      <span tooltip-placement="top"
            tooltip="{{ 'ASSIGNEE' | translate }}"
            class="glyphicon glyphicon-user"></span>

      {{ varValue }}
    </span>

    <a href
       tooltip-placement="top"
       tooltip="{{ 'UNCLAIM_TASK' | translate }}"
       ng-click="unclaim()"
       class="unclaim glyphicon glyphicon-remove">
    </a>
  </li>

</ul>
