<module xmlns="urn:jboss:module:1.0" name="org.camunda.bpm.model.camunda-dmn-model">
  <resources>
    <resource-root path="camunda-dmn-model-@project.version@.jar" />
  </resources>

  <dependencies>

    <module name="javax.api" />
    <module name="org.camunda.bpm.model.camunda-xml-model" />

  </dependencies>
</module>
