<module xmlns="urn:jboss:module:1.0" name="com.camunda.fox.platform.fox-platform-jobexecutor-api">
  <resources>
    <resource-root path="fox-platform-jobexecutor-api-@project.version@.jar" />
  </resources>

  <dependencies>
    
    <module name="com.camunda.fox.engine.fox-engine" />    
        
  </dependencies>
</module>
