.Login {
  width: 50vw;
  max-width: 450px;
  padding: 60px 30px 30px 30px;
  margin: 30px auto;
  overflow: hidden;

  .login-header {
    text-align: center;
    margin: 25px 0 75px 0;

    .app-name {
      width: 100%;
      display: block;
      font-size: 28px;
      text-align: center;
      color: #666;
      margin-top: 15px;
    }
  }

  input {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .btn-primary {
    width: 100%;
    float: right;
  }
}
