name: Java Dependency Tree Diff

on:
  pull_request:
    types: [ labeled ]

jobs:
    build:
      runs-on: ubuntu-latest
      if: ${{ github.event.label.name == 'bot:java-dependency-tree' }}
      steps:
      - uses: actions/checkout@v2.3.4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: camunda/java-dependency-tree-diff@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
