<div class="control-group">
    <form>
        <div data-ng-show="variables.length == 0" class="alert alert-info">
            Click on add variable to add variables which will be submitted for the task completion.
        </div>
        <div data-ng-repeat="variable in variables">
            <h3>Variable {{$index +1}}</h3>
            <input data-ng-model="variable.key" type="text"/>
            <input data-ng-model="variable.value" type="text"/>
            <button class="btn btn-danger" data-ng-click="removeVariable($index)">Remove Variable</button>
        </div>

        <button class="btn btn-primary" data-ng-click="submitForm()">Submit</button>
        <button class="btn btn-info" data-ng-click="addVariable()">Add Variable</button>
    </form>
</div>