<div class="control-group" data-ng-class="{ retry: 'error' }">

  <div error-panel></div>
  <form data-ng-submit="login()">
      <label for="loginName"><strong>Username:</strong></label>
      <input type="text" id="loginName" data-ng-model="username" placeholder="Your Login" />

      <label for="loginPassword"><strong>Password:</strong></label>
      <input type="password" id="password" data-ng-model="password"/>

      <button type="submit" class="btn btn-primary">Sign In</button>
  </form>
</div>